/**********************************************
**
** YAPC::Kansai Custom CSS
**
***********************************************/

/* buttons */

.button a.btn-ticket {
  color:  #5cb85c;
  border: 2px solid #5cb85c;
}

.button a.btn-talk {
  color:  #b85c5c;
  border: 2px solid #b85c5c;
}

.button a.btn-before-night-party {
  color:  #5cb85c;
  border: 2px solid #5cb85c;
}

.button a.btn-after-party {
  color:  #5d5cb8;
  border: 2px solid #5d5cb8;
}

.button a.btn-add-lt {
  color:  #5cb85c;
  border: 2px solid #5cb85c;
}

.button a.btn-best-talk {
  color:  #b85c5c;
  border: 2px solid #b85c5c;
}

/* code-of-conduct */
#code-of-conduct p {
  margin-bottom: 1em;
}

/* about */
#about p {
  margin-bottom: 1em;
}

/* tickets */

#tickets ul {
  margin-bottom: 30px;
}

#tickets li.ticket {
  margin-top: 0.1em;
}

#tickets li.ticket b {
  font-weight: normal;
}

#tickets li.ticket b.sold-out {
  text-decoration: line-through;
}

#tickets li.ticket em.now-on-sale {
  display: none;
}

#tickets li.ticket em.sold-out {
  margin-left: 1em;
}

/* talks */
.talk-detail {
  margin-bottom: 1em;
}

.talk-detail aside.speaker {
  display: block;
  max-width: 800px;
  text-align: right;
  margin: 5px 0;
}

.talk-detail .description {
  white-space: pre-wrap;
  padding: 0.5em;
}

/* staff list */
ul.staff-list {
  list-style-type: none;
}

ul.staff-list > li {
  display: inline-block;
}

ul.staff-list > li img {
  width: 120px;
}

/* staff list */
ul.individual-sponsors {
  list-style-type: none;
}

ul.individual-sponsors > li {
  display: inline-block;
  margin: 0 15px 15px 0;
}

ul.individual-sponsors > li img {
  width: 120px;
}
ul.individual-sponsors > li i {
  color: black;
}

/* special session */
#special-session h4.title {
  font-size: 24px;
  margin-bottom: 16px;
}

#special-session article.description > p {
  margin-bottom: 1em;
}

/* timetable */

#timetable table {
  table-layout: fixed;
  font-size: 14px;
  border: 1px solid #aaaaaa;
  width: 100%;
}

#timetable th, #timetable td {
  border: 1px solid #aaaaaa;
  padding: 5px;
}
