@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: #fff;
}

body {
  color: #222;
  font-family: "IBM Plex Sans", sans-serif;
}

.en-serif {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
}

.en-serif-bold {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
}

.section {
  background: #fff;
  @apply border-b border-black py-12 sm:py-32 px-5;
}

.section:nth-child(odd) {
  background: transparent;
}

.table td {
  @apply p-1 sm:py-3 sm:px-6;
  border: 1px solid #000;
}

.whatyoulike {
  color: #333;
  text-shadow: 10px 10px 0px rgba(195, 33, 33, 0.1);
}

#p5-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#content {
  position: relative;
  z-index: 1;
}
