<%- include('partial/header'); -%>

	<section class="section bg-pattern flex flex-col items-center gap-[40px]">
		<img src="./images/logo-main.png" alt="YAPC::Hiroshima 2024 ロゴ" class="w-[400px] max-w-full" />
		<p class="font-extrabold text-2xl max-w-4xl mx-12">
			YAPCはYet Another Perl Conferenceの略で、Perlを軸としたITに関わる全ての人のためのカンファレンスです。
			Perlだけにとどまらない技術者たちが、好きな技術の話をし交流するカンファレンスで、技術者であれば誰でも楽しめるお祭りです！
		</p>
		<img src="./images/text-main-date.png" class="w-[613px] max-w-full" alt=" 2024年2月10日 広島国際会議場" />
	</section>

	<section class="section flex flex-col gap-[40px]">
		<h2 class="en-serif-bold text-6xl text-center">SCHEDULE</h2>
		<table class="table-fixed mx-auto en-serif text-bold text-3xl table">
			<tbody>
				<tr>
					<td>前夜祭</td>
					<td>2024年2月9日(金)</td>
					<td>TBD</td>
				</tr>
				<tr>
					<td>本編</td>
					<td>2024年2月10 日(土)</td>
					<td>広島国際会議場</td>
				</tr>
				<tr>
					<td>後夜祭</td>
					<td>2024年2月11日(日)</td>
					<td>TBD</td>
				</tr>
			</tbody>
		</table>
	</section>

	<section class="section bg-pattern flex flex-col items-center gap-[50px]">
		<p class="en-serif-bold text-9xl text-center">WHAT YOU LIKE</p>
		<img src="./images/okonomi.png" class="w-[732px] max-w-full" alt="" />
		<p class="font-extrabold text-3xl max-w-3xl mx-12">
			今回のYAPC::Hiroshima 2024は<span class="text-red">｢what you like｣</span>がテーマです。職種、ロール、プログラミング言語、技術要素...
			あなたのさまざまな<span class="text-red">｢お好み｣</span>を語ってみてください。</p>
	</section>

	<%- include('partial/footer'); -%>