<footer class="bg-bg-dark py-12">
  <div class="flex justify-center pb-7 gap-3">
    <a href="https://twitter.com/yapcjapan" title="Twitter" target="_blank"><img class="w-[35px]" src="./assets/images/btn_t.png" alt="Twitter" /></a>
    <a href="https://www.facebook.com/yapcjapan/" title="Facebook" target="_blank"><img class="w-[35px]" src="./assets/images/btn_f.png" alt="Facebook" /></a>
  </div>
  <address class="text-center not-italic">
    <a href="http://japan.perlassociation.org/" target="_blank"><img class="w-[90px] inline-block" src="./assets/images/jpa.png" alt="JPA" /></a>
    <p class="text-xs mt-3 text-jpa">© 2022 Japan Perl Association</p>
  </address>
</footer>
