<aside><div class="bg-footer-logo bg-footer-logo bg-no-repeat bg-center bg-[length:200px_100px] bg-bg-dark h-32 whitespace-nowrap overflow-hidden indent-[100%]">YAPC::Japan::Online 2022</div></aside>
<footer>
  <div class="flex flex-wrap justify-center py-8 gap-3">
    <a href="https://twitter.com/yapcjapan" title="Twitter" target="_blank"><img class="max-w-[35px]" src="./assets/images/btn_t.png" alt="Twitter" /></a>
    <a href="https://www.facebook.com/yapcjapan/" title="Facebook" target="_blank"><img class="max-w-[35px]" src="./assets/images/btn_f.png" alt="Facebook" /></a>
  </div>
  <address class="pb-12 text-center">
    <a href="http://japan.perlassociation.org/" target="_blank"><img class="max-w-[90px] block m-auto" src="./assets/images/jpa.png" alt="JPA" /></a>
    <span class="text-[0.5rem]">© 2022 Japan Perl Association</span>
  </address>
</footer>
