<footer class="py-12 bg-bg-dark">
  <div class="flex justify-center pb-7 gap-3">
    <a href="https://twitter.com/yapcjapan" title="Twitter" target="_blank"><img class="w-[35px]" src="./assets/images/btn_t.png" alt="Twitter" /></a>
    <a href="https://www.facebook.com/yapcjapan/" title="Facebook" target="_blank"><img class="w-[35px]" src="./assets/images/btn_f.png" alt="Facebook" /></a>
    <a href="https://blog.yapcjapan.org/" title="YAPC::Japan 運営ブログ" target="_blank"><img class="w-[35px]" src="./assets/images/icon-link.svg" alt="YAPC::Japan 運営ブログ" /></a>
  </div>
  <address class="not-italic text-center">
    <a href="http://japan.perlassociation.org/" target="_blank"><img class="w-[90px] inline-block" src="./assets/images/jpa.png" alt="JPA" /></a>
    <p class="mt-3 text-xs text-jpa">© 2022 Japan Perl Association</p>
  </address>
</footer>
