<nav class="w-full fixed z-20 bg-bg-dark flex flex-wrap justify-between items-center">
  <a class="inline-block p-2" href="/2022online/">
    <img src="/2022online/assets/images/logo_small.png" alt="YAPC::Japan::Online 2022" width="32" height="32" />
  </a>
  <input class="peer hidden" type="checkbox" id="nav-btn" />
  <label class="flex items-center p-2 cursor-pointer md:hidden" for="nav-btn">
    <svg class="fill-current h-4 w-4" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
  </label>
  <div class="peer-checked:block hidden w-full md:flex md:items-center md:w-auto text-sm font-bold text-primary">
    <a href="/2022online/#guest-speakers" class="block p-2 md:inline-block transition duration-500 hover:text-pink">
      Guest Speakers
    </a>
    <a href="/2022online/timetable.html" class="block p-2 md:inline-block transition duration-500 hover:text-pink">
      Timetable
    </a>
    <a href="/2022online/#sponsors" class="block p-2 md:inline-block transition duration-500 hover:text-pink">
      Sponsors
    </a>
  </div>
</nav>
