<nav class="fixed z-20 w-full px-2 bg-header-bg backdrop-blur sm:pr-8 sm:pl-5">
  <div class="container flex sm:h-[70px] flex-wrap items-center justify-between mx-auto">
    <a href="/2022online/">
      <img class="my-2 h-[27px] sm:h-[40px]" src="/2022online/assets/images/logo-header.svg" alt="YAPC::Japan::Online 2022" />
    </a>
    <input class="hidden peer" type="checkbox" id="nav-btn" />
    <label class="flex items-center p-2 cursor-pointer sm:hidden" for="nav-btn">
      <svg width="27" height="27" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg"><path stroke="#F05859" stroke-width="2" stroke-linecap="round" d="M8.5 10.5h20M8.5 18.5h20M8.5 26.5h20"></svg>
    </label>
    <div class="hidden w-full py-10 text-md peer-checked:flex peer-checked:flex-col sm:py-0 sm:flex sm:w-auto gap-8">
      <a href="/2022online/#speakers" class="block px-6 sm:px-0 text-tint">
        Speakers
      </a>
      <a href="/2022online/timetable.html" class="block px-6 sm:px-0 text-tint">
        Timetable
      </a>
      <a href="/2022online/#sponsors" class="block px-6 sm:px-0 text-tint">
        Sponsors
      </a>
      <a href="/2022online/staff.html" class="block px-6 sm:px-0 text-tint">
        Staff
      </a>
    </div>
  </div>
</nav>
