<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YAPC::Japan::Online 2022
      {{#page-title}}
        -
        {{ page-title }}
      {{/page-title}}
    </title>
    <link rel="stylesheet" href="/2022online/assets/css/index.css">
  </head>
  <body class="bg-bg">

    {{#include-index}}
      {{ > index }}
    {{/include-index}}

  </body>
</html>

