<div class="flex items-center justify-center bg-bg-dark text-primary relative overflow-hidden">

  <h1 class="mb-10 md:mb-32">
    <span class="bg-tint font-bold text-3xl text-white px-1 py-1 tracking-wider">
      Timetable
    </span>
  </h2>

  <div class="flex flex-wrap justify-center">
    {{#timetable}}
      <div class="text-center font-bold mt-12 mb-8">{{caption}}</div>
      <table class="table-auto" >
        <thead>
          <tr>
            <th class="px-4 py-2">時刻</th>
            <th class="px-4 py-2">トラックA</th>
            <th class="px-4 py-2">トラックB</th>
          </tr>
        </thead>
        <tbody>
          {{#talks}}
          <tr>
            <th class="border px-4 py-2">{{start}} ~ {{end}}</th>
            <td class="border px-4 py-2">
              {{#track1}}
                <a href="#{{talk_id}}">{{title}}</a>
                ({{talk_time}}min)
                <a href="{{author_url}}" target="_blank">{{author}}</a>
              {{/track1}}
            </td>
            <td class="border px-4 py-2">{{track2}}</div></td>
          {{/talks}}
        </tbody>
      </table>
    {{/timetable}}
  </div>
</div>


{{#talks}}
<div id="{{talk_id}}" class="invisible target:visible opacity-0 target:opacity-100 fixed max-w-full max-h-full z-30 flex flex-col rounded bg-white closed shadow">
  <a href="#" class="bg-red-600 text-white font-bold py-2 px-4">Close</a>
  <div class="">
    <h2 class="text-center font-bold">{{title}}</h2>
    {{description}}
    {{talk_time}}min
    {{author}}
    <img src="{{author_url}}"/>
    <a target="_blank" href="{{github_url}}">GitHub</a>
    <a target="_blank" href="{{twitter_url}}">Twitter</a>
    <a target="_blank" href="{{blog_url}}">Blog</a>
  </div>
</div>
{{/talks}}

