<div class="flex items-center justify-center pb-10 text-primary">
  <div class="container flex flex-col items-center justify-center">
    <h2 id="guest-speakers" class="pt-20 mb-10 md:mb-10">
      <span class="px-1 py-1 text-3xl font-bold tracking-wider text-white bg-tint">
        Timetable
      </span>
    </h2>

  <div class="flex flex-wrap justify-center">
    {{#timetable}}
      <div class="mt-12 mb-8 font-bold text-center">{{caption}}</div>
        <table class="table-fixed" >
          <thead>
            <tr>
              <th class="w-1/5 px-4 py-2">時刻</th>
              <th class="w-2/5 px-4 py-2">トラックA</th>
              <th class="w-2/5 px-4 py-2">トラックB</th>
            </tr>
          </thead>
          <tbody>
            {{#talks}}
            <tr class="odd:bg-white">
              <th class="px-4 py-2 border">{{start}} ~ {{end}}</th>
              <td class="px-4 py-2 border" {{^track2}}colspan=2{{/track2}}>
                {{#track1}}
                  {{#talk_id}}<a class="font-bold underline cursor-pointer" href="#talk-{{talk_id}}">{{title}}</a>{{/talk_id}}
                  {{^talk_id}}<span class="font-bold">{{title}}</span>{{/talk_id}}
                  {{#author}}{{author}}{{/author}}
                  ({{duration}}min)
                {{/track1}}
              </td>
              {{#track2}}
              <td class="px-4 py-2 border">
                  {{#track_id}}<a class="font-bold underline" href="#talk-{{talk_id}}">{{title}}</a>{{/track_id}}
                  {{^track_id}}<span class="font-bold underline">{{title}}</span>{{/track_id}}
                  {{#author}}{{author}}{{/author}}
                  ({{duration}}min)
              </td>
              {{/track2}}
            {{/talks}}
          </tbody>
        </table>
      </div>
    {{/timetable}}
  </div>
</div>


{{#talks}}
<div id="talk-{{talk_id}}" class="fixed z-30 flex flex-col invisible max-w-full max-h-full bg-white rounded shadow opacity-0 target:visible target:opacity-100 closed">
  <a href="#" class="px-4 py-2 font-bold text-white bg-red-600">Close</a>
  <div class="">
    <h2 class="font-bold text-center">{{title}}</h2>
    {{description}}
    {{talk_time}}min
    {{author}}
    <img src="{{author_url}}"/>
    <a target="_blank" href="{{github_url}}">GitHub</a>
    <a target="_blank" href="{{twitter_url}}">Twitter</a>
    <a target="_blank" href="{{blog_url}}">Blog</a>
  </div>
</div>
{{/talks}}

