<div class="flex items-center justify-center pb-10 text-primary">
  <div class="container flex flex-col items-center justify-center">
    <h2 id="guest-speakers" class="pt-20 mb-10 md:mb-10">
      <span class="px-1 py-1 text-3xl font-bold tracking-wider text-white bg-tint">
        Timetable
      </span>
    </h2>

  <div class="flex flex-wrap justify-center">
    {{#timetable}}
      <div class="mt-12 mb-8 font-bold text-center">{{caption}}</div>
        <table class="table-fixed" >
          <thead>
            <tr>
              <th class="w-1/5 px-4 py-2">時刻</th>
              <th class="w-2/5 px-4 py-2">トラックA</th>
              <th class="w-2/5 px-4 py-2">トラックB</th>
            </tr>
          </thead>
          <tbody>
            {{#talks}}
            <tr class="odd:bg-white">
              <th class="px-4 py-2 border">{{start}} ~ {{end}}</th>
              <td class="px-4 py-2 border" {{^track2}}colspan=2{{/track2}}>
                {{#track1}}
                  {{#talk_id}}<a class="font-bold underline cursor-pointer" href="#talk-{{talk_id}}">{{title}}</a>{{/talk_id}}
                  {{^talk_id}}<span class="font-bold">{{title}}</span>{{/talk_id}}
                  {{#author}}{{author}}{{/author}}
                  ({{duration}}min)
                {{/track1}}
              </td>
              {{#track2}}
              <td class="px-4 py-2 border">
                  {{#track_id}}<a class="font-bold underline" href="#talk-{{talk_id}}">{{title}}</a>{{/track_id}}
                  {{^track_id}}<span class="font-bold underline">{{title}}</span>{{/track_id}}
                  {{#author}}{{author}}{{/author}}
                  ({{duration}}min)
              </td>
              {{/track2}}
            {{/talks}}
          </tbody>
        </table>
      </div>
    {{/timetable}}
  </div>
</div>


{{#talks}}
<div id="talk-{{talk_id}}" class="fixed top-0 left-0 z-30 flex items-center justify-center invisible w-full h-full opacity-0 target:visible target:opacity-100">
  <a href="#" class="fixed top-0 left-0 w-full h-full bg-black opacity-50 cursor-default transition"></a>
  <div class="bg-bg-dark w-11/12 h-[80vh] z-40 overflow-scroll md:w-[704px]">
    <div class="text-right">
      <a href="#" class="p-2 text-2xl font-bold text-primary">&times;</a>
    </div>
    <div class="px-16 py-8 text-primary">
      <div class="mb-10 text-center md:mb-10">
        <span class="px-1 py-1 text-xl font-bold tracking-wider text-white bg-tint">
        Talk
        </span>
      </div>
      <h2 class="text-2xl font-bold text-center">{{title}}</h2>
      <div class="my-10 text-center">
        <img class="inline-block w-20 h-20 rounded-full" src="https://pbs.twimg.com/profile_images/1328671535817580545/yEUxMSSC_400x400.jpg" />
        <author class="block p-1 font-bold text-l">{{author}}</author>
        <div class="p-1">
          <a target="_blank" href="{{github_url}}">
            <img class="inline-block w-8 h-8" src="./assets/images/btn_github.png" alt="GitHub" />
          </a>
          <a target="_blank" href="{{twitter_url}}">
            <img class="inline-block w-8 h-8" src="./assets/images/btn_t.png" alt="Twitter" />
          </a>
          <a target="_blank" class="underline" href="{{blog_url}}">Blog</a>
        </div>
      </div>
      <div class="my-10 text-l">
        {{description}}
      </div>
    </div>
  </div>
</div>
{{/talks}}

