<div class="section" id="button">
<div class="button">
<ul>
<li><a href="#" class="btn btn-ticket btn-lg" target="_blank">一般・学生チケット</a></li>
<li><a href="#" class="btn btn-personal-sponsor btn-lg" target="_blank">個人スポンサーチケット</a></li>
<li><a href="#" class="btn btn-talk btn-lg" target="_blank">トーク応募</a></li>
</ul>
</div><!--  / .button /  -->
</div><!--  / .section /  -->
