<aside><div id="footer-logo">YAPC::Tokyo 2019</div></aside>
<footer>
<div id="footer">
<div class="inner">
<div class="social-button">
<ul>
<li><a href="https://twitter.com/yapcjapan" title="Twitter" target="_blank"><img src="/2019tokyo/assets/images/btn_t.png" alt="Twitter" /></a></li>
<li><a href="https://www.facebook.com/yapcjapan/" title="Facebook" target="_blank"><img src="/2019tokyo/assets/images/btn_f.png" alt="Facebook" /></a></li>
</ul>
</div><!--  / .social-button /  -->
<address>
<a href="http://japan.perlassociation.org/" target="_blank"><img src="/2019tokyo/assets/images/jpa.png" alt="JPA" /></a>
© 2019 Japan Perl Association
</address>
</div><!--  / .inner /  -->
</div><!--  / #footer /  -->
</footer>
<div id="pagetop"><a href="#top"><span class="lnr lnr-arrow-up"></span></a></div>
