<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>YAPC::Tokyo 2019{{#page-title}} - {{page-title}}{{/page-title}}</title>
<meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="description" content="YAPCはYet Another Perl Conferenceの略で、Perlを軸としたITに関わる全ての人のためのカンファレンスです。">
<meta name="keywords" content="YAPC,ヤプシー,Perl,PM,Japan Perl Association,JPA,YAPC::Tokyo,ヤプシー東京">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@yapcjapan">
<meta name="twitter:title" content="YAPC::Tokyo 2019">
<meta name="twitter:description" content="YAPCはYet Another Perl Conferenceの略で、Perlを軸としたITに関わる全ての人のためのカンファレンスです。">
<meta name="twitter:image" content="/2019tokyo/assets/images/ogp_600x600.png">
<meta property="fb:app_id" content="546362158903970"/>
<meta property="og:title" content="YAPC::Tokyo 2019"/>
<meta property="og:type" content="website"/>
<meta property="og:locale" content="ja_JP" />
<meta property="og:site_name" content="YAPC::Tokyo 2019" />
<meta property="og:title" content="YAPC::Tokyo 2019" />
<meta property="og:description" content="YAPCはYet Another Perl Conferenceの略で、Perlを軸としたITに関わる全ての人のためのカンファレンスです。"/>
<meta property="og:url" content="http://yapcjapan.org/2019tokyo/" />
<meta property="og:image" content="/2019tokyo/assets/images/ogp_1200x600.png" />
<meta property="og:image" content="/2019tokyo/assets/images/ogp_600x600.png" />
<link rel="shortcut icon" href="/2019tokyo/assets/images/favicon.ico">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" />
<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" />
<link rel="stylesheet" href="/2019tokyo/assets/css/ress.min.css"/>
<link rel="stylesheet" href="/2019tokyo/assets/css/bootstrap.min.css"/>
<link rel="stylesheet" media="(max-width: 899px)" href="/2019tokyo/assets/css/html.sp.css">
<link rel="stylesheet" media="(min-width: 900px)" href="/2019tokyo/assets/css/html.pc.css">
<link rel="stylesheet" href="/2019tokyo/assets/css/custom.css">
