{{> index/buttons}}

<div id="about">
  <h3 class="title">ABOUT</h3>
  <div class="section">
    <div class="body">
      <div class="row">
        <h4>YAPC::Japanが東京に帰ってきました！</h4>
        <p>
          YAPCはYet Another Perl Conferenceの略で、Perlを軸としたITに関わる全ての人のためのカンファレンスです。
          Perlだけにとどまらない技術者たちが、好きな技術の話をし交流するカンファレンスで、技術者であれば誰でも楽しめるお祭りです！
        </p>
        <p>
          今回のYAPC::Tokyoは「恩に感謝し報いる」ことを意味する、「報恩謝徳」をテーマに掲げて開催します。
          Perlをはじめ様々な技術を使って、捗ったこと、世の中に影響を与えられたこと、今に繋がっていること、そして、これからどんなことをしていきたいのか、
          そんな話をしましょう！ぜひ、皆さま楽しみに来てください！
        </p>
        <ul>
            <li>☆ ゲストスピーカー・トークスケジュール等は本サイト・<a href="https://twitter.com/yapcjapan" target="_blank">Twitter</a>・<a href="https://www.facebook.com/yapcjapan/" target="_blank">Facebook</a> にてお知らせいたします。併せてご覧ください。</li>
          <li>☆ 前祭夜・懇親会についても開催を予定しております。詳細が決まり次第、順次お知らせいたします。</li>
        </ul>
      </div>
      <dl>
        <dt>日時</dt>
        <dd><time datetime="2019-01-26T10:00:00+0900">2019/01/26 10:00</time> 〜 </dd>
      </dl>
      <dl>
        <dt>会場</dt>
        <dd><a href="#access">アクセス</a></dd>
      </dl>
    </div><!--  / .body /  -->
  </div><!--  / .section /  -->
</div><!--  / #about /  -->

<div id="news">
  <h3 class="title">NEWS</h3>
  <div class="section">
    <div class="body">
      <div class="article">
        <div class="info textcenter"></div>
        <!-- facebook page plugin -->
        <div class="fb-iframe">
          <div id="fb-root"></div>
          <script>
            (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.7&appId=546362158903970";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
          </script>
          <div class="fb-page" data-href="https://www.facebook.com/yapcjapan" data-tabs="timeline" data-width="1000" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
        </div>
      </div><!--  / .article /  -->
    </div><!--  / .body /  -->
  </div><!--  / .section /  -->
</div><!--  / #news /  -->
{{#include-guest-speakers}}
  {{> index/guest-speakers}}
{{/include-guest-speakers}}
{{#include-special-session}}
  {{> index/special-session}}
{{/include-special-session}}
{{#include-sponsors}}
  {{> index/sponsors}}
{{/include-sponsors}}

<div id="access">
  <h3 class="title">ACCESS</h3>
  <div class="section">
    <div class="body">
      <dl class="table row">
        <dt class="col-md-2">会場名</dt>
        <dd class="col-md-8">浅草橋ヒューリックホール＆ヒューリック カンファレンス</dd>
      </dl>
      <dl class="table row">
        <dt class="col-md-2">会場URL</dt>
        <dd class="col-md-8"><a href="http://hulic-hall.com/" target="_blank">http://hulic-hall.com/</a></dd>
      </dl>
      <dl class="table row">
        <dt class="col-md-2">最寄り駅</dt>
        <dd class="col-md-8">
          〒111-0053 東京都台東区浅草橋1-22-16 ヒューリック浅草橋ビル<br />
          2階 HULIC HALL［ヒューリックホール］<br />
          3階 HULIC COMFERENCE［ヒューリックカンファレンス］<br />
          ・JR総武線「浅草橋駅（西口）」より徒歩1分<br />
          ・都営浅草線「浅草橋駅（A3出口）」より徒歩2分
        </dd>
      </dl>
      <div class="iframe">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.151213763201!2d139.78222131536808!3d35.697896336665025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188eb1f554340b%3A0x1d708d9588fa7140!2z5rWF6I2J5qmL44OS44Ol44O844Oq44OD44Kv44Ob44O844OrIO-8huODkuODpeODvOODquODg-OCryDjgqvjg7Pjg5XjgqHjg6zjg7Pjgrk!5e0!3m2!1sja!2sjp!4v1539989795491" width="840" height="480" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div><!--  / .iframe /  -->
    </div><!--  / .body /  -->
  </div><!--  / .section /  -->
</div><!--  / #access /  -->
