{{> buttons}}

<div id="about">
<h3 class="title">ABOUT</h3>
<div class="section">
<div class="body">
<div class="row">
<h4>YAPC::Japanがついに沖縄に!</h4>
<p>YAPCはYet Another Perl Conferenceの略で、一般社団法人 JPAが主催する、Perlを軸としたITに関わる全ての人のためのカンファレンスです。<br />Perlだけにとどまらない多様な分野のトークセッションを通じ、情報交換や交流を行っていただくことで、<br />JPAのミッションである「日本におけるPerlコミュニティを脈々と続くものとして」盛り上げていくことが目標です。<br />今回のYAPC::Okinawaは「架け橋」を意味する、「万国津梁」をテーマに掲げて開催します。</p>
<div style="margin-bottom: 20px;">
<ul>
<li>・いままで使ってきた、そしてこれから使っていくPerlの話</li>
<li>・「こんな場所で役に立つ!」Perlで取得した技術</li>
<li>・Perlと出会った事で広がった技術やコミュニティの話</li>
</ul><br />
</div>
<p>といった内容を皆様にお届けできるよう、様々な企画・トークを準備してお待ちしております！<br />皆さま、こぞってご参加ください！</p>
<p>☆ ゲストスピーカー・トークスケジュール等はWebページ・Facebookにてお知らせいたします。併せてご覧ください。<br />☆ 前夜祭、懇親会についても開催を予定しております。詳細が決まり次第、順次お知らせいたします。</p>
</div>
<dl>
<dt>日時</dt>
<dd><time datetime="2018-03-03T10:00:00+0900">2018/03/03 10:00</time> 〜 </dd>
</dl>
<dl>
<dt>会場</dt>
<dd><a href="#access">アクセス</a></dd>
</dl>
</div><!--  / .body /  -->
</div><!--  / .section /  -->
</div><!--  / #about /  -->

<div id="news">
<h3 class="title">NEWS</h3>
<div class="section">
<div class="body">
<div class="article">
<div class="info textcenter">
<i class="material-icons">info_outline</i><a href="http://blog.yapcjapan.org/" target="_blank">YAPC::Japan公式ブログにて、おすすめの宿やグルメ・観光情報をお届け中！</a>
</div>
<!-- facebook page plugin -->
<div class="fb-iframe">
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.7&appId=546362158903970";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-page" data-href="https://www.facebook.com/yapcjapan" data-tabs="timeline" data-width="1000" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
</div>
</div><!--  / .article /  -->
</div><!--  / .body /  -->
</div><!--  / .section /  -->
</div><!--  / #news /  -->

<div id="guest-speakers">
<h3 class="title">GUEST SPEAKERS</h3>
<div class="section">
<div class="body">
<div class="row" id="NAME1">
<div class="col-md-3"><img src="https://dummyimage.com/600x600/eee/333" class=""/></div>
<div class="col-md-9">
<h4>氏名 名前 <a href="https://twitter.com/" target="_blank">@xxxxxxx</a></h4>
<p>
ここに文章が入りますここに文章が入りますここに文章が入りますここに文章が入ります。
</p>
</div>
</div>
<div class="row" id="NAME2">
<div class="col-md-3"><img src="https://dummyimage.com/600x600/eee/333" class=""/></div>
<div class="col-md-9">
<h4>氏名 名前 <a href="https://twitter.com/" target="_blank">@xxxxxxx</a></h4>
<p>
ここに文章が入りますここに文章が入りますここに文章が入りますここに文章が入ります。
</p>
</div>
</div>
<div class="row" id="NAME3">
<div class="col-md-3"><img src="https://dummyimage.com/600x600/eee/333" class=""/></div>
<div class="col-md-9">
<h4>氏名 名前 <a href="https://twitter.com/" target="_blank">@xxxxxxx</a></h4>
<p>
ここに文章が入りますここに文章が入りますここに文章が入りますここに文章が入ります。
</p>
</div>
</div>
</div><!--  / .body /  -->
</div><!--  / .section /  -->
</div><!--  / #guest-speakers /  -->

<div id="special-session">
<h3 class="title">SPECIAL SESSION</h3>
<div class="section">
<div class="body">
<div class="row">
<article class="description">
<h4 class="title">ここにタイトルが入ります。</h4>
<p>ここに文章が入りますここに文章が入りますここに文章が入りますここに文章が入ります。</p>
<p>ここに文章が入りますここに文章が入りますここに文章が入りますここに文章が入ります。</p>
</article>
</div>
<div class="row">
<h4 class="title">登壇者(50音順、敬称略)</h4>
</div>
<div class="row">
<div class="col-md-3"><img src="https://dummyimage.com/600x600/eee/333" class="" /></div>
<div class="col-md-9">
<div class="col-header">
<h4><small>株式会社まるまる</small><br />氏名 名前 <a href="#" target="_blank">@xxxxxxx</a></h4>
</div>
<div class="col-body">
<p>
ここに文章が入りますここに文章が入りますここに文章が入りますここに文章が入ります。
</p>
</div>
</div>
</div>
<div class="row">
<div class="col-md-3"><img src="https://dummyimage.com/600x600/eee/333" class="" /></div>
<div class="col-md-9">
<div class="col-header">
<h4><small>株式会社まるまる</small><br />氏名 名前 <a href="#" target="_blank">@xxxxxxx</a></h4>
</div>
<div class="col-body">
<p>
ここに文章が入りますここに文章が入りますここに文章が入りますここに文章が入ります。
</p>
</div>
</div>
</div>
<div class="row">
<div class="col-md-3"><img src="https://dummyimage.com/600x600/eee/333" class="" /></div>
<div class="col-md-9">
<div class="col-header">
<h4><small>株式会社まるまる</small><br />氏名 名前 <a href="#" target="_blank">@xxxxxxx</a></h4>
</div>
<div class="col-body">
<p>
ここに文章が入りますここに文章が入りますここに文章が入りますここに文章が入ります。
</p>
</div>
</div>
</div>
</div><!--  / .body /  -->
</div><!--  / .section /  -->
</div><!--  / #special-session /  -->

<div id="sponsors">
<h3 class="title">SPONSORS</h3>
<div class="section">
<div class="body">
<div class="class">
<h4>パール</h4>
<div class="block">
<ul>
<li class="large"><a href="" target="_blank"><img src="https://dummyimage.com/600x600/eee/333" alt="" /></a></li>
<li class="large"><a href="" target="_blank"><img src="https://dummyimage.com/600x600/eee/333" alt="" /></a></li>
</ul>
</div>
</div>
<div class="class">
<h4>プラチナ</h4>
<div class="block">
<ul>
<li class="large"><a href="" target="_blank"><img src="https://dummyimage.com/600x600/eee/333" alt="" /></a></li>
</ul>
</div>
</div>
<div class="class">
<h4>ゴールド</h4>
<div class="block">
<ul>
<li class="medium"><a href="" target="_blank"><img src="https://dummyimage.com/600x600/eee/333" alt="" /></a></li>
<li class="medium"><a href="" target="_blank"><img src="https://dummyimage.com/600x600/eee/333" alt="" /></a></li>
<li class="medium"><a href="" target="_blank"><img src="https://dummyimage.com/600x600/eee/333" alt="" /></a></li>
<li class="medium"><a href="" target="_blank"><img src="https://dummyimage.com/600x600/eee/333" alt="" /></a></li>
</ul>
</div>
</div>
<div class="class">
<h4>シルバー</h4>
<div class="block">
<ul>
<li class="small"><a href="" target="_blank"><img src="https://dummyimage.com/600x600/eee/333" alt="" /></a></li>
<li class="small"><a href="" target="_blank"><img src="https://dummyimage.com/600x600/eee/333" alt="" /></a></li>
<li class="small"><a href="" target="_blank"><img src="https://dummyimage.com/600x600/eee/333" alt="" /></a></li>
</ul>
</div>
</div>
<div class="class">
<h4>主催</h4>
<div class="block">
<ul>
<li class="medium"><a href="http://japan.perlassociation.org/" target="_blank"><img src="https://dummyimage.com/600x600/eee/333" alt="Japan Perl Association" width="220px" /></a></li>
</ul>
</div>
</div>
</div><!--  / .body /  -->
</div><!--  / .section /  -->
</div><!--  / #sponsors /  -->

<div id="access">
<h3 class="title">ACCESS</h3>
<div class="section">
<div class="body">
<dl class="table row">
<dt class="col-md-2">会場名</dt>
<dd class="col-md-8">浅草橋ヒューリックホール＆ヒューリック カンファレンス</dd>
</dl>
<dl class="table row">
<dt class="col-md-2">会場URL</dt>
<dd class="col-md-8"><a href="http://hulic-hall.com/" target="_blank">http://hulic-hall.com/</a></dd>
</dl>
<dl class="table row">
<dt class="col-md-2">最寄り駅</dt>
<dd class="col-md-8">
〒111-0053 東京都台東区浅草橋1-22-16 ヒューリック浅草橋ビル<br />
2階 HULIC HALL［ヒューリックホール］<br />
3階 HULIC COMFERENCE［ヒューリックカンファレンス］<br />
・JR総武線「浅草橋駅（西口）」より徒歩1分<br />
・都営浅草線「浅草橋駅（A3出口）」より徒歩2分
</dd>
</dl>
<div class="iframe">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.151213763201!2d139.78222131536808!3d35.697896336665025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188eb1f554340b%3A0x1d708d9588fa7140!2z5rWF6I2J5qmL44OS44Ol44O844Oq44OD44Kv44Ob44O844OrIO-8huODkuODpeODvOODquODg-OCryDjgqvjg7Pjg5XjgqHjg6zjg7Pjgrk!5e0!3m2!1sja!2sjp!4v1539989795491" width="840" height="480" frameborder="0" style="border:0" allowfullscreen></iframe>
</div><!--  / .iframe /  -->
</div><!--  / .body /  -->
</div><!--  / .section /  -->
</div><!--  / #access /  -->
