<div id="individual-sponsors">
<h3 class="title">INDIVIDUAL SPONSORS</h3>
<div class="section">
<div class="body">

<ul class="individual-sponsors">
<li class="sponsors">
<div class="img-box">
<a href="https://twitter.com/karupanerura/" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/karupanerura.png"/></a>
</div>
<a href="https://twitter.com/karupanerura/" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
<a href="https://github.com/karupanerura" target="_blank"><i class="fab fa-github-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="https://twitter.com/sho130/" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/sho130.jpg"/></a>
</div>
<a href="https://twitter.com/sho130/" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="https://twitter.com/sironekotoro" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/sironekotoro.png"/></a>
</div>
<a href="https://twitter.com/sironekotoro" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="https://twitter.com/SnappyRollcake" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/SnappyRollcake.jpg"/></a>
</div>
<a href="https://twitter.com/SnappyRollcake" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="https://twitter.com/m_zuma" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/m_zuma.png"/></a>
</div>
<a href="https://twitter.com/m_zuma" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="https://twitter.com/__papix__" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/papix.jpg"/></a>
</div>
<a href="https://twitter.com/__papix__" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="https://twitter.com/pastak" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/pastak.jpg"/></a>
</div>
<a href="https://twitter.com/pastak" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="https://twitter.com/ihive_ito" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/ihive_ito.jpg"/></a>
</div>
<a href="https://twitter.com/ihive_ito" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
<a href="https://github.com/itoken417" target="_blank"><i class="fab fa-github-square" aria-hidden="true"></i></a>
<a href="https://www.facebook.com/itoken417" target="_blank"><i class="fab fa-facebook-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="http://twitter.com/teckl/" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/teckl.png"/></a>
</div>
<a href="http://twitter.com/teckl/" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="http://twitter.com/pengo/" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/pengo.jpg"/></a>
</div>
<a href="http://twitter.com/pengo/" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="http://twitter.com/shunirr/" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/shunirr.png"/></a>
</div>
<a href="http://twitter.com/shunirr/" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="http://twitter.com/moznion/" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/moznion.png"/></a>
</div>
<a href="http://twitter.com/moznion/" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
<a href="https://github.com/moznion" target="_blank"><i class="fab fa-github-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="http://twitter.com/fuba/" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/fuba.jpg"/></a>
</div>
<a href="http://twitter.com/fuba/" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="http://twitter.com/sugyan/" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/sugyan.png"/></a>
</div>
<a href="http://twitter.com/sugyan/" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="http://twitter.com/kun432/" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/kun432.png"/></a>
</div>
<a href="http://twitter.com/kun432/" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
<a href="https://github.com/kun432" target="_blank"><i class="fab fa-github-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="https://twitter.com/nqounet" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/nqounet.jpg"/></a>
</div>
<a href="https://twitter.com/nqounet" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="http://twitter.com/jitsu/" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/jitsu.jpg"/></a>
</div>
<a href="http://twitter.com/jitsu/" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="http://twitter.com/uzulla/" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/uzulla.jpg"/></a>
</div>
<a href="http://twitter.com/uzulla/" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="http://twitter.com/isaoeka/" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/isaoeka.jpg"/></a>
</div>
<a href="http://twitter.com/isaoeka/" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
<a href="https://github.com/isaoeka" target="_blank"><i class="fab fa-github-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="https://twitter.com/perlzemi" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/perlzemi.jpg"/></a>
</div>
<a href="https://twitter.com/perlzemi" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="https://twitter.com/ara_ta3" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/ara_ta3.jpg"/></a>
</div>
<a href="https://twitter.com/ara_ta3" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="https://twitter.com/mihyaeru21" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/mihyaeru21.jpg"/></a>
</div>
<a href="https://twitter.com/mihyaeru21" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
<a href="https://github.com/mihyaeru21" target="_blank"><i class="fab fa-github-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="https://twitter.com/hoto17296" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/hoto17296.jpg"/></a>
</div>
<a href="https://twitter.com/hoto17296" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="https://github.com/ichigotake" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/ichigotake.png"/></a>
</div>
<a href="https://github.com/ichigotake" target="_blank"><i class="fab fa-github-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="https://twitter.com/maka2_donzoko" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/maka2_donzoko.png"/></a>
</div>
<a href="https://twitter.com/maka2_donzoko" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="https://twitter.com/yu_loveperl" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/yu_loveperl.jpg"/></a>
</div>
<a href="https://twitter.com/yu_loveperl" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="https://twitter.com/kazeburo" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/kazeburo.jpg"/></a>
</div>
<a href="https://twitter.com/kazeburo" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="https://twitter.com/kimihito_" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/kimihito_.jpg"/></a>
</div>
<a href="https://twitter.com/kimihito_" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="https://twitter.com/hrfmk" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/hrfmk.jpg"/></a>
</div>
<a href="https://twitter.com/hrfmk" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="http://profile.hatena.ne.jp/aipacommander/" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/aipacommander.jpg"/></a>
</div>
</li>
<li class="sponsors">
<div class="img-box">
<a href="https://twitter.com/xtetsuji" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/xtetsuji.png"/></a>
</div>
<a href="https://twitter.com/xtetsuji" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="https://twitter.com/ueneid" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/ueneid.jpg"/></a>
</div>
<a href="https://twitter.com/ueneid" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="https://github.com/mackee" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/mackee.png"/></a>
</div>
<a href="https://github.com/mackee" target="_blank"><i class="fab fa-github-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="https://github.com/atomita" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/atomita.jpg"/></a>
</div>
<a href="https://github.com/atomita" target="_blank"><i class="fab fa-github-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="https://twitter.com/tnaototo" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/tnaototo.jpg"/></a>
</div>
<a href="https://twitter.com/tnaototo" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="https://github.com/gugod" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/gugod.jpg"/></a>
</div>
<a href="https://github.com/gugod" target="_blank"><i class="fab fa-github-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="https://twitter.com/k_nishijima" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/k_nishijima.png"/></a>
</div>
<a href="https://twitter.com/k_nishijima" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="https://twitter.com/hakata_oyuki" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/hakata_oyuki.jpg"/></a>
</div>
<a href="https://twitter.com/hakata_oyuki" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="https://twitter.com/mahoyaya" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/mahoyaya.jpg"/></a>
</div>
<a href="https://twitter.com/mahoyaya" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="https://twitter.com/acidlemon" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/acidlemon.jpg"/></a>
</div>
<a href="https://twitter.com/acidlemon" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="https://twitter.com/miyaz697" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/miyaz697.jpg"/></a>
</div>
<a href="https://twitter.com/miyaz697" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="https://twitter.com/yasuhiro_onishi" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/yasuhiro_onishi.jpg"/></a>
</div>
<a href="https://twitter.com/yasuhiro_onishi" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="https://twitter.com/jigyakkuma_" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/jigyakkuma_.jpg"/></a>
</div>
<a href="https://twitter.com/jigyakkuma_" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="https://twitter.com/kazuki_sue" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/kazuki_sue.jpg"/></a>
</div>
<a href="https://twitter.com/kazuki_sue" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
<a href="https://github.com/kaneshirok" target="_blank"><i class="fab fa-github-square" aria-hidden="true"></i></a>
<a href="https://www.facebook.com/kaneshirok" target="_blank"><i class="fab fa-facebook-square" aria-hidden="true"></i></a>
</li>
<li class="sponsors">
<div class="img-box">
<a href="https://www.facebook.com/atsushi.kinjo" target="_blank"><img src="http://yapcjapan.org/2018okinawa/assets/images/individual-sponsors/atsushi.kinjo.jpg"/></a>
</div>
<a href="https://www.facebook.com/atsushi.kinjo" target="_blank"><i class="fab fa-facebook-square" aria-hidden="true"></i></a>
</li>
</ul>

</div><!--  / .body /  -->
</div><!--  / .section /  -->
</div><!--  / #individual-sponsors /  -->
