<nav id="menu">
  <div id="gnavi">
    <div class="innerblock">
      <ul>
{{#menu}}
        <li><a href="{{url}}" {{#blank}} target="_blank" {{/blank}}>{{title}}</a></li>
{{/menu}}
     </ul>
    </div><!--  / .innerblock /  -->
  </div><!--  / #gnavi /  -->
</nav>
