<!DOCTYPE html>
<html lang="ja" xmlns:og="http://ogp.me/ns#" xmlns:mixi="http://mixi-platform.com/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    {{> head}}
  </head>
  <body>
    <a id="top" name="top"></a>

    <header id="header">
      <nav class="header">
        <div class="btn-menu"><a href="javascript:void(0)"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a></div><!--  / .btn-menu /  -->
      </nav>
    </header>

    {{> menu}}

    <div id="wrapper">
      <div id="mainvisual">
        <div {{#include-index}}class="inner" {{/include-index}}id="scene">
          {{#include-index}}
            {{> index/mainvisual}}
          {{/include-index}}
        </div><!--  / #scene /  -->
        <hr class="red" />
        <hr class="black" />
      </div><!--  / #mainvisual /  -->

      <div id="container">
        {{#include-index}}
            {{> index}}
        {{/include-index}}
        {{#include-individual-sponsors}}
            {{> sub/individual-sponsors}}
        {{/include-individual-sponsors}}
        {{#include-timetable}}
            {{> sub/timetable}}
        {{/include-timetable}}
        {{#include-talks}}
            {{> sub/talks}}
        {{/include-talks}}
        {{#include-staffs}}
            {{> sub/staffs}}
        {{/include-staffs}}
      </div><!--  / #container /  -->

    {{> footer}}
    </div><!--  / #wrappper /  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://use.fonticons.com/5bcff1b8.js"></script>
    <script src="/2019tokyo/assets/js/bootstrap.min.js"></script>
    <script src="/2019tokyo/assets/js/parallax.min.js"></script>
    <script src="/2019tokyo/assets/js/functions.js"></script>
  </body>
</html>
