@charset "utf-8";

/*//////////////////////////////////////////////////////////
//  - CSS for HTML
//////////////////////////////////////////////////////////*/

* { 
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	color: #5b5744;
	font-size: 14px;
	font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'Tahoma', 'Noto Sans Japanese', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', '游ゴシック', 'YuGothic', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', sans-serif;
	line-height: 180%;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

#wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	background: #93c042 url(../images/header_base.jpg) no-repeat center top;
	-webkit-background-size: 100% auto;
	   -moz-background-size: 100% auto;
		    background-size: 100% auto;
	margin: 0 auto;
	padding-top: 50px;
	*padding-top: 0;
}

body > #wrapper { height: auto; }

a 			{ color: #4b8340; text-decoration: none; }
a:link		{ color: #4b8340; text-decoration: none; }
a:visited	{ color: #5a2f17; text-decoration: none; }
a:active	{ color: #5a2f17; text-decoration: none; }
a:hover		{ color: #c8a063; text-decoration: none; }
a.disabled	{ color: #555; }

img { width: 100%; }


/*----------------------------------------------------------
  - SHARE
----------------------------------------------------------*/

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}

fieldset, img {
	border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
}

blockquote, q {
	quotes: '' '';
}

abbr,acronym {
	border: 0;
}

li img,
dt img,
dd img { vertical-align: bottom; }

.clear      { clear: both; }
.hidden     { display: none; }
.floatleft  { float: left; }
.floatright { float: right; }
.textright  { text-align: right; }
.textcenter { text-align: center; }
.vmargin0   { margin-top: 0 !important; margin-bottom: 0 !important; }
.vmargin5   { margin-top: 5px; }
.vmargin10  { margin-top: 10px; }
.vmargin15  { margin-top: 15px; }
.vmargin20  { margin-top: 20px; }
.vmargin25  { margin-top: 25px; }
.vmargin30  { margin-top: 30px; }
.vmargin35  { margin-top: 35px; }
.vmargin40  { margin-top: 40px; }
.vmargin45  { margin-top: 45px; }
.vmargin50  { margin-top: 50px; }
.vmargin60  { margin-top: 60px; }
.vmargin70  { margin-top: 70px; }
.vmargin80  { margin-top: 80px; }

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.clearfix { min-height: 1px; }

* html .clearfix {
	height: 1px;
	/*¥*//*/
	height: auto;
	overflow: hidden;
	/**/
}

.brake { display: block; }

.iframe {
	position: relative;
	width: 100%;
	margin: 0 0 10px 0;
	padding-top: 56.25%;
}

.iframe iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}


/*----------------------------------------------------------
  - HEADER / GNAVI
----------------------------------------------------------*/

#header { display: none; }

#gnavi {
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: #5a2f17;
/*	background-color: rgba(90, 47, 23, 0.85);*/
	z-index: 2;
}
#gnavi.fixed {
	background-color: rgba(90, 47, 23, 0.85);
}

#gnavi .innerblock {
	_zoom: 1;
	overflow: hidden;
}

#gnavi .innerblock ul {
	position: relative;
	float: left;
	left: 50%;
	margin: 0;
	padding: 0;
}

#gnavi .innerblock ul li {
	position: relative;
	float: left;
	left: -50%;
	margin: 0;
	padding: 0;
}

#gnavi .innerblock ul li a {
	display: block;
	color: #fff;
	font-size: 15px;
	font-family: 'Chelsea Market', sans-serif;
/*	font-family: 'Clip-W7-Regular', sans-serif;*/
	font-weight: normal;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
	line-height: 20px;
	margin: 15px 10px 5px 10px;
	padding: 0;
}

#gnavi .innerblock ul li a::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	-webkit-transform: scaleX(0);
	    -ms-transform: scaleX(0);
	        transform: scaleX(0);
	background-color: #ffffff;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}
#gnavi .innerblock ul li a:hover::after {
	-webkit-transform: scaleX(1);
	    -ms-transform: scaleX(1);
	        transform: scaleX(1);
}


/*----------------------------------------------------------
  - LEAD
----------------------------------------------------------*/

#lead {
	max-width: 900px;
	margin: 0 auto 40px auto;
}

#lead h1 {
	position: relative;
	top: -15px;
	width: 345px;
	margin: 0 auto 5px auto;
	z-index: 3;
}

#lead h2 {
	position: relative;
	width: 672px;
	margin: 0 auto 30px auto;
	z-index: 1;
}

#lead .button {
    margin: auto;
    width: 300px;
    padding: 10px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
	text-align: center;
}

#lead .button .talk {
    margin-right: 10px;
    float: left;
}
#lead .button .ticket {
    float: left;
}

#lead .button .talk p {
    font-size: 12px;
    text-align: center;
}

#lead .button a.btn {
	color: #fff;
	border: 1px solid #fff;
	-webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
	        border-radius: 0px;
}

#lead .button a.btn-info { margin-right: 10px; }
#lead .button a.btn-success { margin-left: 10px; }


/*----------------------------------------------------------
  - CONTAINER
----------------------------------------------------------*/

#container {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 0 60px 0;
}

#container > .box {
	width: 900px;
	background-color: #fff;
	-webkit-border-radius: 30px;
	   -moz-border-radius: 30px;
	        border-radius: 30px;
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.55);
	   -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.55);
	        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.55);
	padding: 35px 35px 0px 35px;
}

#container .box .section {
	background: url(../images/hr_deer.png) no-repeat center top;
	-webkit-background-size: auto 65px;
	   -moz-background-size: auto 65px;
		    background-size: auto 65px;
	padding: 80px 0 40px 0;
}

#container .box .section h3.title {
	display: block;
	color: #5a2f17;
	font-size: 32px;
	font-family: 'Clip-W7-Regular', sans-serif;
	font-weight: normal;
	text-align: center;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
	line-height: 20px;
	letter-spacing: 0.01em;
	margin: 20px 0 30px 0;
	padding: 0;
}

#container .box .section .body {
	text-align: justify;
	text-justify: inter-ideograph;
	padding: 20px 30px 40px;
}

#container .box .section .body p {}
#container .box-single { margin-top: 20px; }

/*----------------------------------------------------------
  - HOME
----------------------------------------------------------*/

#access .table { margin-bottom: 10px; }

#news .article li { margin-bottom: 20px; }

#news .info {
    text-align: center;
    margin-bottom: 20px;
}
#news .info i {
    vertical-align: bottom;
    margin-right: 10px;
}

.fb-iframe {
    display: block;
    margin: 0 auto;
}

#guest-speakers .row {
	vertical-align: middle;
	margin-bottom: 20px;
}

#guest-speakers .row > div h4 {
	font-size: 16px;
	font-weight: 700;
	margin: 0;
	padding: 10px 0;
}

#sponsors .class h4 {
	font-size: 18px;
	font-weight: 700;
	margin: 0;
	padding: 10px 0;
}

#sponsors .class .block {
	width: 770px;
	_zoom: 1;
	overflow: hidden;
    margin-bottom: 20px;
}

#sponsors .class .block ul {
	margin: 0 0 20px 0;
	padding: 0;
}

#sponsors .class .block ul li {
	float: left;
	text-align: center;
	margin: 0 20px 10px 0;
}

#sponsors .class .block ul li img {
    box-shadow: 2px 2px 1px 1px #D0D0D0;
    -moz-box-shadow: 2px 2px 1px 1px #D0D0D0;
    -webkit-box-shadow: 2px 2px 1px 1px #D0D0D0;
}

#sponsors .class .block ul li.large img { width: 340px; }
#sponsors .class .block ul li.medium img { width: 220px; }
#sponsors .class .block ul li.small img { width: 150px; }

#sponsors .class .block ul li.platinum img { width: 210px; }
#sponsors .class .block ul li.gold img { width: 190px; }
#sponsors .class .block ul li.silver img { width: 170px; }
#sponsors .class .block ul li.special img { width: 170px; }
#sponsors .class .block ul li.other img { width: 150px; }

#staff .class h4 {
	font-size: 16px;
	font-weight: 700;
	margin: 0;
	padding: 10px 0;
}

#staff .class .block {
	_zoom: 1;
	overflow: hidden;
}

#staff .class .block ul {
	margin: 0 0 20px 0;
	padding: 0;
}

#staff .class .block ul li {
	float: left;
	text-align: center;
	margin: 0 10px 10px 0;
}

#staff .class .block ul li img { max-width: 110px; }

#code-of-conduct p { margin: 0 0 20px 0; }
#code-of-conduct .small p { font-size: 14px; }

#tickets p { margin-bottom: 20px; }
#tickets li { list-style-type: disc; }
#tickets .annotation {
    font-size: 12px;
    font-weight: 700;
}
#tickets h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

#about .first { margin-bottom: 14px; }

/* Special Session */

#container #special-session h3.title {
	margin: 20px 0 10px 0;
}

#special-session h4 {
    text-align: center;
    font-size: 20px;
	font-weight: 700;
	margin: 0 0 10px 0;
	padding: 10px 0;
}

#special-session .introduction {
	margin: 10px 0 20px 0;
    padding: 10px 0 10px 0;
}

#special-session div.title {
	display: block;
	font-size: 14px;
    margin: 30px 0 30px 0;
	padding: 0;
}

#special-session div.title h5 {
    float: left;
}

#special-session h5.moderator {
    margin: 30px 0 30px 0;
}

#special-session h5 {
	display: block;
	color: #5a2f17;
	font-size: 26px;
	font-family: 'Clip-W7-Regular', sans-serif;
	font-weight: normal;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
	line-height: 15px;
	letter-spacing: 0.01em;
    margin-right: 10px;
}

#special-session .row {
	vertical-align: middle;
	margin-bottom: 20px;
}

#special-session .row .col-header {
	font-size: 16px;
	margin: 0;
	padding: 10px 0 10px 0;
}

#special-session .row .col-header h6 {
	font-weight: 700;
    padding-bottom: 5px;
}

#special-session .row .col-body p {
    font-size: 14px;
    padding-bottom: 10px;
}

#individual-sponsors .class h4 {
	font-size: 16px;
	font-weight: 700;
	margin: 0;
	padding: 10px 0;
}

#individual-sponsors .class .block {
	_zoom: 1;
	overflow: hidden;
}

#individual-sponsors .class .block ul {
	margin: 0 0 20px 0;
	padding: 0;
}

#individual-sponsors .class .block ul li {
	float: left;
	text-align: center;
	margin: 0 15px 15px 0;
}

#individual-sponsors .class .block ul li div {
    width: 110px;
    height: 110px;
}

#individual-sponsors .class .block ul li img {
    width: auto;
    max-height: 110px;
    height: 110px;
}

/*----------------------------------------------------------
  - FOOTER / LOGO
----------------------------------------------------------*/

aside #footer-logo {
	width: 100%;
	height: 160px;
	background: #5a2f17 url(../images/logo_horizon.png) no-repeat scroll center center / auto 140px;
	text-indent: -9999px;
	text-decoration: none;
	overflow: hidden;
}

#footer {
	position: relative;
	color: #fff;
	width: 100%;
	background-color: #c8a063;
	padding: 50px 0;
}
#footer a { color: #fff; }

#footer a { color: #fff; }

#footer .social-button {
	position: relative;
	margin: 0 auto 30px auto;
	padding: 0;
	_zoom: 1;
	overflow: hidden;
}
#footer .social-button ul {
	position: relative;
	float: left;
	left: 50%;
}
#footer .social-button li {
	position: relative;
	left: -50%;
	float: left;
	font-size: 40px;
	margin: 0 15px;
}

#footer .social-button a .fa-twitter { color: #55acee;}
#footer .social-button a .fa-facebook-official { color: #3b5998; }

#footer address .JPA img {
	max-width: 150px;
	margin: auto;
}

#footer address {
	font-size: 12px;
	text-align: center;
}

#pagetop {
	position: fixed;
	right: 30px;
	bottom: 30px;
	line-height: 100%;
	z-index: 99999;
}

#pagetop a {
	display: block;
	color: #5a2f17;
	font-size: 50px;
	text-align: center;
	margin: 0;
	padding: 0;
}
#pagetop a:hover { color: #fff; text-decoration: none; }

/* timetable */
#timetable table {
    table-layout: fixed;
    font-size: 14px;
    border: 1px solid #aaaaaa;
    width: 100%;
}

#timetable table thead {
    border: 1px solid #aaaaaa;
}

#timetable th {
    border: 1px solid #aaaaaa;
    padding: 5px;
}

#timetable td {
    border: 1px solid #aaaaaa;
    padding: 5px;
}

#timetable .modal-dialog {
    padding-top: 10%;
}

#timetable .modal-title {
    margin-bottom: 5px;
}

#timetable .modal-header p {
    font-size: 14px;
    float: left;
}

#timetable .modal-header .social {
    font-size: 20px;
    margin-left: 10px;
}

#timetable .modal-body {
    font-size: 14px;
    margin: 10px;
}

/*----------------------------------------------------------
  - TBD
----------------------------------------------------------*/

.sample {
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	text-indent: -9999px;
	text-decoration: none;
	overflow: hidden;
	_zoom: 1;
	overflow: hidden;
	filter:alpha(opacity=30);
	-moz-opacity: 0.3;
	opacity: 0.3;
	-webkit-background-size: 30px auto;
	   -moz-background-size: 30px auto;
		    background-size: 30px auto;
	-webkit-background-origin: content;
	   -moz-background-origin: content;
	        background-origin: content;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

@media screen and (min-width: 769px) {
}

@media screen and (min-width: 0px) and (max-width: 768px) {
}

