@charset "utf-8";

/*//////////////////////////////////////////////////////////
//  - CSS for HTML
//////////////////////////////////////////////////////////*/

* { 
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	color: #5b5744;
	font-size: 14px;
	font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'Tahoma', 'Noto Sans Japanese', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', '游ゴシック', 'YuGothic', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', sans-serif;
	line-height: 180%;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

#wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	background: #93c042 url(../images/header_base.jpg) no-repeat right top;
	-webkit-background-size: auto 250px;
	   -moz-background-size: auto 250px;
		    background-size: auto 250px;
	margin: 0 auto;
	padding-top: 45px;
	*padding-top: 0;
}

body > #wrapper { height: auto; }

a 			{ color: #4b8340; text-decoration: none; }
a:link		{ color: #4b8340; text-decoration: none; }
a:visited	{ color: #5a2f17; text-decoration: none; }
a:active	{ color: #5a2f17; text-decoration: none; }
a:hover		{ color: #c8a063; text-decoration: none; }
a.disabled	{ color: #555; }

img { width: 100%; }


/*----------------------------------------------------------
  - SHARE
----------------------------------------------------------*/

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}

fieldset, img {
	border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
}

blockquote, q {
	quotes: '' '';
}

abbr,acronym {
	border: 0;
}

li img,
dt img,
dd img { vertical-align: bottom; }

.clear      { clear: both; }
.hidden     { display: none; }
.floatleft  { float: left; }
.floatright { float: right; }
.textright  { text-align: right; }
.textcenter { text-align: center; }
.vmargin0   { margin-top: 0 !important; margin-bottom: 0 !important; }
.vmargin5   { margin-top: 5px; }
.vmargin10  { margin-top: 10px; }
.vmargin15  { margin-top: 15px; }
.vmargin20  { margin-top: 20px; }
.vmargin25  { margin-top: 25px; }
.vmargin30  { margin-top: 30px; }
.vmargin35  { margin-top: 35px; }
.vmargin40  { margin-top: 40px; }
.vmargin45  { margin-top: 45px; }
.vmargin50  { margin-top: 50px; }
.vmargin60  { margin-top: 60px; }
.vmargin70  { margin-top: 70px; }
.vmargin80  { margin-top: 80px; }

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.clearfix { min-height: 1px; }

* html .clearfix {
	height: 1px;
	/*¥*//*/
	height: auto;
	overflow: hidden;
	/**/
}

.brake { display: block; }

.iframe {
	position: relative;
	width: 100%;
	margin: 0 0 10px 0;
	padding-top: 56.25%;
}

.iframe iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}


/*----------------------------------------------------------
  - HEADER / GNAVI
----------------------------------------------------------*/

#gnavi { display: none; }

#header {
	position: fixed;
	width: 100%;
	height: 45px;
	background-color: #5a2f17;
	z-index: 2;
}
#header.fixed { background-color: rgba(90, 47, 23, 0.85); }

#header .header {
	position: relative;
	margin: 0 auto;
	padding: 0 15px;
	overflow: visible;
}

#header .header .btn-menu a {
	position: absolute;
	display: block;
	top: 13px;
	left: 15px;
	text-decoration: none;
	width: 30px;
	height: 20px;
	padding: 2px 5px 13px 2px;
}
#header .btn-menu .icon-bar {
	display: block;
	width: 25px;
	height: 2px;
	background-color: #fff;
	margin: 0 auto;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
}
#header .btn-menu .icon-bar + .icon-bar { margin-top: 5px; }

.mm-opening #header .btn-menu a:before {
	position: absolute;
	top: 0;
	right: 0px;
	content: "\f057";
	color: #fff;
	font-size: 20px;
	font-family: 'FontAwesome';
	padding: 0;
}
.mm-opening #header .btn-menu .icon-bar { display: none; }

.mm-opened #gnavi { display: block; }
#gnavi .mm-listview > li > a {
	color: #5a2f17;
	font-size: 16px;
	font-family: 'Chelsea Market', sans-serif;
	line-height: 100%;
}
.mm-navbar { background-color: #5a2f17 !important; }
.mm-navbar a.mm-btn:before,
.mm-navbar a.mm-btn:after { border-color: rgba(255, 255, 255, 1) !important; }
.mm-navbar a.mm-title {
	color: #fff !important;
	font-family: 'Clip-W7-Regular', sans-serif !important;
	letter-spacing: 0.03em;
}
.mm-opening #gnavi .menu > li > a span.pc { display: none; }


/*----------------------------------------------------------
  - LEAD
----------------------------------------------------------*/

#lead {
	margin: 0 auto 40px auto;
}

#lead h1 {
	margin: 0 50px 5px 50px;
}

#lead h1,
#lead h1 img {
	position: relative;
	z-index: 3;
}

#lead h2 {
	position: relative;
	margin: 0 15px 20px 15px;
	z-index: 1;
}

#lead .button {
	text-align: center;
}

#lead .button a.btn {
	color: #fff;
	border: 1px solid #fff;
	-webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
	        border-radius: 0px;
}

#lead .button a.btn-info { margin-right: 10px; }
#lead .button a.btn-success { margin-left: 10px; }


/*----------------------------------------------------------
  - CONTAINER
----------------------------------------------------------*/

#container {
	margin: 0 10px;
	padding: 0 10px 40px 10px;
}

#container > .box {
	max-width: 900px;
	background-color: #fff;
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	        border-radius: 20px;
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.55);
	   -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.55);
	        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.55);
	padding: 30px 15px 0 15px;
}

#container .box .section {
	background: url(../images/hr_deer.png) no-repeat center top;
	-webkit-background-size: auto 45px;
	   -moz-background-size: auto 45px;
		    background-size: auto 45px;
	padding: 50px 0 40px 0;
}

#container .box .section h3.title {
	display: block;
	color: #5a2f17;
	font-size: 28px;
	font-family: 'Clip-W7-Regular', sans-serif;
	font-weight: normal;
	text-align: center;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
	line-height: 20px;
	margin: 10px 0 20px 0;
	padding: 0;

}

#container .box .section .body {
	text-align: justify;
	text-justify: inter-ideograph;
	padding: 20px 10px 40px;
}

#container .box .section .body p {}
#container .box-single { margin-top: 20px; }


/*----------------------------------------------------------
  - HOME
----------------------------------------------------------*/

#access .table { margin-bottom: 10px; }

#news .article li { margin-bottom: 20px; }

#news .article li .date,
#news .article li a { display: block; }

.fb-iframe {
    display: block;
    margin: 0 auto;
}

#guest-speakers .row {
	vertical-align: middle;
	margin-bottom: 20px;
}

#guest-speakers .row > div h4 {
	font-size: 16px;
	font-weight: 700;
	margin: 0;
	padding: 10px 0;
}

#guest-speakers .row .col-md-3 { text-align: center; }
#guest-speakers .row .col-md-3 img { max-width: 250px; }

#sponsors .class h4 {
	font-size: 16px;
	font-weight: 700;
	margin: 0;
	padding: 10px 0;
}

#sponsors .class .block {
	_zoom: 1;
	overflow: hidden;
}

#sponsors .class .block ul {
	margin: 0 0 20px 0;
	padding: 0;
}

#sponsors .class .block ul li {
	display: block;
	float: left;
	width: 100%;
	text-align: center;
	margin: 0 10px 10px 0;
}

#sponsors .class .block ul li.large img { max-width: 320px; }
#sponsors .class .block ul li.medium img { max-width: 160px; }
#sponsors .class .block ul li.small img { max-width: 110px; }

#sponsors .class .block ul li.platinum img { width: 230px; }
#sponsors .class .block ul li.gold img { width: 190px; }
#sponsors .class .block ul li.silver img { width: 162px; }
#sponsors .class .block ul li.other img { width: 114px; }

#staff .class h4 {
	font-size: 16px;
	font-weight: 700;
	margin: 0;
	padding: 10px 0;
}

#staff .class .block {
	_zoom: 1;
	overflow: hidden;
}

#staff .class .block ul {
	margin: 0 0 20px 0;
	padding: 0;
}

#staff .class .block ul li {
	float: left;
	text-align: center;
	margin: 0 10px 10px 0;
}

#staff .class .block ul li img { max-width: 110px; }

/*----------------------------------------------------------
  - FOOTER / LOGO
----------------------------------------------------------*/

aside #footer-logo {
	width: 100%;
	height: 100px;
	background: #5a2f17 url(../images/logo_horizon.png) no-repeat scroll center center / auto 80px;
	text-indent: -9999px;
	text-decoration: none;
	overflow: hidden;
}

#footer {
	position: relative;
	color: #fff;
	width: 100%;
	background-color: #c8a063;
	padding: 30px 0;
}
#footer a { color: #fff; }

#footer a { color: #fff; }

#footer .social-button {
	position: relative;
	margin: 0 auto 20px auto;
	padding: 0;
	_zoom: 1;
	overflow: hidden;
}
#footer .social-button ul {
	position: relative;
	float: left;
	left: 50%;
}
#footer .social-button li {
	position: relative;
	left: -50%;
	float: left;
	font-size: 30px;
	margin: 0 15px;
}

#footer .social-button a .fa-twitter { color: #55acee;}
#footer .social-button a .fa-facebook-official { color: #3b5998; }

#footer address .JPA img {
	max-width: 100px;
	margin: auto;
}

#footer address {
	font-size: 11px;
	text-align: center;
}

#pagetop {
	position: fixed;
	right: 10px;
	bottom: 10px;
	line-height: 100%;
	z-index: 99999;
}

#pagetop a {
	display: block;
	color: #5a2f17;
	font-size: 30px;
	text-align: center;
	margin: 0;
	padding: 0;
}
#pagetop a:hover { color: #fff; text-decoration: none; }


/*----------------------------------------------------------
  - TBD
----------------------------------------------------------*/

.sample {
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	text-indent: -9999px;
	text-decoration: none;
	overflow: hidden;
	_zoom: 1;
	overflow: hidden;
	filter:alpha(opacity=30);
	-moz-opacity: 0.3;
	opacity: 0.3;
	-webkit-background-size: 30px auto;
	   -moz-background-size: 30px auto;
		    background-size: 30px auto;
	-webkit-background-origin: content;
	   -moz-background-origin: content;
	        background-origin: content;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

@media screen and (min-width: 769px) {
}

@media screen and (min-width: 0px) and (max-width: 768px) {
}

