<p class="first">
  YAPC::AsiaがYAPC::Japanとしてリブートして戻ってきました！<br />
  今回の舞台は北海道、YAPC::Hokkaidoです！
</p>
<p>
  YAPCはYet Another Perl Conferenceの略で、Perlを軸としたITに関わる全ての人のためのカンファレンスです。
  Perlだけにとどまらない多様な分野のトークセッションを通じ、情報交換や交流を行っていただくことで、JPAのミッションである「日本におけるPerlコミュニティを脈々と続くものとして」盛り上げていくことが目標です。<br />
  今回のYAPC::Hokkaidoでは、クラウドに関連したスペシャルセッションなど、技術者であれば誰でも楽しめる企画を準備しています。ぜひお越しください！
</p>
