<dl class="table row">
  <dt class="col-md-2">会場名</dt>
  <dd class="col-md-8">札幌市産業振興センター</dd>
</dl>
<dl class="table row">
  <dt class="col-md-2">会場URL</dt>
  <dd class="col-md-8"><a href="http://www.sapporosansin.jp/" target="_blank">http://www.sapporosansin.jp/</a></dd>
</dl>
<dl class="table row">
  <dt class="col-md-2">最寄り駅</dt>
  <dd class="col-md-8">地下鉄東西線「東札幌駅」から徒歩7分</dd>
</dl>
<div class="iframe">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5830.597730008437!2d141.38160983296487!3d43.056181479146275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f0b2bda1afad80f%3A0x29aab63a133c6111!2z5pyt5bmM5biC55Sj5qWt5oyv6IiI44K744Oz44K_44O8!5e0!3m2!1sja!2sjp!4v1468571894218" width="770" height="420" frameborder="0" style="border:0" allowfullscreen></iframe>
</div><!--  / .iframe /  -->
