<div class="row" id="NAME1">
  <div class="col-md-3"><img src="assets/images/speakers/miyagawa.jpg" class="img-circle"/></div>
  <div class="col-md-9">
    <h4>Tatsuhiko Miyagawa</h4>
    <p>Perl Hacker. Podcaster at <a href="http://rebuild.fm/" target="_blank">rebuild.fm.</a> Principal Software Architect at Fastly. Born in Tokyo, Lives in San Francisco.</p>
  </div>
</div>
<div class="row" id="NAME2">
  <div class="col-md-3"><img src="assets/images/speakers/kazeburo.jpg" class="img-circle"/></div>
  <div class="col-md-9">
    <h4>長野 雅広（kazeburo）</h4>
    <p>大手SNS運営会社、ポータル運営会社に勤務したのち、2015年2月より株式会社メルカリに入社。Site Reliability Engineerとしてサーバリソース情報の収集、障害対応のフォローなど、Webアプリケーションエンジニアにかかる運用の負担を減らし、サイトのパフォーマンス、信頼性を向上させるのが主な業務。<br />
      GrowthForecast、HRForecastの作者。GazelleをはじめPlackの高速化の取り組みも多数。</p>
  </div>
</div>
<div class="row" id="NAME3">
  <div class="col-md-3"><img src="assets/images/speakers/kazuho.jpg" class="img-circle"/></div>
  <div class="col-md-9">
    <h4>奥 一穂（kazuho）</h4>
    <p>東京大学在学中に携帯端末むけウェブブラウザ「Palmscape」を開発し、IBM,NTTドコモ,SONY等に採用される。その後、サイボウズ・ラボにおいて、サービス開発の傍ら「Q4M」「Starlet」等のミドルウェアを開発。現職のDeNAでは基盤ソフトウェアの研究開発に従事しており、その成果であるプログラミング言語「JSX」やHTTP/2サーバ「H2O」は、オープンソースとして公開されている。<br />
M.I.T. TR100/2002、未踏ソフトウェア想像事業スーパークリエータ(2004年度)、日本OSS貢献者賞(2015年)受賞。</p>
  </div>
</div>
