<div class="class">
    <div class="block">
        <ul>
            {{#sponsors}}
                <li class="sponsor">
                    <div class="img-box">
                        <a href="{{url}}" target="_blank"><img src="assets/images/individual_sponsors/{{asset}}"/></a>
                    </div>
                </li>
            {{/sponsors}}
        </ul>
    </div>
</div>
