<div id="lead">
  <h1><a href="#"><img src="./assets/images/header_logo.png" alt="YAPC::Hokkaido 2016 Sapporo" /></a></h1>
  <h2><img src="./assets/images/header_meta.png" alt="2016.12.10 Sat @ 札幌市産業振興センター" class="ImageReplacement" /></h2>
  <div class="button">
    <div class="talk">
        <a href="timetable.html" class="btn btn-info btn-lg">
            トーク一覧
        </a>
    </div>
    <div class="ticket">
        <a href="https://goo.gl/forms/QyjkCDc4v4UJX2ns2" target="_blank" class="btn btn-primary btn-lg" disabled="true"><span style="text-decoration: line-through;">LT募集中！</span></a>
    </div>
  </div><!--  / .button /  -->
</div><!--  / #lead /  -->
