<div class="info">
  <i class="material-icons">info_outline</i><a href="http://blog.yapcjapan.org/" target="_blank">YAPC::Japan公式ブログにて、おすすめの宿やグルメ・観光情報をお届け中！</a>
</div>
<!-- facebook page plugin -->
<div class="fb-iframe">
  <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fyapcjapan%2F&tabs=timeline&width=500&height=750&small_header=true&adapt_container_width=false&hide_cover=false&show_facepile=false&appId=546362158903970" width="500" height="750" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" class="fb-iframe"></iframe>
</div>
