<h4>今さら聞けない、でも聞きたい。クラウドの過去・現在・未来</h4>

<div class="introduction">
  <p>
    いまや各種IT/Webサービスを開発する際に欠かせなくなったクラウドコンピューティング技術。もともとは元Google会長のエリック・シュミットによる2006年の発言から生まれた用語と言われています。<br /><br />

    概念が認知され始めた当初から、とくに米国系企業のクラウドサービスの開発・普及が進み、とくにIaaSおよびPaaSと呼ばれるレイヤでの活用が進んでいます。そして10年の月日が経ち、IT分野の枠を越えて、さまざまなエンジニアにとって必須の技術となりました。<br /><br />

    ここまで一般的になったがゆえに、「実はクラウドのこと、よくわかってないんだよね……」と聞きづらくなってしまったのも事実。<br /><br />

    そこで！今回のYAPC::Hokkaidoでは、「今さら聞けない、でも聞きたい。クラウド開発事始め」と題して、今回参加するすべてのエンジニアに役立つクラウド最新動向を、クラウド事業者4社からキーマンをお呼びしてお話いただきます。<br /><br />

    各社のサービスの特徴はもちろん、この10年間の経過とともに変わったこと、生まれた誤解、さらに知っておくべきことを徹底解説。さらに、「各サービスのオススメポイント、選び方」も伝授。<br /><br />

    その他、4社のスピーカーが「実はあのサービスについて聞いてみたかったんだよね」という、当事者同士の質問・ディスカッションコーナーも用意。<br /><br />

    参加者だけが聞ける、2016年版クラウド最新動向を詰め込んだ60分です。
  </p>
</div>

<div class="title"><h5>Panelists</h5>50音順、敬称略</div>
<div class="row">
  <div class="col-md-3"><img src="assets/images/session/araki.jpg" class="img-circle"/></div>
  <div class="col-md-9">
    <div class="col-header">
      <h6>荒木靖宏</h6>
      アマゾン ウェブ サービス ジャパン株式会社 プリンシパルソリューションアーキテクト シニアマネージャ
    </div>
    <div class="col-body">
      <p>1999年 奈良先端科学技術大学院大学（NAIST） 情報科学研究科修了。
        NAISTでは外部接続ネットワークおよび大規模メールサーバの設計構築およびセキュリティ運用を担当。<br />
        大手ISP、imodeメール向けASP、ヒューレット・パッカード日本研究所、DeNAを経て現職。
        インターネット及びモバイルネットワーク、センサネットワークの研究により2010年東京大学基盤情報学修了。博士（科学）。</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"><img src="assets/images/session/tanaka.jpg" class="img-circle"/></div>
  <div class="col-md-9">
    <div class="col-header">
      <h6><a href="https://twitter.com/kunihirotanaka" target="_blank">田中邦裕</a></h6>
      さくらインターネット株式会社 代表取締役社長
    </div>
    <div class="col-body">
      <p>1978年、大阪府生まれ。1996年に国立舞鶴工業高等専門学校在学中にさくらインターネットを創業。当時国内ではまだ珍しかった共有ホスティングサービス（さくらウェブ）を開始。<br />
1999年にはさくらインターネット株式会社を設立し、月額129円から始められる低価格レンタルサーバ「さくらのレンタルサーバ」の開発に自ら関わる。<br />
その後、最高執行責任者などを歴任し、2008年より現職。インターネット業界発展のため、各種団体に理事や委員として多数参画。
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"><img src="assets/images/session/hisamori.png" class="img-circle"/></div>
  <div class="col-md-9">
    <div class="col-header">
      <h6><a href="https://twitter.com/myfinder" target="_blank">久森達郎</a></h6>
      日本マイクロソフト株式会社 Developer Experience and Evangelism
    </div>
    <div class="col-body">
      <p>ソーシャルゲームプラットフォームやアドテク領域でLinux, PHP, Java, Perl, MySQL, AWS等、およそMicrosoftと縁のない世界でエンジニアをしていたが、2015年にうっかりMicrosoftに入社、クラウドを中心にエンジニアが捗る技術で商売をしている。<br />
      昨今のCasualムーブメントの一翼を担うMySQL Casualを運営。YAPC::Asia 2012ではBest Talk Award 3位，YAPC::Asia 2013ではBest Talk Award 2位を受賞。</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"><img src="assets/images/session/fukuda.png" class="img-circle"/></div>
  <div class="col-md-9">
    <div class="col-header">
      <h6><a href="https://twitter.com/kiyo0123" target="_blank">福田潔</a></h6>
      グーグル株式会社 Google for Work 部門 Google Cloud Platform セールスエンジニア
    </div>
    <div class="col-body">
    <p>SIerでのシステム開発、ミドルウェアや仮想化ソフトウェアベンダでのプリセールスおよびTAMの経験を経て、2013年よりGoogle for Work部門のセールスエンジニアとして、顧客支援やセミナー講師を通してGoogle Cloud Platformを日本のお客様に広めるための活動を行っています。
</p>
    </div>
  </div>
</div>


<h5 class="moderator">Moderator</h5>
<div class="row">
  <div class="col-md-3"><img src="assets/images/staff/core/tomihisa.jpg" class="img-circle"/></div>
  <div class="col-md-9">
    <div class="col-header">
      <h6><a href="https://twitter.com/tomihisa" target="_blank">馮富久</a></h6>
      株式会社技術評論社 電子出版推進室室長
    </div>
    <div class="col-body">
      <p>1975年生まれ。横浜市出身。1999年、株式会社技術評論社に入社。入社後から 『Software Design』編集部に配属され、2004年1月に編集長へ就任。同2004年9月に『Web Site Expert』を立ち上げ、同誌編集長に就任。その後、2008年9 月に設立したクロスメディア事業部に配属。現在は電子出版推進室室長として、同社刊行物の電子出版事業を中心に、電子出版市場拡大に向けて積極的に取り組む。</p>
    </div>
  </div>
</div>
