<div class="class">
  <h4>プラチナ</h4>
  <div class="block">
    <ul>
      {{#platinum}}
      <li class="platinum"><a href="{{url}}" target="_blank"><img src="assets/images/sponsors/{{asset}}"/></a></li>
      {{/platinum}}
    </ul>
  </div>
</div>

<div class="class">
  <h4>プラチナ（JPA会員）</h4>
  <div class="block">
    <ul>
      {{#platinum-jpa}}
      <li class="platinum"><a href="{{url}}" target="_blank"><img src="assets/images/sponsors/{{asset}}"/></a></li>
      {{/platinum-jpa}}
    </ul>
  </div>
</div>

<div class="class">
  <h4>ゴールド</h4>
  <div class="block">
    <ul>
      {{#gold}}
      <li class="gold"><a href="{{url}}" target="_blank"><img src="assets/images/sponsors/{{asset}}"/></a></li>
      {{/gold}}
    </ul>
  </div>
</div>

<div class="class">
  <h4>ゴールド（JPA会員）</h4>
  <div class="block">
    <ul>
      {{#gold-jpa}}
      <li class="gold"><a href="{{url}}" target="_blank"><img src="assets/images/sponsors/{{asset}}"/></a></li>
      {{/gold-jpa}}
    </ul>
  </div>
</div>

<div class="class">
  <h4>シルバー</h4>
  <div class="block">
    <ul>
      {{#silver}}
      <li class="silver"><a href="{{url}}" target="_blank"><img src="assets/images/sponsors/{{asset}}"/></a></li>
      {{/silver}}
    </ul>
  </div>
</div>

<div class="class">
  <h4>ベストトーク</h4>
  <div class="block">
    <ul>
      {{#besttalk}}
      <li class="special"><a href="{{url}}" target="_blank"><img src="assets/images/sponsors/{{asset}}"/></a></li>
      {{/besttalk}}
    </ul>
  </div>
</div>

<div class="class">
  <h4>ベストLT</h4>
  <div class="block">
    <ul>
      {{#bestlt}}
      <li class="special"><a href="{{url}}" target="_blank"><img src="assets/images/sponsors/{{asset}}"/></a></li>
      {{/bestlt}}
    </ul>
  </div>
</div>

<div class="class">
  <h4>懇親会</h4>
  <div class="block">
    <ul>
      {{#after-party}}
      <li class="special"><a href="{{url}}" target="_blank"><img src="assets/images/sponsors/{{asset}}"/></a></li>
      {{/after-party}}
    </ul>
  </div>
</div>

<div class="class">
  <h4>トートバッグ</h4>
  <div class="block">
    <ul>
      {{#totebag}}
      <li class="special"><a href="{{url}}" target="_blank"><img src="assets/images/sponsors/{{asset}}"/></a></li>
      {{/totebag}}
    </ul>
  </div>
</div>

<div class="class">
  <h4>Tシャツ</h4>
  <div class="block">
    <ul>
      {{#tshirt}}
      <li class="special"><a href="{{url}}" target="_blank"><img src="assets/images/sponsors/{{asset}}"/></a></li>
      {{/tshirt}}
    </ul>
  </div>
</div>

<div class="class">
  <h4>その他</h4>
  <div class="block">
    <ul>
      {{#other}}
      <li class="other"><a href="{{url}}" target="_blank"><img src="assets/images/sponsors/{{asset}}"/></a></li>
      {{/other}}
    </ul>
  </div>
</div>

<div class="class">
  <h4>協力</h4>
  <div class="block">
    <ul>
      {{#local}}
      <li class="other"><a href="{{url}}" target="_blank"><img src="assets/images/sponsors/{{asset}}"/></a></li>
      {{/local}}
    </ul>
  </div>
</div>
