<h4>YAPC::Hokkaido 前夜祭 12/09</h4>
<p>
    <ul>
        <li>
            <span style="text-decoration: line-through;">
                <a href="http://passmarket.yahoo.co.jp/event/show/detail/0170cmyfxi8j.html">YAPC::Hokkaido 2016 SAPPORO 前夜祭チケット</a>
            </span>
            <span class="annotation">  完売御礼！</span>
        </li>
    </ul>
</p>
<h4>YAPC::Hokkaido カンファレンスチケット 12/10</h4>
<p>
    <ul>
        <li>
            <span style="text-decoration: line-through;">
                <a href="http://passmarket.yahoo.co.jp/event/show/detail/01d2ckybnbxr.html">YAPC::Hokkaido 2016 SAPPORO 一般・学生チケット（Tシャツつき）</a>
            </span>
            <span class="annotation">  完売御礼！</span>
        </li>
        <li>
            <span style="text-decoration: line-through;">
                <a href="http://passmarket.yahoo.co.jp/event/show/detail/012m6sybnnjk.html">YAPC::Hokkaido 2016 SAPPORO 個人スポンサーチケット</a>
            </span>
            <span class="annotation">  完売御礼！</span>
        </li>
    </ul>
</p>
<h4>YAPC::Hokkaido 懇親会 12/10</h4>
<p>
    <ul>
        <li>
            <span style="text-decoration: line-through;">
                <a href="http://passmarket.yahoo.co.jp/event/show/detail/01hve5yg0jdd.html">YAPC::Hokkaido 2016 SAPPORO 懇親会チケット</a>
            </span>
            <span class="annotation">  完売御礼！</span>
        </li>
    </ul>
</p>
