@charset "utf-8";

/*//////////////////////////////////////////////////////////
//  - YAPC::Tokyo Custom CSS
//////////////////////////////////////////////////////////*/

/* buttons */

#button {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button a.btn {
	-webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
	        border-radius: 0px;
	margin-bottom: 10px;
}
.button a:hover.btn {
	background-color: #fff;
}

.button a.btn-info {
	color: #fff;
	background-color: #5bc0de;
	border: 2px solid #5bc0de;
}
.button a:hover.btn-info {
	color: #5bc0de;
}

.button a.btn-success {
	color: #fff;
	background-color: #5cb85c;
	border: 2px solid #5cb85c;
}
.button a:hover.btn-success {
	color: #5cb85c;
}

.button a.btn-ticket {
	color:  #fff;
	background-color: #5d5cb8;
	border: 2px solid #5d5cb8;
}
.button a:hover.btn-ticket {
	color:  #5d5cb8;
}

.button a.btn-personal-sponsor {
	color:  #fff;
	background-color: #5cb85c;
	border: 2px solid #5cb85c;
}
.button a:hover.btn-personal-sponsor {
	color:  #5cb85c;
}

.button a.btn-sponsor {
	color:  #fff;
	background-color: #eb6210;
	border: 2px solid #eb6210;
}
.button a:hover.btn-sponsor {
	color:  #eb6210;
}

.button a.btn-talk {
	color:  #fff;
	background-color: #b85c5c;
	border: 2px solid #b85c5c;
}
.button a:hover.btn-talk {
	color:  #b85c5c;
}

/* About */

#about dl {
	display: table;
	width: 100%;
}

#about dl dt {
	display: table-cell;

	width: 6em;
	margin-bottom: 10px;
	padding: 5px 10px;

	font-size: 16px;
	letter-spacing: 0.1em;
}

#about dl dd {
	display: table-cell;
}

/* Sponsors */

#sponsors .class {
	margin-bottom: 2%;
}

#sponsors .class h4 {
	font-size: 16px;
	font-weight: 700;
	margin: 0;
	padding: 10px 0;
}

#sponsors .class .block {
	_zoom: 1;
	overflow: hidden;
}

#sponsors .class .block ul {
	margin: 0 0 20px 0;
	padding: 0;
}

#sponsors .class .block ul li {
	float: left;
	text-align: center;
	margin: 0 15px 15px 0;
}

#sponsors .class .block ul li img {
	background-color: #fff;
	-webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
	        border-radius: 0px;
	border: 1px solid #000;
	padding: 5px;
}
#sponsors .class .block ul li a:hover img { background-color: #e7373c; border: 1px solid #e7373c; }

#sponsors .class .block ul li.large img { width: 180px; }
#sponsors .class .block ul li.medium img { width: 140px; }
#sponsors .class .block ul li.small img { width: 100px; }

@media screen and (min-width: 0px) and (max-width: 899px) {
	#sponsors .class .block ul li {
		display: flex;
		justify-content: center;
		align-items: center;
		float: left;
		text-align: center;
		margin: 0 10px 10px 0;
	}
	#sponsors .class .block ul li.large { float: none; width: 220px; margin: 0 auto 10px auto; }
	#sponsors .class .block ul li.medium { width: 130px; }
	#sponsors .class .block ul li.small { width: 100px; }
	#sponsors .class .block ul li img { width: 100% !important; height: auto; }
}

/* individual sponsors */

ul.individual-sponsors {
  list-style-type: none;
}

ul.individual-sponsors > li {
  display: inline-block;
  margin: 0 15px 15px 0;
}

ul.individual-sponsors > li img {
  width: 120px;
}

ul.individual-sponsors > li i {
  color: black;
  float: left;
  font-size: 18px;
  margin: 0;
  padding: 2px;
}

ul.staff-list {
  list-style-type: none;
}

ul.staff-list > li {
  display: inline-block;
  margin: 0 15px 15px 0;
}

ul.staff-list > li img {
  width: 120px;
}

ul.staff-list > li i {
  color: black;
  float: left;
  font-size: 18px;
  margin: 0;
  padding: 2px;
}


