@charset "utf-8";

/*//////////////////////////////////////////////////////////
//  - YAPC::Fukuoka Custom CSS
//////////////////////////////////////////////////////////*/

/* buttons */

#button {
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#button div {
    margin: 5px 5px auto 5px;
}

.button a.btn {
    background-color: #fff;
    margin-bottom: 10px;
}

.button a.btn-info {
    color: #5bc0de;
    border: 2px solid #5bc0de;
}

.button a.btn-success {
    color: #5cb85c;
    border: 2px solid #5cb85c;
}

.button a.btn-ticket {
  color:  #5d5cb8;
  border: 2px solid #5d5cb8;
}

.button a.btn-personal-sponsor {
  color:  #5cb85c;
  border: 2px solid #5cb85c;
}

.button a.btn-sponsor {
  color:  #eb6210;
  border: 2px solid #eb6210;
}

.button a.btn-talk {
  color:  #b85c5c;
  border: 2px solid #b85c5c;
}

.button a.btn-before-night-party {
  color:  #b85cb8;
  border: 2px solid #b85cb8;
}

.button a.btn-after-party {
  color:  #9acd32;
  border: 2px solid #9acd32;
}

/* About */

#about dl {
	display: table;
	width: 100%;
}

#about dl dt {
	display: table-cell;

	width: 6em;
	margin-bottom: 10px;
	padding: 5px 10px;

	font-size: 16px;
	letter-spacing: 0.1em;
}

#about dl dd {
	display: table-cell;
}

/* Sponsors */

#sponsors .class h4 {
	font-size: 16px;
	font-weight: 700;
	margin: 0;
	padding: 10px 0;
}

#sponsors .class .block {
	_zoom: 1;
	overflow: hidden;
}

#sponsors .class .block ul {
	margin: 0 0 20px 0;
	padding: 0;
}

#sponsors .class .block ul li {
	float: left;
	text-align: center;
	margin: 0 10px 10px 0;
  background-color: #fff;
}

#sponsors .class .block ul li img {
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	border: 2px solid #000;
}
#sponsors .class .block ul li a:hover img { border: 2px solid #ff0000; }

#sponsors .class .block ul li.large img { width: 180px; }
#sponsors .class .block ul li.medium img { width: 140px; }
#sponsors .class .block ul li.small img { width: 100px; }

@media screen and (min-width: 0px) and (max-width: 899px) {
	#sponsors .class .block ul li {
		display: flex;
		justify-content: center;
		align-items: center;
		float: left;
		text-align: center;
		margin: 0 10px 10px 0;
    background-color: #fff;
	}
	#sponsors .class .block ul li.large { float: none; width: 220px; margin: 0 auto 10px auto; }
	#sponsors .class .block ul li.medium { width: 130px; }
	#sponsors .class .block ul li.small { width: 100px; }
	#sponsors .class .block ul li img { width: 100% !important; height: auto; }
}


/* tickets */

#tickets ul {
  margin-bottom: 30px;
}

#tickets li.ticket {
  margin-top: 0.1em;
}

#tickets li.ticket b {
  font-weight: normal;
}

#tickets li.ticket b.sold-out {
  text-decoration: line-through;
}

#tickets li.ticket em.now-on-sale {
  display: none;
}

#tickets li.ticket em.sold-out {
  margin-left: 1em;
}

/* individual sponsors */
ul.individual-sponsors {
  list-style-type: none;
}

ul.individual-sponsors > li {
  display: inline-block;
  margin: 0 20px 15px 10px;
  float: left;
}

ul.individual-sponsors > li img {
  width: 120px;
}
ul.individual-sponsors > li i {
  color: black;
  float: left;
  margin: 2px 0 0 2px;
}

/* staff list */
ul.staff-list {
  list-style-type: none;
}

ul.staff-list > li {
  display: inline-block;
  margin: 0 15px 15px 0;
}

ul.staff-list > li img {
  width: 120px;
}

ul.staff-list > li p {
  margin-bottom: 0px !important;
}

ul.staff-list > li i {
  color: black !important;
  float: left;
  margin: 2px 0 0 2px;
}

/* talks */
.talk-detail {
  margin-bottom: 1em;
}

.talk-detail aside.speaker {
  display: block;
  max-width: 800px;
  text-align: right;
  margin: 5px 0;
}

.talk-detail .description, #talk-detail-modal .description {
  white-space: pre-wrap;
  padding: 0.5em;
}

/* timetable */

#timetable table {
  table-layout: fixed;
  font-size: 14px;
  border: 1px solid #aaaaaa;
  width: 100%;
}

#timetable th, #timetable td {
  border: 1px solid #aaaaaa;
  padding: 5px;
}

#timetable td.highlight {
  background-color: #f8f8f8;
}

#timetable ol {
  list-style-type: decimal;
  padding: 1em;
}

/* talk detail modal */
#talk-detail-modal {
  display: table;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

#talk-detail-modal .modal-dialog {
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
}

#talk-detail-modal .modal-content {
  width:inherit;
  height:inherit;
  margin: 0 auto;
  pointer-events: all;
}

#talk-detail-modal aside.time-and-place {
  font-size: 14px;
  text-align: right;
}
#talk-detail-modal aside.time-and-place dl, #talk-detail-modal aside.time-and-place dt, #talk-detail-modal aside.time-and-place dd {
  display: inline;
}
#talk-detail-modal aside.time-and-place dt {
  margin-left: 7px;
}
#talk-detail-modal aside.time-and-place dt:after {
  content: ":";
}
