<div class="vh-100 d-flex flex-column align-items-center justify-content-center border-bottom mb-5">
  <img data-aos="fade-in" data-aos-delay="200" src="/2020kyoto/assets/images/logo-full.png" style="max-width:316px" alt="" />
  <p  data-aos="fade-in" data-aos-delay="300" class="text-center mt-3">
    2020
    <br>
    <span class="h2"><strong>March 27 - 28</strong></span>
    <br>
    Kyoto Research Park
  </p>
</div>

<div class="container">
  <div class="row my-5" data-aos="fade-in" >
    <div class="col-lg-3">
      <h2 class="display-4 heading mb-3 text-uppercase">About</h2>
    </div>
    <div class="col-lg-9 pt-3">
      <h3 class="h4 mb-3"><strong>YAPC::Japanが東京に帰ってきました！</strong></h3>
      <p>YAPCはYet Another Perl Conferenceの略で、Perlを軸としたITに関わる全ての人のためのカンファレンスです。 Perlだけにとどまらない技術者たちが、好きな技術の話をし交流するカンファレンスで、技術者であれば誰でも楽しめるお祭りです！</p>

      <p>今回のYAPC::Tokyoは「恩に感謝し報いる」ことを意味する、「報恩謝徳」をテーマに掲げて開催します。 Perlをはじめ様々な技術を使って、捗ったこと、世の中に影響を与えられたこと、今に繋がっていること、そして、これからどんなことをしていきたいのか、 そんな話をしましょう！ぜひ、皆さま楽しみに来てください！</p>
      <dl class="row mt-4">
        <dt class="col-lg-1 text-nowrap">日時</dt>
        <dd class="col-lg-11">2020年3月27日, 28日</dd>
        <dt class="col-lg-1 text-nowrap">場所</dt>
        <dd class="col-lg-11">
          京都リサーチパーク
          TODO: Mapのせる
          TODO: 開催概要あつめる
        </dd>
      </dl>
    </div>
  </div>

  <div class="row my-5" data-aos="fade-in" >
    <div class="col-lg-3">
      <h2 class="display-4 heading mb-3 text-uppercase">Tickets</h2>
    </div>
    <div class="col-lg-9 pt-3">
      <h3 class="h4 mb-3"><strong>YAPC::Japanが東京に帰ってきました！</strong></h3>
      <p>YAPCはYet Another Perl Conferenceの略で、Perlを軸としたITに関わる全ての人のためのカンファレンスです。 Perlだけにとどまらない技術者たちが、好きな技術の話をし交流するカンファレンスで、技術者であれば誰でも楽しめるお祭りです！</p>

      <p>今回のYAPC::Tokyoは「恩に感謝し報いる」ことを意味する、「報恩謝徳」をテーマに掲げて開催します。 Perlをはじめ様々な技術を使って、捗ったこと、世の中に影響を与えられたこと、今に繋がっていること、そして、これからどんなことをしていきたいのか、 そんな話をしましょう！ぜひ、皆さま楽しみに来てください！</p>
      <dl class="row mt-4">
        <dt class="col-lg-1 text-nowrap">日時</dt>
        <dd class="col-lg-11">2020年3月27日, 28日</dd>
        <dt class="col-lg-1 text-nowrap">場所</dt>
        <dd class="col-lg-11">
          京都リサーチパーク
          TODO: Mapのせる
          TODO: 開催概要あつめる
        </dd>
      </dl>
    </div>
  </div>

</div>
