<div class="vh-100 d-flex flex-column align-items-center justify-content-center border-bottom mb-5">
  <img data-aos="fade-in" data-aos-delay="200" src="/2020kyoto/assets/images/logo-full.png" style="max-width:316px" alt="" />
  <p  data-aos="fade-in" data-aos-delay="300" class="text-center mt-3">
    2020
    <br>
    <span class="h2"><strong>March 27 - 28</strong></span>
    <br>
    Kyoto Research Park
  </p>
  <p class="p-4">
    2022-10-27 Update: <a href="https://blog.yapcjapan.org/entry/2022/10/26/161847" style="text-decoration:underline; font-weight:bold">YAPC::KyotoをRebootします</a>
  </p>
</div>

<div class="container">
  <div id="about" class="row py-5" data-aos="fade-in" >
    <div class="col-lg-3">
      <h2 class="display-4 heading mb-3 text-uppercase">About</h2>
    </div>
    <div class="col-lg-9 pt-3">
      <h3 class="h4 mb-3"><strong>次のYAPC::Japanは京都に初上陸！</strong></h3>

      <p>YAPCはYet Another Perl Conferenceの略で、Perlを軸としたITに関わる全ての人のためのカンファレンスです。 Perlだけにとどまらない技術者たちが、好きな技術の話をし交流するカンファレンスで、技術者であれば誰でも楽しめるお祭りです！</p>

      <p>今回のYAPC::Kyotoでは, ｢<strong class="h4">Q</strong>｣をテーマに掲げて開催します。</p>
      <p>私達が、この｢<strong class="h4">Q</strong>｣というテーマに込めた意図は以下の通りです。</p>

      <p>京都にある龍安寺には、知足の蹲居と呼ばれるオブジェクトがあります。</p>
      <p>それは真ん中が四角く窪んでおり、それを囲むように"五・隹・疋・矢"の文字が刻まれていて、これと四角い窪み("□")を繋げると, "吾・唯・知・足"になります。</p>

      <p>YAPC::Kyotoでは、私達は"□"の代わりに"<strong class="h4">Q</strong>"の文字を置こうと思います。</p>
      <p>
      探<strong>Q</strong><small>(探求)</small>、
      研<strong>Q</strong><small>(研究)</small>、
      追<strong>Q</strong><small>(追求)</small>、
      ジョブ<strong>Q</strong><small>(ジョブキュー)</small>...
      </p>
      <p>自分らしい"<strong class="h4">Q</strong>"に関する話題を中心に、様々な発表をYAPC::Kyotoで披露して頂きたいと考えています。</p>

      <dl class="row mt-4">
        <dt class="col-lg-1 text-nowrap">日時</dt>
        <dd class="col-lg-11">2020年3月27日, 28日</dd>
        <dt class="col-lg-1 text-nowrap">場所</dt>
        <dd class="col-lg-11">
          京都リサーチパーク
        <div class="iframe">
        <iframe class="w-100 mt-3" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3268.473598624324!2d135.73638621576416!3d34.994847974913995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6001063b9e8fa455%3A0xa2cd9877fee3a4f0!2sKyoto%20Research%20Park!5e0!3m2!1sen!2sjp!4v1575377187747!5m2!1sen!2sjp" width="600" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
        </dd>
      </dl>
    </div>
  </div>

  <div id="tickets" class="row py-5" data-aos="fade-in">
    <div class="col-lg-3">
      <h2 class="display-4 heading mb-3 text-uppercase">Tickets</h2>
    </div>
    <div class="col-lg-9 pt-3">
      <h3 class="h4 mb-3"><strong>YAPC::Kyoto 2020 03/27</strong></h3>
      <div class="row mt-4">
      <ul>
        <li><a href="https://passmarket.yahoo.co.jp/event/show/detail/01q6qe10rmurx.html">前夜祭チケット</a></li>
      </ul>
    </div>
    <div>
      <h3 class="h4 mb-3"><strong>YAPC::Kyoto 2020 03/28</strong></h3>
      <div class="row mt-4">
      <ul>
        <li><a href="https://passmarket.yahoo.co.jp/event/show/detail/01ngvy10raqb8.html">一般・学生チケット</a></li>
        <li><s class="text-muted"><a href="https://passmarket.yahoo.co.jp/event/show/detail/01j0jy10ras65.html">個人スポンサーチケット</a></s></li>
        <li><a href="https://passmarket.yahoo.co.jp/event/show/detail/01279f10rmud7.html">懇親会チケット</a></li>
        <li><s class="text-muted">学生旅費支援制度 お申し込みフォーム</s> 学生旅費支援制度の募集は締め切りました。たくさんのご応募ありがとうございました。</li>
        <li><s class="text-muted">現在登壇者を募集しています (締め切り: 2020年1月10日(金) 24:00)</s> 登壇者の募集は締め切りました。たくさんのご応募ありがとうございました。</li>
      </ul>
    </div>
    </div>
    </div>
    </div>

    <div id="guest-speakers" class="row pt-5" data-aos="fade-in">
      <div class="col-lg-4">
        <h2 class="display-4 heading mb-3 text-uppercase">Guest Speakers</h2>
      </div>
      <div class="col-lg-8 align-self-center d-none d-lg-block">
        <hr />
      </div>
    </div>
    <div class="row pb-5 pt-1" data-aos="fade-in">
      {{#guestSpeakers}}
      <div class="col-lg-6">
        <div class="card avatar-card mt-4">
          <div class="avatar-card__color"></div>
          <div class="avatar-card__photo mx-auto white">
            <img src="{{photo}}" class="rounded-circle img-fluid">
          </div>
          <div class="card-body">
            <h4 class="font-weight-bold mb-4 text-center">
              {{name}}
              <small class="avatar-card__name_en d-block">{{name_en}}</small>
            </h4>
            <hr>
            <p class="avatar-card__description dark-grey-text mt-4" style="white-space:pre-wrap">{{description}}</p>
          </div>
        </div>
      </div>
      {{/guestSpeakers}}
    </div>

    <div id="sponsors" class="row py-5" data-aos="fade-in">
    <div class="col-12">
      <h2 class="display-4 heading mb-5 text-uppercase">Sponsors</h2>
        {{#sponsors}}
      <div class="py-3 row {{key}}">
        <div class="col-lg-3">
          <div class="sponsors__class">{{label}}</div>
        </div>
        <div class="col-lg-9 sponsors__wrapper flex-wrap row">
          {{#sponsors}}
          {{#image}}
          <a target="_blank" href="{{url}}" class="sponsor d-block text-center mb-3 col-4 col-md-2 {{class}}">
            <span class="sponsor__image-wrapper">
              <img loading="lazy" class="sponsor__image" src="/2020kyoto/assets/images/sponsors/{{image}}" alt="" />
            </span>
          </a>
          {{/image}}
          {{/sponsors}}
        </div>
      </div>
        {{/sponsors}}
    </div>
    </div>

  </div>
