<div class="vh-100 d-flex flex-column align-items-center justify-content-center">
<img src="/2020kyoto/assets/images/logo-full.png" style="max-width:316px" alt="" />
<p class="text-center mt-3">
2020
<br>
<span class="h2"><strong>3.27 - 28</strong></span>
<br>
Kyoto Research Park
</p>
</div>
