<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>YAPC::Kyoto 2020{{#page-title}} - {{page-title}}{{/page-title}}</title>
  <meta name="description" content="YAPCはYet Another Perl Conferenceの略で、Perlを軸としたITに関わる全ての人のためのカンファレンスです。">
  <meta name="keywords" content="YAPC,ヤプシー,Perl,PM,Japan Perl Association,JPA,YAPC::Tokyo,ヤプシー東京">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@yapcjapan">
  <meta name="twitter:title" content="YAPC::Kyoto 2020">
  <meta name="twitter:description" content="YAPCはYet Another Perl Conferenceの略で、Perlを軸としたITに関わる全ての人のためのカンファレンスです。">
  <!-- meta name="twitter:image" content="https://yapcjapan.org/2020kyoto/assets/images/ogp_600x600.png" -->
  <meta property="fb:app_id" content="546362158903970" />
  <meta property="og:title" content="YAPC::Kyoto 2020" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="ja_JP" />
  <meta property="og:site_name" content="YAPC::Kyoto 2020" />
  <meta property="og:title" content="YAPC::Kyoto 2020" />
  <meta property="og:description" content="YAPCはYet Another Perl Conferenceの略で、Perlを軸としたITに関わる全ての人のためのカンファレンスです。" />
  <meta property="og:url" content="https://yapcjapan.org/2020kyoto/" />
  <!-- meta property="og:image" content="https://yapcjapan.org/2020kyoto/assets/images/ogp_1200x600.png" / -->
  <!-- meta property="og:image" content="https://yapcjapan.org/2020kyoto/assets/images/ogp_600x600.png" /-->
  <!-- link rel="shortcut icon" href="https://yapcjapan.org/2020kyoto/assets/images/favicon.ico" -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.3.1/dist/css/yakuhanjp.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800|Noto+Sans+JP:400,900&display=swap&subset=japanese" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/2020kyoto/assets/css/index.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
</head>

<body class="{{body-class}}">

  {{#include-index}}
  {{> index}}
  {{/include-index}}

  <footer class="global-footer mt-5 pt-5">
    <address class="text-muted text-center ">
    <small>
      <a href="http://japan.perlassociation.org/" target="_blank"><img style="max-width:80px" src="/2020kyoto/assets/images/jpa.png" alt="JPA" /></a>
      <br>
      © 2019 Japan Perl Association
      </small>
    </address>
  </footer>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

</body>

</html>
