{{=<% %>=}}
<div class="container">
  <div class="row py-5" data-aos="fade-in">
    <h2 class="display-4 heading mb-3 text-uppercase">Timetable</h2>
    <div class="col-lg-12">
      <div id="timetable" class="section">
        <div class="body table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>時刻</th>
                <th class="track__timespan" v-for="track in tracks">{{ track.name }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>11:00 ~ 11:10</th>
                <td>Opening</td>
                <td v-bind:colspan="tracks.length-1"></td>
              </tr>
              <tr>
                <th>11:10 ~ 11:20</th>
                <td v-bind:colspan="tracks.length">
                  <!-- 休憩 -->
                </td>
              </tr>
              <tr v-for="row in timetable">
                <th>{{ row.label }}</th>
                <td
                  v-for="track in tracks"
                  v-if="!row.breakTime && track.id in row.tracks"
                  v-bind:class="{highlight:row.tracks[track.id].highlight}"
                  v-bind:rowspan="row.tracks[track.id].rowspan"
                >
                  <span class="track__container" v-on:click="openModal(row.tracks[track.id])">
                    <span class="track__title">{{ row.tracks[track.id].title }}</span>
                    <span class="track__time" v-if="!(track.id != 'track-a' && row.label == '13:05 ~ 13:45')">({{ row.tracks[track.id].durationMinutes }}min)</span>
                    <span class="track__author"> {{ row.tracks[track.id].author.name }} </span>
                  </span>
                </td>
                <td v-if="row.breakTime" v-bind:colspan="row.breakTimeColspan">
                  <!-- 休憩 -->
                </td>
              </tr>
              <tr>
                <th>17:10 ~ 17:20</th>
                <td v-bind:colspan="tracks.length">
                  <!-- 休憩 -->
                </td>
              </tr>
              <tr>
                <th>17:20 ~ 17:50</th>
                <td>
                  Lightning Talks (30min)<br />
                  <ol>
                    <li>Shuya Motouchi</li>
                    <li>OGATA Tetsuji</li>
                    <li>aereal</li>
                    <li>八雲アナグラ</li>
                    <li>門松宏明 / note103</li>
                    <li>moznion</li>
                  </ol>
                </td>
                <td v-bind:colspan="tracks.length-1"></td>
              </tr>
              <tr>
                <th>17:50 ~ 18:00</th>
                <td v-bind:colspan="tracks.length">
                  <!-- 休憩 -->
                </td>
              </tr>
              <tr>
                <th>18:00 ~ 18:40</th>
                <td>
                  <a href="./#guest-speakers">Keynote: 松野 徳大</a> (40min)<br />
                </td>
                <td v-bind:colspan="tracks.length-1"></td>
              </tr>
              <tr>
                <th>18:40 ~ 18:50</th>
                <td>Closing</td>
                <td v-bind:colspan="tracks.length-1"></td>
              </tr>
              </thead>
          </table>
        </div><!--  / .body /  -->
      </div><!--  / .section /  -->
    </div>
  </div>
</div>

<div id="talk-detail-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content" v-if="render">
      <div class="modal-header">
        <h4 class="modal-title">{{ talk.title }} ({{ talk.time }})</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <pre class="description pre-scrollable">{{ talk.description }}</pre>
        <aside class="speaker">
          <a v-bind:href="talk.author.blogUrl" target="_blank">{{ talk.author.name }}</a>
          <a v-if="talk.author.twitterId" v-bind:href="talk.author.twitterUrl" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a v-if="talk.author.githubId" v-bind:href="talk.author.githubUrl" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a>
        </aside>
        <aside class="time-and-place">
          <a v-if="showTimetableLink" v-bind:href="talk.timetableUrl">タイムテーブル</a>
          <dl>
            <dt>時間</dt>
            <dd>{{ talk.startAt }} ~ {{ talk.endAt }}</dd>
            <dt>会場</dt>
            <dd>{{ talk.track.name }}</dd>
          </dl>
        </aside>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<%={{ }}=%>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.2.1/vue.min.js"></script>
<script src="./assets/js/vendor/micro_dispatcher.js"></script>
<script src="./assets/js/custom.js"></script>
