<h3 class="title">ABOUT</h3>
<div id="about" class="section">
  <div class="body">
    <div class="row">
      <h4>YAPC::Japanが九州に初上陸！</h4>
      <p>YAPCはYet Another Perl Conferenceの略で、一般社団法人 JPAが主催する、Perlを軸としたITに関わる全ての人のためのカンファレンスです。<br />Perlだけにとどまらない多様な分野のトークセッションを通じ、情報交換や交流を行っていただくことで、<br />JPAのミッションである「日本におけるPerlコミュニティを脈々と続くものとして」盛り上げていくことが目標です。<br />今回のYAPC::Fukuokaは、YAPC::Kansaiの「温故知新」に対して、「未来」をテーマに掲げて開催します。</p>
      <div style="margin-bottom: 20px;">
        <ul>
          <li>・新モジュールありPerl6あり、未来に向けたPerlの話</li>
          <li>・これからますます重要になる、セキュリティに関する話</li>
          <li>・新しい働き方、新しい技術といった、未知の世界の話</li>
        </ul>
      </div>
      <p>といった内容を皆様にお届けできるよう、様々な企画・トークを準備してお待ちしております！<br />皆さま、こぞってご参加ください！</p>
      <p>☆ ゲストスピーカー・トークスケジュール等はWebページ・Facebookにてお知らせいたします。併せてご覧ください。<br />☆ 前夜祭、懇親会についても開催を予定しております。詳細が決まり次第、順次お知らせいたします。</p>
    </div>
    <dl>
      <dt>日時</dt>
      <dd><time datetime="2017-07-01T10:00:00+0900">2017/07/01 10:00</time> 〜 </dd>
    </dl>
    <dl>
      <dt>会場</dt>
      <dd><a href="#access">アクセス</a></dd>
    </dl>
  </div><!--  / .body /  -->
</div><!--  / .section /  -->
