<h3 class="title">ACCESS</h3>
<div class="section" id="access">
  <div class="body">
    <dl class="table row">
      <dt class="col-md-2">会場名</dt>
      <dd class="col-md-8">LINE Fukuoka株式会社</dd>
    </dl>
    <dl class="table row">
      <dt class="col-md-2">会場URL</dt>
      <dd class="col-md-8"><a href="https://linefukuoka.co.jp/ja/" target="_blank">https://linefukuoka.co.jp/ja/</a></dd>
    </dl>
    <dl class="table row">
      <dt class="col-md-2">最寄り駅</dt>
      <dd class="col-md-8">JR「博多」駅より徒歩2分(駅直結)</dd>
    </dl>
  </div><!--  / .body /  -->
</div><!--  / .section /  -->
