<div class="section" id="button">
    {{#buttons}}
      <div class="{{type}} button"><a href="{{url}}" class="btn btn-{{type}} btn-lg"{{#blank}} target="_blank"{{/blank}}>{{label}}</a></div>
    {{/buttons}}
</div><!--  / .section /  -->
