<h3 class="title">GUEST SPEAKERS</h3>
<div class="section" id="guest-speakers">
  <div class="body">
    <div class="row" id="NAME1">
      <div class="col-md-3"><img src="./assets/images/guests/ryuzo-yamamoto.jpg" class="img-circle"/></div>
      <div class="col-md-9">
        <h4>山本 竜三 <a hre="https://twitter.com/dragon3" target="_blank">@dragon3</a></h4>
        <p>
        1976年熊本県生まれ。2005年入社のヌーラボ古株。<br />
        「Backlog」の初期から開発にたずさわり、ヌーラボのインフラ全般に目を光らせるインフラ番長であったが、2年ほど前にニューヨークへの移動を命じられ、現在はヌーラボのサービスを世界中でもっと使っていただけるように日々奮闘中。<br />
        妻と3人の子供達とのはじめての海外生活でも奮闘中。
        </p>
      </div>
    </div>
    <div class="row" id="NAME2">
      <div class="col-md-3"><img src="./assets/images/guests/hiroshi-tokumaru.jpg" class="img-circle"/></div>
      <div class="col-md-9">
        <h4>徳丸 浩 <a hre="https://twitter.com/ockeghem" target="_blank">@ockeghem</a></h4>
        <p>
        1985年京セラ株式会社に入社後、ソフトウェアの開発、企画に従事。<br />
        1999年に携帯電話向け認証課金基盤の方式設計を担当したことをきっかけにWebアプリケーションのセキュリティに興味を持つ。2004年同分野を事業化。<br />
        2008年独立して、Webアプリケーションセキュリティを専門分野とするHASHコンサルティング株式会社を設立。2015年　イー・ガーディアングループに参画。<br />
        <br />
        脆弱性診断やコンサルティング業務のかたわら、ブログや勉強会などを通じてセキュリティの啓蒙活動をおこなっている。著書に、「徳丸浩のWebセキュリティ教室」（日経BP社）「体系的に学ぶ 安全なWebアプリケーションの作り方 脆弱性が生まれる原理と対策の実践（ソフトバンククリエイティブ）」がある。<br />
        <br />
        HASHコンサルティング株式会社代表、京セラコミュニケーションシステム株式会社技術顧問、独立行政法人情報処理推進機構（IPA）非常勤研究員。技術士（情報工学部門）。
        </p>
      </div>
    </div>
    <div class="row" id="NAME3">
      <div class="col-md-3"><img src="./assets/images/guests/shoichi-kaji.png" class="img-circle"/></div>
      <div class="col-md-9">
        <h4>鍛治 匠一 <a hre="https://twitter.com/shoichikaji" target="_blank">@shoichikaji</a></h4>
        <p>
        1984年、神奈川県生まれ。<br />
        ヤフー株式会社で広告配信システムの開発、運用をしている。<br />
        Perlのエコシステムに強い関心を持ち、それを前進させることができないか日々考えている。<br />
        cpm (Perl5), mi6 (Perl6)などの作者。
        </p>
      </div>
    </div>
  </div><!--  / .body /  -->
</div><!--  / .section /  -->
