
<h3 class="title">SPECIAL SESSION</h3>
<div class="section" id="special-session">
  <div class="body">
    <div class="row">
      <article class="description">
        <h4 class="title">前夜祭: LTソン</h4>
        <p>
          かつてYAPC::Asia Tokyo 2012, YAPC::Asia Tokyo 2013で開催された、<br />
          <b>「とにかく時間と発表のある限りLTを続ける」</b><br />
          という企画、LTソン。<br />
          YAPC::Fukuoka 2017 HAKATAの前夜祭に開催します！<br />
        </p>
        <p>
          ・トークしたことないけど喋ってみたい、でも敷居が高い・・・<br />
          ・福岡に行くのはいいけど、誰かと話すきっかけが・・・<br />
          ・今すぐ伝えたい熱い思いがある！でもどこで伝えたらいいの！<br />
          そんな方は特に、そうでない方にもおススメの、とにかく楽しいイベントです！
        <p>
        </p>
        <p>
          LTソンの司会には、元祖であり本家である、Hachioji.pmのうずらさんをお呼びしました！<br />
          また、会場のご提供ならびに懇親会スポンサーとして、<a href="https://nulab-inc.com/ja/" target="_blank">株式会社ヌーラボ様</a>のご支援をいただきました！<br />
          楽しくなること間違いなしの前夜祭、奮ってご参加ください！
        </p>
        <p>
          参考リンク:<br />
          <a href="http://ltthon-yapc2012.hachiojipm.org/" target="_blank">[YAPC::Asia Tokyo 2012 LTソン]</a><br />
          <a href="http://ltthon-yapc2013.hachiojipm.org/" target="_blank">[YAPC::Asia Tokyo 2013 LTソン]</a>
        </p>
      </article>
    </div>
    <div class="row">
      <div class="col-md-3"><img src="./assets/images/guests/uzulla.jpg" class="img-circle" /></div>
      <div class="col-md-9">
        <h4>うずら <a hre="https://twitter.com/uzulla" target="_blank">@uzulla</a></h4>
        <p>
          東京都八王子市在住のフリーランス、好きなものはお祭り、Hachioji.pmを主催。<br />
          YAPC::Asia Tokyo 2012 にてエンドレスにLTをするLTソンというイベント内イベントを開催し、2日間ぶっ通しでLTの司会をし続けて白く燃え尽きた。<br />
          YAPC::Asia Tokyo 2014 でベストトーク賞を受賞し、YAPC::Europe 2015 でも登壇。<br />
          Perlの人達が好きなPHPer。
        </p>
      </div>
    </div>
  </div><!--  / .body /  -->
</div><!--  / .section /  -->
