<h3 class="title">{{page-title}}</h3>
{{#corestaff@size}}
<div id="core-staff" class="section">
  <div class="body">
    <ul class="staff-list">
      {{#corestaff}}
        <li>
          <a href="{{url}}" target="_blank">
            <img src="assets/images/staff/core/{{asset}}"/>
            <p>{{name}}</p>
          </a>
          {{#twitter}}
            <a href="{{twitter}}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          {{/twitter}}
          {{#github}}
            <a href="{{github}}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
          {{/github}}
          {{#facebook}}
            <a href="{{facebook}}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          {{/facebook}}
        </li>
      {{/corestaff}}
    </ul>
  </div>
</div>
{{/corestaff@size}}

{{#volunteers@size}}
<h3 class="title">ボランティアスタッフ</h3>
<div id="volunteer-staff" class="section">
  <div class="body">
    <ul class="staff-list">
      {{#volunteers}}
        <li class="">
          <a href="{{url}}" target="_blank">
            <img src="assets/images/staff/volunteers/{{asset}}"/>
            <p>{{name}}</p>
          </a>
        </li>
      {{/volunteers}}

    </ul>
  </div>
</div>
{{/volunteers@size}}
