
<footer class="mt-32 mx-auto mb-10 flex flex-col items-center">
	<img src="images/jpa.png" alt="JPA" class="w-[90px]" />
	<p class="text-xs mt-3">© 2022 Japan Perl Association</p>
</footer>
</body>
</html>