<!DOCTYPE html>
<html lang="jp">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./index.css">
	<title>YAPC::Kyoto 2023</title>
</head>

<body class="pt-10 sm:pt-28">
	<nav class="global-nav">
		<div class="global-nav__inner">
			<ul class="global-nav__links text-xs sm:text-base">
				<li><a href="/2023kyoto/">Home</a></li>
				<li><a href="/2023kyoto/#announcements">Announcements</a></li>
				<li><a href="/2023kyoto/#speakers">Speakers</a></li>
			</ul>
		</div>
	</nav>
