:root {
  --color-black: #000;
  --window-width-l: 1440px;
  --window-width-m: 1024px;
  --window-width-s: 380px;
  --font-sans: "Open Sans", YakuHanJP, "Noto Sans JP", sans-serif;
  --font-bold: "Open Sans", YakuHanJP, "Noto Sans JP", sans-serif;
}

body {
  background: #fff;
  font-family: var(--font-sans);
  line-height: 1.8;
}

.heading {
  font-weight: 900;
  font-family: var(--font-bold);
}

.op-3 {
  opacity: 0.3;
}

a {
  color: #da3832;
}

a:active {
  color: red;
}

a:hover {
  color: #da3832;
  text-decoration: underline;
}

#timetable .table {
  line-height: 1.5;
  min-width: 720px;
}

@media (max-width: 576px) {
  #timetable .table {
    font-size: 0.8rem;
  }
}

#timetable .table th {
  white-space: nowrap;
}

#timetable .table th:first-child {
  border-right: 1px dotted #ccc;
}

#timetable .table tr:nth-child(2n) th:first-child {
  background: #f0f0f0;
}

.track__title {
  font-weight: bold;
  text-decoration: underline;
}

.track__time {
  font-size: 0.8rem;
  color: #666;
}

.track__author {
  display: block;
  font-size: 0.9rem;
}
