<div class="section" id="button">
<div class="button">
<ul>{{#buttons}}{{#visible}}
    <li><a href="{{url}}" class="btn btn-{{type}} btn-lg" {{#blank}} target="_blank"{{/blank}}>{{label}}</a>{{#notice}}<small class="notice">{{notice}}</small>{{/notice}}</li>{{/visible}}{{/buttons}}
</ul>
</div><!--  / .button /  -->
</div><!--  / .section /  -->
