<div id="guest-speakers">
  <h3 class="title">GUEST SPEAKERS</h3>
  <div class="section">
    <div class="body">
      <div class="row" id="NAME1">
        <div class="col-md-3"><img src="./assets/images/guests/tokuhirom.jpg" class=""/></div>
        <div class="col-md-9">
          <h4>松野徳大 <a href="https://twitter.com/tokuhirom" target="_blank">@tokuhirom</a></h4>
          <p>
            LINE 株式会社サービス開発1室所属。Web application の開発を生業にしている。LINE では LINE Manga, LINE Creators Market などの開発を Perl5 を用いて行った。現在は LINE Ads Platform 担当エンジニアリングマネージャー。
          </p>
          <p>
Perl5 でウェブアプリケーション開発を行う途中で必要そうなモジュールを CPAN にアップロードしていった結果、世界でも有数の CPAN Author となる。 2016年には Perl6 にハマっていて Perl6 関連の数々のモジュールを開発。Perl6 のコミッター。
          </p>
        </div>
      </div>
      <div class="row" id="NAME2">
        <div class="col-md-3"><img src="./assets/images/guests/hiroki.png" class=""/></div>
        <div class="col-md-9">
          <h4>広木 大地 <a href="https://twitter.com/hiroki_daichi" target="_blank">@hiroki_daichi</a></h4>
          <p>
            株式会社レクター取締役
          </p>
          <p>
            2008年度に新卒第1期として株式会社ミクシィに入社。同社メディア統括部部長、開発部部長、サービス本部長執行役員などを歴任。2015年同社を退社。現在は株式会社レクターを創業し、技術組織顧問として複数社のCTO支援を行なっている。
          </p>
          <p>
            著書、『<a href="http://gihyo.jp/book/2018/978-4-7741-9605-3" target="_blank">エンジニアリング組織論への招待～不確実性に向き合う思考と組織のリファクタリング</a>』</p>
          <p>
            Perl徹底攻略 (WEB+DB PRESS plus) 「大規模システム設計のツボ」寄稿
          </p>
        </div>
      </div>
    </div><!--  / .body /  -->
  </div><!--  / .section /  -->
</div><!--  / #guest-speakers /  -->
