<div id="guest-speakers">
<h3 class="title">GUEST SPEAKERS</h3>
<div class="section">
<div class="body">
<div class="row" id="NAME1">
<div class="col-md-3"><img src="https://dummyimage.com/600x600/eee/333" class=""/></div>
<div class="col-md-9">
<h4>氏名 名前 <a href="https://twitter.com/" target="_blank">@xxxxxxx</a></h4>
<p>
ここに文章が入りますここに文章が入りますここに文章が入りますここに文章が入ります。
</p>
</div>
</div>
<div class="row" id="NAME2">
<div class="col-md-3"><img src="https://dummyimage.com/600x600/eee/333" class=""/></div>
<div class="col-md-9">
<h4>氏名 名前 <a href="https://twitter.com/" target="_blank">@xxxxxxx</a></h4>
<p>
ここに文章が入りますここに文章が入りますここに文章が入りますここに文章が入ります。
</p>
</div>
</div>
<div class="row" id="NAME3">
<div class="col-md-3"><img src="https://dummyimage.com/600x600/eee/333" class=""/></div>
<div class="col-md-9">
<h4>氏名 名前 <a href="https://twitter.com/" target="_blank">@xxxxxxx</a></h4>
<p>
ここに文章が入りますここに文章が入りますここに文章が入りますここに文章が入ります。
</p>
</div>
</div>
</div><!--  / .body /  -->
</div><!--  / .section /  -->
</div><!--  / #guest-speakers /  -->
