<div id="lunch-session">
  <h3 class="title">LUNCH SESSION</h3>
  <div class="section">
    <div class="body">
      <div class="row">
        <article class="description">
          <p>本セッションは、株式会社SBX Technologies様と株式会社ミクシィ様にスポンサードしていただいているランチセッションです。<br />
豪華お弁当を先着120名まで無料で配布いたしますので、会場のRoom1内で味わって下さい！</p>
        </article>
      </div>
      <div class="row">
        <h4 class="title">スケジュール:</h4>
      </div>
      <div class="row">
        <article class="description">
          <h4>12:50 ~ 13:05 開場 + 弁当配布</h4>
        </article>
      </div>
      <div class="row">
        <article class="description">
          <h4 class="title">13:05 ~ 13:25 ランチセッション(1) 株式会社SBX Technologies様</h4>
          <p>「Garuda:汎用コネクティビティ プラットフォーム<br />Perlをサイエンスの世界につなぐ」</p>
        </article>
      </div>
      <div class="row">
        <article class="description">
          <h4 class="title">13:25 ~ 13:45 ランチセッション(2) 株式会社ミクシィ様</h4>
          <p>「20歳の僕が経験したPerlエンジニアへの道」</p>
        </article>
      </div>
    </div><!--  / .body /  -->
  </div><!--  / .section /  -->
</div><!--  / #lunch-session /  -->
