<div id="mainvisual">
  <div class="inner" id="scene">
    <h1 class="layer" data-depth-x="-0.60" data-depth-y="-0.30"><img src="./assets/images/mv_logo.png" alt="YAPC::Tokyo 2019｜ヤプシー東京 2019" /></h1>
    <h2 class="layer" data-depth-x="-0.30" data-depth-y="-0.15"><img src="./assets/images/mv_venue.png" alt="2019.01.26[SAT] ASAKUSABASHI HULIC HALL & HULIC CONFERENCE｜2019年1月26日(土) 浅草橋ヒューリック ホール＆ヒューリック カンファレンス" /></h2>
    <figure id="sun" class="layer" data-depth="0.10"><img src="./assets/images/mv_sun.png" alt="SUN" /></figure>
    <figure id="cloud4" class="layer" data-depth="-0.10"><img src="./assets/images/mv_cloud4.png" alt="Cloud" /></figure>
    <figure id="cloud3" class="layer" data-depth="-0.10"><img src="./assets/images/mv_cloud3.png" alt="Cloud" /></figure>
    <figure id="cloud2" class="layer" data-depth="-0.10"><img src="./assets/images/mv_cloud2.png" alt="Cloud" /></figure>
    <figure id="cloud1" class="layer" data-depth="-0.10"><img src="./assets/images/mv_cloud1.png" alt="Cloud" /></figure>
    <figure id="fuji" class="layer" data-depth-x="0.20"><img src="./assets/images/mv_mt-fuji.png" alt="Mt FUJI" /></figure>
    <figure id="tokyotower" class="layer" data-depth-x="0.30"><img src="./assets/images/mv_tokyo-tower.png" alt="Tokyo Tower" /></figure>
    <figure id="building3" class="layer" data-depth-x="0.40"><img src="./assets/images/mv_building3.png" alt="Building" /></figure>
    <figure id="building2" class="layer" data-depth-x="0.60"><img src="./assets/images/mv_building2.png" alt="Building" /></figure>
    <figure id="building1" class="layer" data-depth-x="0.80"><img src="./assets/images/mv_building1.png" alt="Building" /></figure>
  </div><!--  / .inner /  -->
  <hr class="red" />
  <hr class="black" />
</div><!--  / #mainvisual /  -->
