<div id="special-session">
<h3 class="title">SPECIAL SESSION</h3>
<div class="section">
<div class="body">
<div class="row">
<article class="description">
<h4 class="title">ここにタイトルが入ります。</h4>
<p>ここに文章が入りますここに文章が入りますここに文章が入りますここに文章が入ります。</p>
<p>ここに文章が入りますここに文章が入りますここに文章が入りますここに文章が入ります。</p>
</article>
</div>
<div class="row">
<h4 class="title">登壇者(50音順、敬称略)</h4>
</div>
<div class="row">
<div class="col-md-3"><img src="https://dummyimage.com/600x600/eee/333" class="" /></div>
<div class="col-md-9">
<div class="col-header">
<h4><small>株式会社まるまる</small><br />氏名 名前 <a href="#" target="_blank">@xxxxxxx</a></h4>
</div>
<div class="col-body">
<p>
ここに文章が入りますここに文章が入りますここに文章が入りますここに文章が入ります。
</p>
</div>
</div>
</div>
<div class="row">
<div class="col-md-3"><img src="https://dummyimage.com/600x600/eee/333" class="" /></div>
<div class="col-md-9">
<div class="col-header">
<h4><small>株式会社まるまる</small><br />氏名 名前 <a href="#" target="_blank">@xxxxxxx</a></h4>
</div>
<div class="col-body">
<p>
ここに文章が入りますここに文章が入りますここに文章が入りますここに文章が入ります。
</p>
</div>
</div>
</div>
<div class="row">
<div class="col-md-3"><img src="https://dummyimage.com/600x600/eee/333" class="" /></div>
<div class="col-md-9">
<div class="col-header">
<h4><small>株式会社まるまる</small><br />氏名 名前 <a href="#" target="_blank">@xxxxxxx</a></h4>
</div>
<div class="col-body">
<p>
ここに文章が入りますここに文章が入りますここに文章が入りますここに文章が入ります。
</p>
</div>
</div>
</div>
</div><!--  / .body /  -->
</div><!--  / .section /  -->
</div><!--  / #special-session /  -->
