<div id="special-session">
  <h3 class="title">SPECIAL SESSION</h3>
  <div class="section">
    <div class="body">
      <div class="row">
        <article class="description">
          <h4 class="title">北海道、大阪、福岡、沖縄のYAPCキーマンたちが勢揃い！<br />
          YAPC座談会～リブート後のYAPCはどうだったのか？そして、新時代のYAPCはどうなる？</h4>
          <p>2016年12月に北海道でリブートしたYAPC::Japan。その後、2017年に大阪、福岡、2018年に沖縄と、日本を北から南まで縦断し、リブートしたYAPCの姿を、日本全国に伝えてきました。そして、ついに、東京での開催。</p>
          <p>今回、リブート後の各地YAPCの運営メンバーをパネリストに迎え、各地域でのYAPCの様子、運営の立場で感じたことを赤裸々に話してもらいます。パネルディスカッションではありますが、参加者からの質問や意見も受け付ける、オープンスタイルでの開催を予定しています。</p>
          <p>2019年、新元号を迎える日本で、YAPCがどのようにアップデートされていくのか、パネリストの皆さんとともに、一緒に考え、行動していきましょう。</p>
        </article>
      </div>

      <div class="row">
        <h4 class="title">登壇者(50音順、敬称略)</h4>
      </div>

      <div class="row">
        <div class="col-md-3"><img src="https://dummyimage.com/600x600/eee/333" class="" /></div>
          <div class="col-md-9">
            <div class="col-header">
              <h4><small>株式会社まるまる</small><br />氏名 名前 <a href="#" target="_blank">@xxxxxxx</a></h4>
            </div>
          <div class="col-body">
            <p>
            ここに文章が入りますここに文章が入りますここに文章が入りますここに文章が入ります。
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"><img src="https://dummyimage.com/600x600/eee/333" class="" /></div>
          <div class="col-md-9">
            <div class="col-header">
              <h4><small>株式会社まるまる</small><br />氏名 名前 <a href="#" target="_blank">@xxxxxxx</a></h4>
            </div>
          <div class="col-body">
            <p>
            ここに文章が入りますここに文章が入りますここに文章が入りますここに文章が入ります。
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"><img src="https://dummyimage.com/600x600/eee/333" class="" /></div>
          <div class="col-md-9">
            <div class="col-header">
              <h4><small>株式会社まるまる</small><br />氏名 名前 <a href="#" target="_blank">@xxxxxxx</a></h4>
            </div>
          <div class="col-body">
            <p>
            ここに文章が入りますここに文章が入りますここに文章が入りますここに文章が入ります。
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"><img src="https://dummyimage.com/600x600/eee/333" class="" /></div>
          <div class="col-md-9">
            <div class="col-header">
              <h4><small>株式会社まるまる</small><br />氏名 名前 <a href="#" target="_blank">@xxxxxxx</a></h4>
            </div>
          <div class="col-body">
            <p>
            ここに文章が入りますここに文章が入りますここに文章が入りますここに文章が入ります。
            </p>
          </div>
        </div>
      </div>

    </div><!--  / .body /  -->
  </div><!--  / .section /  -->
</div><!--  / #special-session /  -->
