<div id="special-session">
  <h3 class="title">SPECIAL SESSION</h3>
  <div class="section">
    <div class="body">
      <div class="row">
        <article class="description">
          <h4 class="title">北海道、大阪、福岡、沖縄のYAPCキーマンたちが勢揃い！YAPC座談会～リブート後のYAPCはどうだったのか？そして、新時代のYAPCはどうなる？</h4>
          <p>2016年12月に北海道でリブートしたYAPC::Japan。その後、2017年に大阪、福岡、2018年に沖縄と、日本を北から南まで縦断し、リブートしたYAPCの姿を、日本全国に伝えてきました。そして、ついに、東京での開催。
            今回、リブート後の各地YAPCの運営メンバーをパネリストに迎え、各地域でのYAPCの様子、運営の立場で感じたことを赤裸々に話してもらいます。パネルディスカッションではありますが、参加者からの質問や意見も受け付ける、オープンスタイルでの開催を予定しています。</p>
          <p>2019年、新元号を迎える日本で、YAPCがどのようにアップデートされていくのか、パネリストの皆さんとともに、一緒に考え、行動していきましょう。</p>
        </article>
      </div>
      <div class="row">
        <h4 class="title">登壇者(YAPC開催順、敬称略)</h4>
      </div>
      <div class="row">
        <div class="col-md-3"><img src="./assets/images/guests/onagatani.jpg" class="" /></div>
        <div class="col-md-9">
          <div class="col-header">
            <h4><small>株式会社COLSIS 執行役員</small><br />永谷 理<a href="https://twitter.com/onagatani" target="_blank">@onagatani</a></h4>
          </div>
          <div class="col-body">
            <p>YAPC::Japanへは2016年の北海道から皆勤賞で参加。</p>
            <p>コルシス札幌支社に勤務しインフラ構築や、ECサイトなどのシステム開発に従事しています。</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"><img src="./assets/images/guests/nqounet.jpg" class="" /></div>
        <div class="col-md-9">
          <div class="col-header">
            <h4>若林　信敬 <a href="https://twitter.com/nqounet" target="_blank">@nqounet</a></h4>
          </div>
          <div class="col-body">
            <p>1973年石川県生まれ。石川高専建築学科を卒業後、関西の不動産会社勤務を経てIT業界へ転向しフリーランスに。主にプログラマとしてウェブアプリケーションの開発を行っている。2018年まで Kansai.pm の代表として活動し、「Perl入学式」や「Perl鍋」などのプログラミング勉強会を多数開催。</p>
            <p>最近はウイスキーにハマっており、シングルモルトからバーボンまで広く浅く嗜んでいる。</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"><img src="./assets/images/guests/debility.jpg" class="" /></div>
        <div class="col-md-9">
          <div class="col-header">
            <h4>平田 哲 <a href="https://twitter.com/debility" target="_blank">@debility</a></h4>
          </div>
          <div class="col-body">
            <p>ヤフー株式会社でプラットフォーム側のサービス開発・運用を行っている。</p>
            <p>YAPC::Fukuoka 2017 HAKATA の実行委員長を務めた。</p>
            <p>サービスの信頼性向上、Toilの解消が最近のテーマ。</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"><img src="./assets/images/guests/codehex.jpg" class="" /></div>
        <div class="col-md-9">
          <div class="col-header">
            <h4><a href="https://twitter.com/codehex" target="_blank">@codehex</a></h4>
          </div>
          <div class="col-body">
            <p>株式会社メルカリ所属</p>
            <p>Okinawa.pm のオーガナイザー。昨年は沖縄で YAPC::Okinawa を開催。最近は主に Go を書いてるが、隙を見つけて Perl を書いてる。</p>
          </div>
        </div>
      </div>
      <div class="row">
        <h4 class="title">モデレータ</h4>
      </div>
      <div class="row">
        <div class="col-md-3"><img src="./assets/images/guests/fuon.jpg" class="" /></div>
        <div class="col-md-9">
          <div class="col-header">
            <h4>馮 富久<a href="https://twitter.com/tomihisa" target="_blank">@tomihisa</a></h4>
          </div>
          <div class="col-body">
            <p>株式会社技術評論社 クロスメディア事業室室長</p>
            <p>1975年生まれ。横浜市出身。1999年、株式会社技術評論社に入社。入社後から 『Software Design』編集部に配属され、2004年1月に編集長へ就任。同2004年9月に『Web Site Expert』を立ち上げ、同誌編集長に就任。現在はクロスメディア事業室室長として、同社刊行物の電子出版事業を中心に、新たなコンテンツ流通とビジネス市場拡大に向けて積極的に取り組む。<p>
          </div>
        </div>
      </div>
    </div><!--  / .body /  -->
  </div><!--  / .section /  -->
</div><!--  / #special-session /  -->
