<div id="sponsors">
  <div class="section" id="sponsors">
    <h3 class="title">SPONSORS</h3>
    <div class="body">
      {{^sponsors}}
        Coming Soon...
      {{/sponsors}}
      {{#sponsors}}
        {{#list@size}}
          <div class="class">
            <h4>{{name}}</h4>
            <div class="block">
              <ul>{{#list}}
                <li class="{{image_size}}"><a href="{{url}}" target="_blank"><img src="./assets/images/sponsors/{{asset}}" alt="{{name}}" /></a></li>{{/list}}
              </ul>
            </div>
          </div>
        {{/list@size}}
      {{/sponsors}}
    </div><!--  / .body /  -->
  </div><!--  / .section /  -->
</div><!--  / #sponsors /  -->
