<div id="tickets">
  <h3 class="title">TICKETS</h3>
  <div class="section">
    <div class="body">
      <h4>YAPC::Tokyo 2019 01/26</h4>
      <ul>
        <li><a href="" target="_blank">一般・学生チケット</a></li>
        <li><a href="" target="_blank">個人スポンサーチケット</a></li>
      </ul>
    </div><!--  / .body /  -->
  </div><!--  / .section /  -->
</div><!--  / #tickets /  -->
