<div id="tickets">
  <h3 class="title">TICKETS</h3>
  <div class="section">
    <div class="body">
    {{#tickets}}
      {{#visible}}
      <h4>{{name}}</h4>
      <ul>{{#list}}
        <li{{#soldout}} class="sold-out"{{/soldout}}{{#eos}} class="sold-out"{{/eos}}><a href="{{url}}" target="_blank">{{name}}</a>{{#soldout}} 完売御礼{{/soldout}}{{#eos}} 販売終了{{/eos}}</li>{{/list}}
      </ul>
      {{/visible}}
    {{/tickets}}
    </div><!--  / .body /  -->
  </div><!--  / .section /  -->
</div><!--  / #tickets /  -->
