*, :before, :after {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

:before, :after {
  --tw-content: "";
}

html {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-feature-settings: normal;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
}

body {
  line-height: inherit;
  margin: 0;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
  background-color: #0000;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol, ul, menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

textarea {
  resize: vertical;
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button, [role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img, svg, video, canvas, audio, iframe, embed, object {
  vertical-align: middle;
  display: block;
}

img, video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

*, :before, :after, ::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.my-24 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.mb-20 {
  margin-bottom: 5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mt-32 {
  margin-top: 8rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mt-3 {
  margin-top: .75rem;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.grid {
  display: grid;
}

.h-\[500px\] {
  height: 500px;
}

.w-\[423px\] {
  width: 423px;
}

.w-full {
  width: 100%;
}

.w-\[90px\] {
  width: 90px;
}

.w-\[422px\] {
  width: 422px;
}

.max-w-\[300px\] {
  max-width: 300px;
}

.max-w-\[200px\] {
  max-width: 200px;
}

.max-w-\[150px\] {
  max-width: 150px;
}

.max-w-3xl {
  max-width: 48rem;
}

.max-w-5xl {
  max-width: 64rem;
}

.basis-full {
  flex-basis: 100%;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.gap-4 {
  gap: 1rem;
}

.gap-6 {
  gap: 1.5rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pt-10 {
  padding-top: 2.5rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: .875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: .75rem;
  line-height: 1rem;
}

.font-bold {
  font-weight: 700;
}

.underline {
  text-decoration-line: underline;
}

html {
  background: #fff;
}

body {
  background-color: #0000;
  font-family: Helvetica Neue, Helvetica, Hiragino Sans, Hiragino Kaku Gothic ProN, Arial, Yu Gothic, Meiryo, sans-serif;
}

html:before {
  content: "";
  height: 600px;
  z-index: -1;
  background: linear-gradient(#fff7ca 66.67%, #fff7ca00 100%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.global-nav {
  width: 100%;
  z-index: 999;
  background: url("header-bg.8ec50a9a.png") 50% -44.5px / 1254.5px 89px repeat-x;
  position: fixed;
  top: 0;
}

.global-nav__inner {
  justify-content: flex-end;
  padding: 10px;
  display: flex;
}

.global-nav__links {
  z-index: 999;
  max-width: 100%;
  background: #fff;
  border: 3px solid #000;
  border-radius: 30px;
  gap: 20px;
  padding: 5px 20px;
  font-weight: 900;
  display: flex;
}

.hero-bg {
  background: linear-gradient(#fff7ca 66.67%, #fff7ca00 100%);
}

.hr__tora, .hr__cat {
  content: "";
  box-sizing: content-box;
  height: 10px;
  filter: drop-shadow(0 4px 2px #00000040);
  width: calc(100% - 30px);
  background-size: 32px 40px;
  border: 3px solid #000;
  border-radius: 10px;
  margin: 1em auto;
  display: block;
}

.hr__tora {
  background-image: url("hr__tora.8164d518.svg");
}

.hr__cat {
  background-image: url("hr__cat.441fe8f4.svg");
}

.h2__bell, .h2__nikukyu {
  font-size: 1.5rem;
  line-height: 2rem;
}

@media (min-width: 768px) {
  .h2__bell, .h2__nikukyu {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.h2__bell, .h2__nikukyu {
  color: #000;
  align-items: top;
  justify-content: center;
  margin: 1.5em 0;
  font-weight: 700;
  line-height: 1;
  display: flex;
}

.h2__bell {
  gap: 13px;
}

.h2__nikukyu:before, .h2__nikukyu:after, .h2__bell:before, .h2__bell:after {
  content: "";
  width: 36px;
  height: 36px;
  background-image: url("bell.410714f7.png");
  background-repeat: no-repeat;
  background-size: 36px;
  display: block;
}

.h2__nikukyu:before {
  width: 51px;
  height: 51px;
  background-image: url("nikukyu.c34c0008.png");
  background-size: auto 100%;
}

.h2__nikukyu:after {
  width: 51px;
  height: 51px;
  background-image: url("nikukyu.c34c0008.png");
  background-size: auto 100%;
  transform: scaleX(-1);
}

.h2__bell span, .h2__nikukyu span {
  display: grid;
}

.h2__bell span:after, .h2__nikukyu span:after {
  content: "";
  border-bottom: 5px dotted #000;
  margin-top: .3em;
}

.announcement {
  gap: 1em;
  margin-bottom: 2rem;
  display: grid;
}

@media (min-width: 640px) {
  .announcement li {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.announcement li {
  grid-template-columns: auto 1fr;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
  font-weight: 400;
  text-decoration-line: underline;
  display: grid;
}

.announcement li:before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #ffde17;
  border-radius: 10px;
  margin-top: .5em;
}

.guests {
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  display: flex;
}

@media (min-width: 640px) {
  .guests {
    gap: 2.5rem;
  }
}

@media screen and (max-width: 720px) {
  .guests {
    grid-template-columns: minmax(auto, 400px);
  }
}

.guest {
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 4px 4px #00000040;
}

.guest-photo__wrapper {
  padding-top: 50px;
  position: relative;
}

.guest-photo__wrapper:before {
  content: "";
  background-color: #f7941d;
  position: absolute;
  inset: 0 0 40%;
}

.guest-photo__wrapper:after {
  content: "";
  background: url("guest_bg.707bd73d.png") 50% 30px / 204px 111px no-repeat;
  position: absolute;
  inset: 0 0 40%;
}

.guest-photo__wrapper img {
  z-index: 1;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin: auto;
  position: relative;
}

.table__place td, .table__place th {
  text-align: left;
  padding: .75rem .5rem;
}

@media (min-width: 640px) {
  .table__place td, .table__place th {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

.btn-ticket {
  color: #ffde17;
  text-align: center;
  background: #222;
  border-radius: 5px;
  padding: 1rem 2rem .75rem;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.75rem;
}

@media (min-width: 640px) {
  .btn-ticket {
    padding: 1.25rem 3rem 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.btn-ticket {
  position: relative;
}

.btn-ticket:after {
  content: "";
  width: 48px;
  height: 48px;
  background-image: url("bell.410714f7.png");
  background-repeat: no-repeat;
  background-size: 48px;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 640px) {
  .sm\:py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .sm\:pt-28 {
    padding-top: 7rem;
  }

  .sm\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .sm\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 768px) {
  .md\:w-1\/2 {
    width: 50%;
  }

  .md\:basis-64 {
    flex-basis: 16rem;
  }

  .md\:flex-row {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .lg\:w-1\/3 {
    width: 33.3333%;
  }
}

@media (min-width: 1280px) {
  .xl\:w-1\/4 {
    width: 25%;
  }

  .xl\:w-1\/3 {
    width: 33.3333%;
  }
}

/*# sourceMappingURL=index.61d3354a.css.map */
