<html>

<head>
	<title>2024 Hakodate</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,500;0,700;1,500;1,700&family=Roboto:wght@400;500;700&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body class="bg-default text-default">
	<div id="container">
		<div id="header">
			<h1 class="text-display">2024 Hakodate</h1>
		</div>
		<div id="content">
			<h2>Welcome to 2024 Hakodate</h2>
		</div>
		<div class="text-sm text-center">
			<p>
				&copy; JPA
			</p>
		</div>
	</div>
</body>

</html>