<html>

<head>
	<title>2024 Hakodate</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body>
	<div id="container">
		<div id="header">
			<h1>2024 Hakodate</h1>
		</div>
		<div id="content">
			<h2>Welcome to 2024 Hakodate</h2>
		</div>
		<div id="footer">
			<p>
				&copy; JPA
			</p>
		</div>
	</div>
</body>

</html>