<html>

<head>
	<title>YAPC::Hakodate 2024</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link
		href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,500;0,700;1,500;1,700&family=Roboto:wght@400;500;700&display=swap"
		rel="stylesheet">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body class="bg-default text-default">
	<nav class="bg-gray-800 text-white">
		<div class=" flex justify-between items-center">
			<div>
				<div class="bg-key tri-right flex pl-4 w-32 sm:w-40 h-10 sm:h-14">
					<img class="w-6 sm:w-8" src="./images/logo_small.svg" alt="YAPC::Hiroshima 2024" />
				</div>
			</div>
			<!--

			<button id="menu-btn" class="material-symbols-outlined hamburger focus:outline-none" aria-label="メニューを開く">
				menu
			</button>
			-->
		</div>
		<!--
		<div id="menu" class="hidden">
			<a href="#" class="block p-4 border-b border-gray-700 hover:bg-gray-700">MENU1</a>
			<a href="#" class="block p-4 border-b border-gray-700 hover:bg-gray-700">MENU2</a>
			<a href="#" class="block p-4 border-b border-gray-700 hover:bg-gray-700">MENU3</a>
			<a href="#" class="block p-4">コンタクト</a>
		</div>
			-->
	</nav>

	<!--
	<script>
		document.getElementById('menu-btn').addEventListener('click', function () {
			document.getElementById('menu').classList.toggle('hidden');
		});
	</script>
-->

	<div id="hero" class="hero overflow-hidden">
		<img id="heroBg" class="hero_bg absolute inset-0 w-full h-full object-cover opacity-0"></img>
		<div id="heroLogo"></div>
		<div id="heroBanner" class="text-right bg-key tri-left mb-7">
			<div class="p-2 sm:p-4">
				<p class="text-4xl sm:text-6xl"><span class="shuffleTextHero">2024.10.5</span><span
						class="text-2xl sm:text-4xl"><span class="shuffleTextHero">
							sat.</span></span></p>
				<p class="text-xl sm:text-2xl not-italic font-extrabold"><span class="shuffleTextHero">@公立はこだて未来大学</span></p>
			</div>
		</div>
	</div>


	<div class="container mx-auto">
		<p class="my-6 sm:my-20 mx-auto p-6 text-xl sm:text-2xl lg:w-3/4 font-bold leading-relaxed">
			YAPCはYet Another Perl Conferenceの略で、Perlを軸としたITに関わる全ての人のためのカンファレンスです。
			Perlだけにとどまらない技術者たちが、好きな技術の話をし交流するカンファレンスで、技術者であれば誰でも楽しめるお祭りです！
		</p>
	</div>


	<header class="sectionHeader">
		<h2><span>Open the future</span></h2>
	</header>
	<div class="container mx-auto">
		<p class="my-6 sm:my-20 mx-auto p-6 text-xl sm:text-2xl lg:w-3/4 font-bold leading-relaxed">
			YAPCはYet Another Perl Conferenceの略で、Perlを軸としたITに関わる全ての人のためのカンファレンスです。
			Perlだけにとどまらない技術者たちが、好きな技術の話をし交流するカンファレンスで、技術者であれば誰でも楽しめるお祭りです！
		</p>
	</div>

	<header class="sectionHeader">
		<h2><span>Annoucement</span></h2>
	</header>
	<div class="container mx-auto">
		<ul class="my-10 mx-auto p-6 text-xl sm:text-2xl lg:w-3/4 font-bold leading-relaxed text-display">
			<li class="border-b-4 border-key py-2 mb-2"><span class="mr-3">2024.5.5</span><a href="">ABCを公開しました</a></li>
			<li class="border-b-4 border-key py-2 mb-2"><span class="mr-3">2024.5.5</span><a href="">ABCを公開しました</a></li>
			<li class="border-b-4 border-key py-2 mb-2"><span class="mr-3">2024.5.5</span><a href="">ABCを公開しました</a></li>
			<li class="border-b-4 border-key py-2 mb-2"><span class="mr-3">2024.5.5</span><a href="">ABCを公開しました</a></li>
		</ul>
	</div>

	<footer class="flex flex-col items-center mb-10 mt-32 mx-auto text-jpa"> <img src="./images/jpa.png" alt="JPA"
			class="w-[90px]">
		<p class="mt-3 text-xs text-jpa">© Japan Perl Association</p>
	</footer>
	<script src="./scripts/index.ts" type="module"></script>
</body>

</html>