<html>

<head>
	<title>YAPC::Hakodate 2024</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link
		href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,500;0,700;1,500;1,700&family=Roboto:wght@400;500;700&display=swap"
		rel="stylesheet">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body class="bg-default text-default">
	<nav class="bg-gray-800 text-white">
		<div class=" flex justify-between items-center">
			<div>
				<div class="bg-key tri-right flex pl-4 w-40 h-14">
					<img class="w-8" src="./images/logo_small.svg" alt="YAPC::Hiroshima 2024" />
				</div>
			</div>
			<!--

			<button id="menu-btn" class="material-symbols-outlined hamburger focus:outline-none" aria-label="メニューを開く">
				menu
			</button>
			-->
		</div>
		<!--
		<div id="menu" class="hidden">
			<a href="#" class="block p-4 border-b border-gray-700 hover:bg-gray-700">MENU1</a>
			<a href="#" class="block p-4 border-b border-gray-700 hover:bg-gray-700">MENU2</a>
			<a href="#" class="block p-4 border-b border-gray-700 hover:bg-gray-700">MENU3</a>
			<a href="#" class="block p-4">コンタクト</a>
		</div>
			-->
	</nav>

	<!--
	<script>
		document.getElementById('menu-btn').addEventListener('click', function () {
			document.getElementById('menu').classList.toggle('hidden');
		});
	</script>
-->

	<div id="hero" class="hero overflow-hidden">
		<img id="hero_bg" class="hero_bg absolute inset-0 w-full h-full object-cover opacity-0"></img>

		<div class="absolute top-1/2 left-1/2 -translate-y-2/3 -translate-x-1/2" id="logo"></div>

		<div class="text-right bg-key tri-left mb-7">
			<div class="p-4">
				<p class="text-6xl">2024.10.5<span class="text-4xl"> sat.</span></p>
				<p class="text-2xl not-italic font-extrabold">公立はこだて未来大学 </p>
			</div>
		</div>
	</div>


	<div id="container" class="container mx-auto">
		<p class="my-10 mx-auto p-4 text-xl sm:w-2/4 font-bold">
			YAPCはYet Another Perl Conferenceの略で、Perlを軸としたITに関わる全ての人のためのカンファレンスです。
			Perlだけにとどまらない技術者たちが、好きな技術の話をし交流するカンファレンスで、技術者であれば誰でも楽しめるお祭りです！
		</p>


		<header class="text-center">
			<h2 class="text-6xl font-bold text-display">OPEN THE FUTURE</h2>
		</header>


	</div>

	<footer class="flex flex-col items-center mb-10 mt-32 mx-auto text-jpa"> <img src="./images/jpa.png" alt="JPA"
			class="w-[90px]">
		<p class="mt-3 text-xs text-jpa">© Japan Perl Association</p>
	</footer>
	<script src="./scripts/index.ts" type="module"></script>
</body>

</html>