@charset "utf-8";

/*//////////////////////////////////////////////////////////
//  - YAPC::Okinawa Custom CSS
//////////////////////////////////////////////////////////*/

/* buttons */

#button {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button a.btn-info {
    color: #5bc0de;
    border: 2px solid #5bc0de;
}

.button a.btn-success {
    color: #5cb85c;
    border: 2px solid #5cb85c;
}

.button a.btn {
    background-color: #fff;
    margin-bottom: 10px;
}

.button a.btn {
    background-color: #fff;
}

.button a.btn-ticket {
  color:  #5d5cb8;
  border: 2px solid #5d5cb8;
}

.button a.btn-personal-sponsor {
  color:  #5cb85c;
  border: 2px solid #5cb85c;
}

.button a.btn-sponsor {
  color:  #379bc6;
  border: 2px solid #379bc6;
}

.button a.btn-talk {
  color:  #b85c5c;
  border: 2px solid #b85c5c;
}

.button a.btn-lt {
  color:  #f08928;
  border: 2px solid #f08928;
}

.button a.btn-bus {
  color:  #379bc6;
  border: 2px solid #379bc6;
}

.button a.btn-before-night-party {
  color:  #008051;
  border: 2px solid #008051;
}

.button a.btn-after-party {
  color:  #b97a04;
  border: 2px solid #b97a04;
}

/* About */

#about dl {
	display: table;
	width: 100%;
}

#about dl dt {
	display: table-cell;

	width: 6em;
	margin-bottom: 10px;
	padding: 5px 10px;

	font-size: 16px;
	letter-spacing: 0.1em;
}

#about dl dd {
	display: table-cell;
}

/* Sponsors */

#sponsors .class h4 {
	font-size: 16px;
	font-weight: 700;
	margin: 0;
	padding: 10px 0;
}

#sponsors .class .block {
	margin-bottom: 20px;
	_zoom: 1;
	overflow: hidden;
}

#sponsors .class .block ul {
	margin: 0 0 20px 0;
	padding: 0;
}

#sponsors .class .block ul li {
	float: left;
	text-align: center;
	margin: 0 10px 10px 0;
}

#sponsors .class .block ul li img {
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	border: 2px solid #009fe8;
	background-color: #fff;
}
#sponsors .class .block ul li a:hover img { border: 2px solid #0dac67; }

#sponsors .class .block ul li.large img { width: 140px; }
#sponsors .class .block ul li.medium img { width: 100px; }
#sponsors .class .block ul li.small img { width: 80px; }

@media screen and (min-width: 0px) and (max-width: 899px) {
	#sponsors .class .block ul li {
		display: flex;
		justify-content: center;
		align-items: center;
		float: left;
		text-align: center;
		margin: 0 10px 10px 0;
	}
	#sponsors .class .block ul li.large { float: none; width: 180px; margin: 0 auto 10px auto; }
	#sponsors .class .block ul li.medium { width: 100px; }
	#sponsors .class .block ul li.small { width: 80px; }
	#sponsors .class .block ul li img { width: 100% !important; height: auto; }
}

#sponsors .class .block ul li img.sponsor-lg-padding-10 {
    padding: 10px;
}



/*----------------------------------------------------------
  Sponsor Menu
----------------------------------------------------------*/

#sponsor-menu-link img {
  margin-bottom: 0.5em;
  border: solid 3px;
}

#sponsor-menu-link b {
  display: block;
  width: 100%;
  text-align: center;
}

#container > #sponsor-menu .body {
  padding: 6px 20px;
}

#sponsor-menu .body h4.title {
  margin-bottom: 47px;
  text-align: center;
}

#sponsor-menu .button {
  margin: 1em 0 2em;
  width: 100%;
  text-align: center;
}

#sponsor-menu .annotation, #sponsor-menu .history {
  font-size: 13px;
  border-top: dashed 1px;
  padding-top: 1em;
  margin-bottom: 2em;
}

#sponsor-menu .annotation li {
  list-style-type: disc;
  margin-left: 2em;
}

#sponsor-menu .history dt {
  font-weight: bold;
}

#sponsor-menu .history dd {
  margin-top: 3px;
  padding-left: 2em;
}

/* timetable */

#timetable table {
  table-layout: fixed;
  font-size: 14px;
  border: 1px solid #aaaaaa;
  width: 100%;
}

#timetable th, #timetable td {
  border: 1px solid #aaaaaa;
  padding: 5px;
}

#timetable td.highlight {
  background-color: #f8f8f8;
}

#timetable ol {
  list-style-type: decimal;
  padding: 1em;
}

/* talks */
.talk-detail {
  margin-bottom: 1em;
}

.talk-detail aside.speaker {
  display: block;
  max-width: 800px;
  text-align: right;
  margin: 5px 0;
}

.talk-detail .description, #talk-detail-modal .description {
  white-space: pre-wrap;
  padding: 0.5em;
}

/* talk detail modal */
#talk-detail-modal {
  display: table;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

#talk-detail-modal .modal-dialog {
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
}

#talk-detail-modal .modal-content {
  width:inherit;
  height:inherit;
  margin: 0 auto;
  pointer-events: all;
}

#talk-detail-modal aside.time-and-place {
  font-size: 14px;
  text-align: right;
}
#talk-detail-modal aside.time-and-place dl, #talk-detail-modal aside.time-and-place dt, #talk-detail-modal aside.time-and-place dd {
  display: inline;
}
#talk-detail-modal aside.time-and-place dt {
  margin-left: 7px;
}
#talk-detail-modal aside.time-and-place dt:after {
  content: ":";
}

/* guest-list */
#special-session ul {
  list-style: circle;
}

#special-session h4 {
  line-height: 0px;
}

#special-session .col-header {
  padding-bottom: 10px;
}

/* tickets */

#tickets li.ticket b.sold-out {
    text-decoration: line-through;
}

#tickets li.ticket em.now-on-sale {
    display: none;
}

#tickets li.ticket em.sold-out {
    margin-left: 1em;
}
