body, #container {
}

#container {
	display: -webkit-flex; /*safari(PC)用*/
  display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	flex-direction: column;
}

.image_box {
	text-align: center;
}

.image_box > img {
	max-width: 80%;
}



#container > p {
  text-align: center;
  font-size: 40px;
  font-family: 'American Typewriter','Courier New', Courier, Monaco, mono;
  color: #00abff;
  padding-top: 10px;
}

a {
  color: #00abff;
  text-decoration: none;
}

