body, #container {
  width: 100%;
}

#container {
  margin: 10px 0;
}

#container > img {
  display: block;
  margin: 0 auto;
  max-width: 80%;
}

/* 点滅 */
.blinking {
  -webkit-animation: blink 1.5s ease-in-out infinite alternate;
  -moz-animation:    blink 1.5s ease-in-out infinite alternate;
  animation:         blink 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes blink {
    0%   {opacity: 0}
    100% {opacity: 1}
}
@-moz-keyframes blink {
    0%   {opacity: 0}
    100% {opacity: 1}
}
@keyframes blink {
    0%   {opacity: 0}
    100% {opacity: 1}
}

