---
interface Props {
  title: string;
  subtitle: string;
  color?: "orange" | "blue";
}

const { title, subtitle, color = "orange" } = Astro.props;
const colorClass = color === "blue" ? "text-blue" : "text-orange";
---

<hgroup class="flex flex-col items-center text-center gap-1">
  <h2 class:list={["font-solway text-5xl font-extrabold leading-tight", colorClass]}>{title}</h2>
  <p class="font-maru text-2xl font-black text-gray-700 leading-tight">{subtitle}</p>
</hgroup>
