<h3 class="title">About</h3>
<div id="about" class="section">
  <div class="body">
    <div class="row">
      <p>
        YAPC::AsiaあらためYAPC::Japanは、試される大地　北海道にてYAPC::Hokkaidoを開催し、リブートを遂げました！
        そして、続く第二弾は、舞台を大きく西へ移して大阪、YAPC::Kansaiです！
      </p>
      <p>
        YAPCはYet Another Perl Conferenceの略で、Perlを軸としたITに関わる全ての人のためのカンファレンスです。 Perlだけにとどまらない多様な分野のトークセッションを通じ、情報交換や交流を行っていただくことで、JPAのミッションである「日本におけるPerlコミュニティを脈々と続くものとして」盛り上げていくことが目標です。
      </p>
      <p>
        今回のYAPC::Kansaiでは、「温故知新」をテーマに、ベテランから若人まで幅広い年代の方々が楽しめる企画を準備しています。ぜひおいでやす！
      </p>
    </div>
    <dl class="row">
      <dt>日時</dt>
      <dd><time datetime="2017-03-04T10:00:00+0900">2017/03/04 10:00</time> 〜 </dd>
      <dt>会場</dt>
      <dd><a href="#access">アクセス</a></dd>
    </dl>
  </div><!--  / .body /  -->
</div><!--  / .section /  -->
