<h3 class="title">Access</h3>
<div class="section" id="access">
  <div class="body">
    <dl class="table row">
      <dt>会場名</dt>
      <dd>MOTEXホール（エムオーテックス株式会社）</dd>
      <dt>会場URL</dt>
      <dd><a href="http://www.motex.co.jp/" target="_blank">http://www.motex.co.jp/company/base/</a></dd>
      <dt>最寄り駅</dt>
      <dd>JR新大阪駅(正面口)より徒歩約7分<br />地下鉄御堂筋線新大阪駅(7番出口)より 徒歩約5分<br />地下鉄御堂筋線西中島南方駅(1番出口)より 徒歩約5分</dd>
    </dl>
    <div class="iframe">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3279.032837472455!2d135.4971622287249!3d34.72956665572035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e43b1da92f05%3A0x50d5f0482be9dc33!2z44Ko44Og44Kq44O844OG44OD44Kv44K577yI5qCq77yJ!5e0!3m2!1sja!2sjp!4v1480585642539" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div><!--  / .iframe /  -->
  </div><!--  / .body /  -->
</div><!--  / .section /  -->
