<h3 class="title">{{page-title}}</h3>
<div id="code-of-conduct" class="section">
  <div class="body">
    <div class="row">
      <p>
        YAPCは、Perlを軸にエンジニアリングなどの様々なトピックについて情報交換・交流をするためのカンファレンスです。
      </p>
      <p>
        本カンファレンスでは、性別、性的指向、障碍の有無、外見、身体の大きさ、人種、宗教にかかわりなく、全員がハラスメント行為なくカンファレンスに参加し体験できる環境の提供に最善を尽くします。<br />
        私達主催者は、参加者によるハラスメント行為を一切許容しません。性的な言葉や映像表現を使うことは会場および本カンファレンスに関連するいかなる場でも不適切であり、その適用範囲は発表やトークの内容、ワークショップ、関連イベント、ツイッターやその他のオンラインメディアでの発言を含みます。これらのルールを破った参加者は、主催者の判断によって、カンファレンス内での行動を制限されたり、参加費の返却なくカンファレンスからの追放処分を受けることがあります。
      </p>
      <p>
        ハラスメント行為には、言葉による性別、性的指向、障碍の有無、外見、身体の大きさ、人種、宗教に関する攻撃的なコメント、公的空間での性的な映像表現、意図的な威力行為、ストーキング、つきまとい、写真撮影や録音によるいやがらせ、トークやその他のイベントに対して繰り返して中断しようとする行為、不適切な身体接触、そして望まれない性的な注意を引きつける行為を含みます。
      </p>
      <p>
        参加者は、これらのハラスメント行為を止めるように求められた場合、すぐに従わなければなりません。
      </p>
      <p>
        スポンサーもまた反ハラスメント行為ポリシーに従わなければなりません。特に、スポンサーは性的な関心を引き起こす映像表現、活動、あるいはその他の物品を使うべきではありません。ボランティアを含め、全スタッフは、性的な関心を引き起こすような服装/制服/コスチュームを使うべきではありませんし、その他の手段で性的な関心を引き起こすような環境を作ることもすべきではありません。
      </p>
      <p>
        参加者がハラスメント行為に属するふるまいをした場合は、主催者は適切と判断した範囲で、当該行為を行った者に対する警告や、参加費を返還せずに追放処分とするなどを含むいかなる行動も取ります。
      </p>
      <p>
        もしあなたがハラスメントに遭った場合、他の人がハラスメントに遭っている場合、あるいは他に気になることがあった時は、すぐに運営スタッフの誰かに連絡していただくようお願いします。運営スタッフは灰色のスタッフTシャツを着ています。
      </p>
      <p>
        スタッフは、ハラスメントを経験した人が、期間中安全かつ安心と感じられるように、参加者がホテル/会場の警備や近隣の警察に連絡すること、付き添い者の提供、およびその他の支援を行います。私達にとってあなたが参加しているのは大事なことなのです。
      </p>
      <p>
        私達は参加者が会場と、本カンファレンスに関連したソーシャルイベントにて、このルールに従うことを望みます。
      </p>
    </div><!--  / .row /  -->

    <div class="row">
      <small>
        原文ソースとクレジット: <a href="http://2012.jsconf.us/#/about" target="_blank">http://2012.jsconf.us/#/about</a> & <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy" target="_blank">The Ada Initiative</a><br />
        この行動規範は <a href="http://creativecommons.org/licenses/by/3.0/deed.en_US" target="_blank">Creative Commons Attribution 3.0 Unported License</a> でライセンスされています。
      </small>
    </div><!--  / .row /  -->
  </div><!--  / .body /  -->
</div><!--  / .section /  -->
