<h3 class="title">Guest Speakers</h3>
<div id="guest-speakers" class="section">
  <div class="body">
    <div class="row">
      <div class="col-md-3"><img src="./assets/images/guests/yoshinori-takesako.jpg" class="img-circle" /></div>
      <div class="col-md-9">
        <h4>竹迫 良範</h4>
        <p>
          広島県出身。Shibuya.pm二代目リーダー。ppencodeの作者。2003年「mod_perlにおけるC10K Problem」で発表者デビュー。
          日本初のYAPC::Asia Tokyo 2006を立ち上げたメンバーの一人。
        </p>
        <p>
          大学卒業後、独立系ITベンチャーにて大企業向けmod_perl製品開発とi18n（国際化）を担当。その後、上京し、セキュリティ研究開発の傍ら、エンジニア採用、産学官連携と日本の若手IT人材育成に関わる。
        </p>
        <p>
          現在は大手企業の専門役員として内製開発エンジニア組織の体制作りを行なっている。IPA未踏IT人材発掘・育成事業プロジェクトマネージャーも兼務。
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"><img src="./assets/images/guests/yuuki-kimoto.png" class="img-circle" /></div>
      <div class="col-md-9">
        <h4>木本 裕紀</h4>
        <p>
          初級者向けのPerl入門サイト「サンプルコードPerl入門」を運営。<br />
          Perlの「オープンソース」活動に取り組んで10年目。Perlの世界を面白くしたい。
        </p>
        <p>
          著書には「かんたんPerl/CGI(技術評論社)」「もっと自在にサーバを使い倒す 業務に役立つPerl(技術評論社)」がある。<br />
          開発経験として「携帯電話の料金精算システム」「不動産会社の撮影管理システム」に関わる。<br />
          好きな食べ物は「餃子」。<br />
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"><img src="./assets/images/guests/chihiro-fukazawa.png" class="img-circle" /></div>
      <div class="col-md-9">
        <h4>深沢 千尋</h4>
        <p>
          汎用機のSE、フリーランスのプログラマーを経て、技術翻訳/ローカリゼーションを行う会社に勤務し、ツールの開発、社内教育などに従事。<br />
          のちに独立してフリーライター。主たる関心の対象はPerl、文字コード、電子書籍の自主出版。
        </p>
        <p>
          著書に『かんたんPerl』、『すぐわかる Perl』、『すぐわかるオブジェクト指向Perl』（以上技術評論社刊）、『文字コード【超】研究』（ラトルズ刊）、 『睡眠時無呼吸症候群とぼく』、『すぐわかる電子出版』（以上Kindle Direct Publishing）。
          モバイル関係の記事も数多い。ブログは『イジハピ』で検索。
        </p>
      </div>
    </div>
  </div><!--  / .body /  -->
</div><!--  / .section /  -->
