<h3 class="title">Special Session</h3>
<div id="special-session" class="section">
  <div class="body">
    <div class="row">
      <article class="description">
        <h4 class="title">mail_form.cgi reborn</h4>
        <p>
          目の前には、レンタルサーバーで動いているメールフォームのCGIがあります。いつから動作しているのか正確にはわかりませんが、かれこれ10年以上動き続けています。<br />
          必要な機能があり、かつ、これまで特に問題もなく動作しています。
        </p>
        <p>
          …でも、ちょっと待ってください。<br />
          本当に問題はないのでしょうか？
        </p>
        <p>
          これまでは、たまたま問題が発生していないだけかもしれません。<br />
          現役で動き続けている今だからこそ、今後10年動作させるための対策が必要ではないでしょうか？
        </p>
        <p>
          そこで！今回の YAPC::Kansai では、「メールフォームCGIの正しいリファクタリング」と題して、機能追加やメンテナンスをしやすくするためのリファクタリング方法を伝授いたします。
        </p>
        <p>
          お話いただくのは、 Jcode.pm を開発し、Perlバージョン5.8の開発にも携わった「小飼 弾」氏です！<br />
          また、実況解説役としてmoznion氏をお招きしております。<br />
          現役で使われているメールフォームCGIが、ライブコーディングで生まれ変わっていく様子を是非ご覧ください。
        </p>
      </article>
    </div>
    <div class="row">
      <div class="col-md-3"><img src="./assets/images/guests/dankogai_org.jpeg" class="img-circle" /></div>
      <div class="col-md-9">
        <h4>小飼 弾</h4>
        <p>
          1969年生まれ。ブロガー/プログラマー/投資家。<br />
          カリフォルニア大学バークレー校を経て、後のライブドアとなる株式会社オン・ザ・エッジの取締役最高技術責任者を務め同社の上場に貢献。<br />
          2004年、ブログ「404 Blog Not Found」開始。人気No.1のアルファブロガーであり、プログラミング言語Perlの標準添付最大のモジュール「Encode」のメンテナンスを担当するカリスマプログラマーとして活躍。
        </p>
        <p>
          著書に『弾言』、『「中卒」でもわかる科学入門』、『未来予測を嗤え！』など。
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"><img src="./assets/images/guests/moznion.png" class="img-circle" /></div>
      <div class="col-md-9">
        <h4>moznion</h4>
        <p>
          組み込み系ソフトウェア開発を経て現在はWebアプリケーションのサーバーサイド開発に従事．<br />
          普段は仕事をして給料をもらっています．PerlとJavaが主戦場ですがなんでも書きます．<br />
          最近は趣味が高じてビールサーバを作って暮らしています．
        </p>
        <p>
          Blog: <a href="http://moznion.hatenadiary.com/">http://moznion.hatenadiary.com/</a>
        </p>
      </div>
    </div>
  </div><!--  / .body /  -->
</div><!--  / .section /  -->
