---
import favicon from "../assets/favicon.svg";

interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={favicon.src} />
    <title>{title && `${title} | ` + `YAPC::Asia 2025 Fukuoka`}</title></head
  >
  <body>
    <slot />
  </body>

  <style>
    html,
    body {
      margin: 0;
      width: 100%;
      height: 100%;
    }
  </style>
</html>
