@charset "utf-8";

/*//////////////////////////////////////////////////////////
//  - CSS for HTML
//////////////////////////////////////////////////////////*/

* { 
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	color: #000;
	font-size: 14px !important;
	font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", "Lucida Grande", "Tahoma", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Noto Sans Japanese", "游明朝", "YuMincho", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", sans-serif;
	line-height: 160% !important;
	background-color: #000;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

body {
	-webkit-animation: fadeIn 2s ease 0s 1 normal;
	   -moz-animation: fadeIn 2s ease 0s 1 normal;
		    animation: fadeIn 2s ease 0s 1 normal;
}

body::before {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #000;
	width: 100%;
	height: 100%;
	padding-bottom: 108px;
	content: "";
	z-index: -1;
}

#wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding-top: 0;
	*padding-top: 0;
	_zoom: 1;
	overflow: hidden;
}

body > #wrapper { height: auto; }

a 			{ color: #009fe8; text-decoration: none; }
a:link		{ color: #009fe8; text-decoration: none; }
a:visited	{ color: #009fe8; text-decoration: none; }
a:active	{ color: #009fe8; text-decoration: none; }
a:hover		{ color: #0dac67; text-decoration: none; }
a.disabled	{ color: #555; }

img { width: 100%; }


/*----------------------------------------------------------
  - SHARE
----------------------------------------------------------*/

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}

fieldset, img {
	border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
}

blockquote, q {
	quotes: '' '';
}

abbr,acronym {
	border: 0;
}

li img,
dt img,
dd img { vertical-align: bottom; }

.clear      { clear: both; }
.hidden     { display: none; }
.floatleft  { float: left; }
.floatright { float: right; }
.textright  { text-align: right; }
.textcenter { text-align: center; }
.vmargin0   { margin-top: 0 !important; margin-bottom: 0 !important; }
.vmargin5   { margin-top: 5px; }
.vmargin10  { margin-top: 10px; }
.vmargin15  { margin-top: 15px; }
.vmargin20  { margin-top: 20px; }
.vmargin25  { margin-top: 25px; }
.vmargin30  { margin-top: 30px; }
.vmargin35  { margin-top: 35px; }
.vmargin40  { margin-top: 40px; }
.vmargin45  { margin-top: 45px; }
.vmargin50  { margin-top: 50px; }
.vmargin60  { margin-top: 60px; }
.vmargin70  { margin-top: 70px; }
.vmargin80  { margin-top: 80px; }

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.clearfix { min-height: 1px; }

* html .clearfix {
	height: 1px;
	/*¥*//*/
	height: auto;
	overflow: hidden;
	/**/
}

.brake { display: block; }

.iframe {
	position: relative;
	width: 100%;
	margin: 0 0 10px 0;
	padding-top: 56.25%;
}

.iframe iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}


/*----------------------------------------------------------
  - MAIN VISUAL
----------------------------------------------------------*/

#mainvisual {
	position: relative;
	background: url(../images/mainvisual_sp.png) no-repeat center center;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		    background-size: cover;
}

#mainvisual h1 {
	position: absolute;
	top: -99999px;
	text-align: center;
}


/*----------------------------------------------------------
  - FOOTER
----------------------------------------------------------*/

#footer {
	display: table;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #000;
	margin: 0;
	padding: 0;
}

#footer a { }

#footer .inner {
	display: table-cell;
	vertical-align: middle;
}

#footer .social-button {
	position: relative;
	margin: 0 auto 40px auto;
	padding: 0;
	_zoom: 1;
	overflow: hidden;
}

#footer .social-button ul {
	position: relative;
	float: left;
	left: 50%;
}

#footer .social-button li {
	position: relative;
	left: -50%;
	float: left;
	width: 40px;
	margin: 0 10px;
}

#footer address {
	color: #fff;
	font-size: 10px;
	text-align: center;
}
#footer address img {
	display: block;
	max-width: 100px;
	margin: 0 auto 20px auto;
	vertical-align: bottom;
}


/*----------------------------------------------------------
  - ANIMATION
----------------------------------------------------------*/

@-webkit-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}


/*----------------------------------------------------------
  - TBD
----------------------------------------------------------*/

.sample {
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	text-indent: -9999px;
	text-decoration: none;
	overflow: hidden;
	_zoom: 1;
	overflow: hidden;
	filter:alpha(opacity=30);
	-moz-opacity: 0.3;
	opacity: 0.3;
	-webkit-background-size: 30px auto;
	   -moz-background-size: 30px auto;
		    background-size: 30px auto;
	-webkit-background-origin: content;
	   -moz-background-origin: content;
	        background-origin: content;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

@media screen and (min-width: 769px) {
}

@media screen and (min-width: 0px) and (max-width: 768px) {
}

