{{=<% %>=}}
<div id="timetable" class="section">
  <h3 class="title"><% page-title %></h3>
  <div class="body">
    <table>
      <thead>
        <tr>
          <th>時刻</th>
          <th v-for="track in tracks">{{ track.name }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>9:50 ~ 10:00</th>
          <td>Opening</td>
          <td v-bind:colspan="tracks.length-1"></td>
        </tr>
        <tr v-for="row in timetable">
          <th>{{ row.label }}</th>
          <td v-for="track in tracks" v-if="!row.breakTime && track.id in row.tracks" v-bind:class="{highlight:row.tracks[track.id].highlight}" v-bind:rowspan="row.tracks[track.id].rowspan">
            <a v-on:click="openModal(row.tracks[track.id])">{{ row.tracks[track.id].title }}</a> <span v-if="!(track.id == 'track-a' && row.label == '12:30 ~ 13:20')">({{ row.tracks[track.id].durationMinutes }}min)</span><br />
            {{ row.tracks[track.id].author.name }}
          </td>
          <td v-if="row.breakTime" v-bind:colspan="row.breakTimeColspan"><!-- 休憩 --></td>
        </tr>
        <tr>
          <th>17:35 ~ 17:45</th>
          <td v-bind:colspan="tracks.length"><!-- 休憩 --></td>
        </tr>
        <tr>
          <th>17:45 ~ 18:25</th>
          <td>
            <a href="./#guest-speakers">Keynote: 大沢 和宏</a> (40min)<br />
          </td>
          <td v-bind:colspan="tracks.length-1"></td>
        </tr>
        <tr>
          <th>18:30 ~ 19:10</th>
          <td>
            スポンサーセッション &amp; Lightning Talks (40min)<br />
            <ol>
                <li>kfly8</li>
                <li>城後明慈</li>
                <li>芹川葵</li>
                <li>白方健太郎</li>
                <li>makamaka</li>
            </ol>
          </td>
          <td v-bind:colspan="tracks.length-1"></td>
        </tr>
        <tr>
          <th>19:10 ~ 19:20</th>
          <td>Closing</td>
          <td v-bind:colspan="tracks.length-1"></td>
        </tr>
      </thead>
    </table>
  </div><!--  / .body /  -->
</div><!--  / .section /  -->
<%={{ }}=%>
