{{=<% %>=}}
<div id="timetable" class="section">
  <h3 class="title"><% page-title %></h3>
  <div class="body">
    <table>
      <thead>
        <tr>
          <th>時刻</th>
          <th v-for="track in tracks">{{ track.name }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>11:00 ~ 11:10</th>
          <td>Opening</td>
          <td v-bind:colspan="tracks.length-1"></td>
        </tr>
        <tr>
          <th>11:10 ~ 11:20</th>
          <td v-bind:colspan="tracks.length"><!-- 休憩 --></td>
        </tr>
        <tr v-for="row in timetable">
          <th>{{ row.label }}</th>
          <td v-for="track in tracks" v-if="!row.breakTime && track.id in row.tracks" v-bind:class="{highlight:row.tracks[track.id].highlight}" v-bind:rowspan="row.tracks[track.id].rowspan">
            <a v-on:click="openModal(row.tracks[track.id])">{{ row.tracks[track.id].title }}</a> <span v-if="!(track.id != 'track-a' && row.label == '13:05 ~ 13:45')">({{ row.tracks[track.id].durationMinutes }}min)</span><br />
            {{ row.tracks[track.id].author.name }}
          </td>
          <td v-if="row.breakTime" v-bind:colspan="row.breakTimeColspan"><!-- 休憩 --></td>
        </tr>
        <tr>
          <th>17:10 ~ 17:20</th>
          <td v-bind:colspan="tracks.length"><!-- 休憩 --></td>
        </tr>
        <tr>
          <th>17:20 ~ 17:50</th>
          <td>
            Lightning Talks (30min)<br />
            <ol>
            </ol>
          </td>
          <td v-bind:colspan="tracks.length-1"></td>
        </tr>
        <tr>
          <th>17:50 ~ 18:00</th>
          <td v-bind:colspan="tracks.length"><!-- 休憩 --></td>
        </tr>
        <tr>
          <th>18:00 ~ 18:40</th>
          <td>
            <a href="./#guest-speakers">Keynote: 松野 徳大</a> (40min)<br />
          </td>
          <td v-bind:colspan="tracks.length-1"></td>
        </tr>
        <tr>
          <th>18:40 ~ 18:50</th>
          <td>Closing</td>
          <td v-bind:colspan="tracks.length-1"></td>
        </tr>
      </thead>
    </table>
  </div><!--  / .body /  -->
</div><!--  / .section /  -->
<%={{ }}=%>
