<%- include('partial/header'); -%>
	<h2 class="h2__bell"><span class="text-center w-60 sm:w-auto">YAPC::Kyoto 2023 参加者の皆様へ</span></h2>
	<div class="container mx-auto">
		<div class="max-w-4xl px-5 mx-auto sm:text-lg note">
            <h3>会場について</h3>

            <p>会場は京都リサーチパーク東地区1号館です。会場までのアクセスについては、こちらの記事をご参考ください: <a href="https://blog.yapcjapan.org/entry/2023/03/16/123000">京都リサーチパーク（KRP）への行き方案内</a></p>
            <p>受付は東地区1号館アトリウムとなります。ゲストや登壇者、スポンサーを含む参加者の皆様は、必ず最初に受付を済ませるようお願いいたします。</p>
            <p>会場の地図は<a href="https://www.krp.co.jp/access/map.html#anc02">公式サイト</a>をご覧ください。トークセッションについては、以下の部屋を利用します。</p>
			<ul>
				<li>Scrapboxホール by Helpfeel (アトリウム)</li>
				<li>Gyazoホール by Helpfeel (サイエンスホール)</li>
				<li>土俵 (G会議室)</li>
			</ul>
            <p>なお、Scrapboxホール by Helpfeel (アトリウム)と、Gyazoホール by Helpfeel (サイエンスホール) / 土俵 (G会議室)の間は距離があり、移動には5分程度必要です。登壇者の方は、発表開始の5分前にはトークセッション会場に到着できるようご注意ください。</p>

            <h3>新型コロナウイルス感染症(COVID-19)対策</h3>
            <p>2023年3月13日より、マスクの着用に関しては個人の判断に委ねるとの方針が政府より発表されております。 しかしながら、YAPC::Kyoto 2023は全国各地から300名近い参加者が集まるイベントであること、質疑応答や参加者同士のコミュニケーションなど、会話の機会が多いイベントであることを鑑み、参加者の皆様には以下の対応を<b>推奨</b>いたします:

			<ul>
				<li>マスク着用の推奨</li>
				<li>ワクチン接種の推奨 (｢推奨｣のため、当日接種証明書など確認することはいたしません)</li>
				<li>会場での間隔をあけた着席など、ソーシャルディスタンス確保の推奨</li>
				<li>消毒液などを利用した手指の消毒の推奨</li>
			</ul>

            <p>また、スタッフにより適宜以下の対策を行います:

			<ul>
				<li>休憩時間を利用した換気の実施 (花粉症の季節ではありますが、何卒ご了承ください)</li>
				<li>アルコールタオルなどを利用したテーブルなどの清掃</li>
			</ul>

            <p>37.5度以上の発熱がある場合、または発熱、咳、咽頭痛、倦怠感、呼吸困難がある場合は参加をお控えください。この場合、後日YAPC::Kyoto 2023実行委員会( yapc-kyoto-2020-core@googlegroups.com )までご連絡頂ければ、チケット料を払い戻しさせて頂きます。</p>

            <h3>注意事項</h3>

			<ul>
				<li>参加者の皆様には、<a href="https://japan。perlassociation。org/entry/yapc/code_of_conduct">Code of Conduct</a>の遵守をお願いいたします</li>
				<li>会場への危険物の持ち込みはご遠慮ください</li>
                <li>会場ではスタッフの案内/指示に従ってください</li>
                <li>参加に際しては必ず最初に受付を行ってください。また、会場では受付にて配布するストラップを見える位置で着用してください。ストラップの着用がない場合、スタッフがお声がけする場合がございます</li>
				<li>Code of Conductに反する行為や危険な行為を見かけられた、または被害に遭った際は、お近くのスタッフにお声がけください</li>
				<li>会場は禁煙です。また、会場の指示により会場内での飲食は禁止です(ランチセッションを除く)</li>
				<li>東地区1号館の3階はオフィスルームのため、立入禁止です</li>
			</ul>

            <h4>会場での写真撮影について</h4>

            <p>会場の様子は、スタッフにより撮影を行います。また、参加者の皆様も会場の様子を写真に撮影し、SNSなどで公開して頂いて構いません。</p>
            <p>写真に写りたくない場合は、受付にてその旨を申し出ていただければ｢NO PHOTO｣のネックストラップをお渡しします。｢NO PHOTO｣のネックストラップを装着している参加者は、スタッフによる写真撮影時に写り込まないように致します。また、会場で写真を撮影する参加者の皆様は、｢NO PHOTO｣のネックストラップを装着した参加者が写り込まないよう、最大限の配慮をお願いいたします。</p>

            <h3>更新履歴</h3>
            <ul>
                <li>2023/03/18: 会場での写真撮影について記載しました</li>
                <li>2023/03/17: 発熱等の症状がある場合のチケット払い戻しについて記載しました</li>
                <li>2023/03/16: 公開</li>
            </ul>
		</div>
	</div>
	<%- include('partial/footer'); -%>
