<%- include('partial/header'); -%>
	<h2 class="h2__bell"><span>YAPC::Kyoto 2023 参加者の皆様へ</span></h2>
	<div class="container mx-auto">
		<div class="max-w-4xl px-5 mx-auto sm:text-lg note">
            <p>YAPC::Kyoto 2023に参加するにあたり、以下についてご留意ください。</p>

            <h3>新型コロナウイルス感染症(COVID-19)対策</h3>
            <p>2023年3月13日より、マスクの着用に関しては個人の判断に委ねるとの方針が政府より発表されております。 しかしながら、YAPC::Kyoto 2023は全国各地から300名近い参加者が集まるイベントであること、質疑応答や参加者同士のコミュニケーションなど、会話の機会が多いイベントであることを鑑み、参加者の皆様には以下の対応を<b>推奨</b>いたします:

			<ul>
				<li>マスク着用の推奨</li>
				<li>ワクチン接種の推奨 (｢推奨｣のため、当日接種証明書など確認することはいたしません)</li>
				<li>会場での間隔をあけた着席など、ソーシャルディスタンス確保の推奨</li>
				<li>消毒液などを利用した手指の消毒の推奨</li>
			</ul>

            <p>また、スタッフにより適宜以下の対策を行います:

			<ul>
				<li>休憩時間を利用した換気の実施 (花粉症の季節ではありますが、何卒ご了承ください)</li>
				<li>アルコールタオルなどを利用したテーブルなどの清掃</li>
			</ul>

            <h3>注意事項</h3>

			<ul>
				<li>参加者の皆様には、<a href="https://japan。perlassociation。org/entry/yapc/code_of_conduct">Code of Conduct</a>の遵守をお願いいたします</li>
				<li>会場への危険物の持ち込みはご遠慮ください</li>
                <li>会場ではスタッフの案内/指示に従ってください</li>
				<li>Code of Conductに反する行為や危険な行為を見かけられた、または被害に遭った際は、お近くのスタッフにお声がけください</li>
				<li>会場は飲食禁止です(ランチセッションを除く)</li>
			</ul>
		</div>
	</div>
	<%- include('partial/footer'); -%>h
