<%- include('partial/header'); -%>
	<div class="hero-bg flex justify-center items-center px-6">
		<img class="w-[422px]" src="images/home-logo.png" alt="YAPC KYOTO 2023" />
	</div>
	<div class="max-w-3xl mx-auto">
		<p class="my-4 text-lg">
			YAPCはYet Another Perl Conferenceの略で、Perlを軸としたITに関わる全ての人のためのカンファレンスです。
			Perlだけにとどまらない技術者たちが、好きな技術の話をし交流するカンファレンスで、技術者であれば誰でも楽しめるお祭りです！
		</p>
		<p class="my-4 text-lg">
			わがはいは猫である。名前はまだ無い。
			どこで生れたかとんと見当けんとうがつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪どうあくな種族であったそうだ。この書生というのは時々我々を捕つかまえて煮にて食うという話である。
		</p>
	</div>

	<%- include('partial/footer'); -%>