<%- include('partial/header'); -%>
	<div class="hero-bg flex justify-center items-center">
		<img class="w-[422px]" src="images/home-logo.png" alt="YAPC KYOTO 2023" />
	</div>
	<%- include('partial/footer'); -%>