<%- include('partial/header'); -%>
	<h2 class="h2__bell"><span>ノート</span></h2>
	<div class="container mx-auto">
		<div class="max-w-4xl px-5 mx-auto sm:text-lg note">

			<h3>見出し3</h3>
			<h4>見出し4</h4>
			<p>
				YAPCは<strong>Yet Another Perl Conference</strong>の略で、Perlを軸としたITに関わる全ての人のためのカンファレンスです。
				Perlだけにとどまらない技術者たちが、好きな技術の話をし交流するカンファレンスで、技術者であれば誰でも楽しめるお祭りです！
			</p>
			<ul>
				<li>リスト1</li>
				<li>リスト2</li>
				<li>リスト3</li>
				<li>リスト4</li>
			</ul>
			<table>
				<tr>
					<th>見出し</th>
					<th>見出し</th>
					<th>見出し</th>
				</tr>
				<tr>
					<th>見出し</th>
					<td>セル</td>
					<td>セル</td>
				</tr>
				<tr>
					<th>見出し</th>
					<td>セル</td>
					<td>セル</td>
				</tr>
			</table>
		</div>
	</div>
	<%- include('partial/footer'); -%>