:root {
  --color-red: #da3832;
  --color-black: #000;
  --window-width-l: 1440px;
  --window-width-m: 1024px;
  --window-width-s: 380px;
  --font-sans: "Open Sans", YakuHanJP, "Noto Sans JP", sans-serif;
  --font-bold: "Open Sans", YakuHanJP, "Noto Sans JP", sans-serif;
}

body {
  background: #fff;
  font-family: var(--font-sans);
  line-height: 1.8;
}

@media (max-width: 576px) {
  html,
  body {
    font-size: 0.9rem;
  }
}

.heading {
  font-weight: 900;
  font-family: var(--font-bold);
}

.op-3 {
  opacity: 0.3;
}

a {
  color: #da3832;
}

a:active {
  color: red;
}

a:hover {
  color: #da3832;
  text-decoration: underline;
}

#timetable .table {
  line-height: 1.5;
  min-width: 720px;
}

#timetable .table th {
  white-space: nowrap;
}

#timetable .table th:first-child {
  border-right: 1px dotted #ccc;
}

#timetable .table tr:nth-child(2n) th:first-child {
  background: #f0f0f0;
}

.track__container {
  cursor: pointer;
}

.track__container__qa {
  cursor: auto;
}

.track__container__qa .track__title {
  text-decoration: none;
}

.track__title {
  font-weight: bold;
  text-decoration: underline;
}

.track__time {
  font-size: 0.8rem;
  color: #666;
}

.track__author {
  display: block;
  font-size: 0.9rem;
}

.navbar-light .navbar-toggler {
  border: 0;
}

.avatar-card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: 0;
}

.avatar-card__color {
  overflow: hidden;
  height: 120px;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  background: linear-gradient(40deg, #af140f, var(--color-red));
}

.avatar-card__name_en {
  font-size: 0.9rem;
  color: #999;
}

.avatar-card__photo {
  border-radius: 50%;
  width: 160px;
  margin-top: -80px;
  overflow: hidden;
  border: 5px solid #fff;
}

.avatar-card__description {
  font-size: 0.9rem;
}
