<!DOCTYPE html>
<html lang="ja" xmlns:og="http://ogp.me/ns#" xmlns:mixi="http://mixi-platform.com/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>第二階層 | YAPC::Okinawa 2018 ONNASON</title>
<meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="description" content="YAPCはYet Another Perl Conferenceの略で、Perlを軸としたITに関わる全ての人のためのカンファレンスです。">
<meta name="keywords" content="YAPC,ヤプシー,Perl,PM,Japan Perl Association,JPA,YAPC::Fukuoka,ヤプシー沖縄">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@yapcjapan">
<meta name="twitter:title" content="YAPC::Okinawa 2018 ONNASON">
<meta name="twitter:description" content="YAPCはYet Another Perl Conferenceの略で、Perlを軸としたITに関わる全ての人のためのカンファレンスです。">
<meta name="twitter:image" content="/2018okinawa/assets/images/ogp_600x600.png">
<meta property="fb:app_id" content="546362158903970"/>
<meta property="og:title" content="YAPC::Okinawa 2018 ONNASON"/>
<meta property="og:type" content="website"/>
<meta property="og:locale" content="ja_JP" />
<meta property="og:site_name" content="YAPC::Okinawa 2018 ONNASON" />
<meta property="og:title" content="YAPC::Okinawa 2018 ONNASON" />
<meta property="og:description" content="YAPCはYet Another Perl Conferenceの略で、Perlを軸としたITに関わる全ての人のためのカンファレンスです。"/>
<meta property="og:url" content="http://yapcjapan.org/2018okinawa/" />
<meta property="og:image" content="/2018okinawa/assets/images/ogp_1200x600.png" />
<meta property="og:image" content="/2018okinawa/assets/images/ogp_600x600.png" />
<meta name="referrer" content="unsafe-url">
<meta name="referrer" content="unsafe-url">
<link rel="shortcut icon" href="./assets/images/favicon.ico">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900|Asap">
<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="./assets/css/bootstrap.css">
<link rel="stylesheet" href="./assets/css/font-awesome.css">
<link rel="stylesheet" href="./assets/css/fonts.css">
<link rel="stylesheet" href="./assets/css/custom.css">
<link rel="stylesheet" href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css">
<link rel="stylesheet" media="(max-width: 899px)" href="./assets/css/html.sp.css">
<link rel="stylesheet" media="(min-width: 900px)" href="./assets/css/html.pc.css">
</head>
<body>
<a id="top" name="top"></a>

<header id="header">
<nav class="header">
<div class="btn-menu"><a href="javascript:void(0)"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a></div><!--  / .btn-menu /  -->
</nav>
</header>

<nav id="menu">
<div id="gnavi">
<div class="innerblock">
<ul>
<li><a href="./">Home</a></li>
<li><a href="./#about">About</a></li>
<li><a href="./#news">News</a></li>
<li><a href="http://blog.yapcjapan.org/" target="_blank">Blog</a></li>
<li><a href="./timetable.html">Timetable</a></li>
<li><a href="./talks.html">Talks</a></li>
<li><a href="./#tickets">Tickets</a></li>
<li><a href="./#sponsors">Sponsors</a></li>
<li><a href="individual-sponsors.html">Individual Sponsors</a></li>
<li><a href="./staff.html">Staff</a></li>
<li><a href="./code-of-conduct.html">Code of Conduct</a></li>
</ul>
</div><!--  / .innerblock /  -->
</div><!--  / #gnavi /  -->
</nav>

<div id="wrapper">

<div id="hero">
<div class="illust">
<div class="cloud"><img src="./assets/images/illust_cloud.png" alt="入道雲" /></div>
<div class="island-s"><img src="./assets/images/illust_island_s.png" alt="島" /></div>
<div class="island-l"><img src="./assets/images/illust_island_l.png" alt="島" /></div>
</div><!--  / .illust /  -->
</div><!--  / #hero /  -->

<div id="container">

<div class="section" id="sponsors" data-aos="fade-up" data-aos-duration="2000">
<h3 class="title">Sponsors</h3>
<div class="body">
<div class="class">
<h4>主催</h4>
<div class="block">
<ul>
<li class="large"><a href="" target="_blank"><img src="http://dummyimage.com/500x500/ffffff/cccccc&text=++++500+x+500++++"/></a></li>
</ul>
</div>
</div>
<div class="class">
<h4>クラス1</h4>
<div class="block">
<ul>
<li class="large"><a href="" target="_blank"><img src="http://dummyimage.com/500x500/ffffff/cccccc&text=++++500+x+500++++"/></a></li>
<li class="large"><a href="" target="_blank"><img src="http://dummyimage.com/500x500/ffffff/cccccc&text=++++500+x+500++++"/></a></li>
<li class="large"><a href="" target="_blank"><img src="http://dummyimage.com/500x500/ffffff/cccccc&text=++++500+x+500++++"/></a></li>
<li class="large"><a href="" target="_blank"><img src="http://dummyimage.com/500x500/ffffff/cccccc&text=++++500+x+500++++"/></a></li>
<li class="large"><a href="" target="_blank"><img src="http://dummyimage.com/500x500/ffffff/cccccc&text=++++500+x+500++++"/></a></li>
</ul>
</div>
</div>
<div class="class">
<h4>クラス2</h4>
<div class="block">
<ul>
<li class="medium"><a href="" target="_blank"><img src="http://dummyimage.com/500x500/ffffff/cccccc&text=++++500+x+500++++"/></a></li>
<li class="medium"><a href="" target="_blank"><img src="http://dummyimage.com/500x500/ffffff/cccccc&text=++++500+x+500++++"/></a></li>
<li class="medium"><a href="" target="_blank"><img src="http://dummyimage.com/500x500/ffffff/cccccc&text=++++500+x+500++++"/></a></li>
<li class="medium"><a href="" target="_blank"><img src="http://dummyimage.com/500x500/ffffff/cccccc&text=++++500+x+500++++"/></a></li>
<li class="medium"><a href="" target="_blank"><img src="http://dummyimage.com/500x500/ffffff/cccccc&text=++++500+x+500++++"/></a></li>
<li class="medium"><a href="" target="_blank"><img src="http://dummyimage.com/500x500/ffffff/cccccc&text=++++500+x+500++++"/></a></li>
</ul>
</div>
</div>
<div class="class">
<h4>クラス3</h4>
<div class="block">
<ul>
<li class="small"><a href="" target="_blank"><img src="http://dummyimage.com/500x500/ffffff/cccccc&text=++++500+x+500++++"/></a></li>
<li class="small"><a href="" target="_blank"><img src="http://dummyimage.com/500x500/ffffff/cccccc&text=++++500+x+500++++"/></a></li>
<li class="small"><a href="" target="_blank"><img src="http://dummyimage.com/500x500/ffffff/cccccc&text=++++500+x+500++++"/></a></li>
<li class="small"><a href="" target="_blank"><img src="http://dummyimage.com/500x500/ffffff/cccccc&text=++++500+x+500++++"/></a></li>
<li class="small"><a href="" target="_blank"><img src="http://dummyimage.com/500x500/ffffff/cccccc&text=++++500+x+500++++"/></a></li>
</ul>
</div>
</div>
</div><!--  / .body /  -->
</div><!--  / .section /  -->

</div><!--  / #container /  -->

<aside>
<div id="aside">
<div id="footer-logo">YAPC::Okinawa 2018 ONNNA</div>
<canvas id="c"></canvas>
</div><!--  / .#aside /  -->
</aside>
<footer>
<div id="footer">
<div class="inner">
<div class="social-button">
<ul>
<li><a href="https://twitter.com/yapcjapan" title="Twitter" target="_blank"><img src="./assets/images/btn_t.png" alt="Twitter" /></a></li>
<li><a href="https://www.facebook.com/yapcjapan/" title="Facebook" target="_blank"><img src="./assets/images/btn_f.png" alt="Facebook" /></a></li>
</ul>
</div><!--  / .social-button /  -->
<address>
<a href="http://japan.perlassociation.org/" target="_blank"><img src="./assets/images/jpa.png" alt="JPA" /></a>
© 2018 Japan Perl Association
</address>
</div><!--  / .inner /  -->
</div><!--  / #footer /  -->
</footer>
<div id="pagetop"><a href="#top"><i class="fa fa-caret-square-o-up"></i></a></div>
</div><!--  / #wrappper /  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://use.fonticons.com/5bcff1b8.js"></script>
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/canvas.js"></script>
<script src="./assets/js/functions.js"></script>
</body>
</html>
