<div id="about" class="section" data-aos="fade-up" data-aos-duration="2000">
<h3 class="title">About</h3>
<div class="body">
<div class="row">
<h4>YAPC::Japanがついに沖縄に!</h4>
<p>YAPCはYet Another Perl Conferenceの略で、一般社団法人 JPAが主催する、Perlを軸としたITに関わる全ての人のためのカンファレンスです。<br />Perlだけにとどまらない多様な分野のトークセッションを通じ、情報交換や交流を行っていただくことで、<br />JPAのミッションである「日本におけるPerlコミュニティを脈々と続くものとして」盛り上げていくことが目標です。<br />
今回のYAPC::Okinawaは「架け橋」を意味する、「万国津梁」をテーマに掲げて開催します。</p>
<div style="margin-bottom: 20px;">
<ul>
<li>・いままで使ってきた、そしてこれから使っていくPerlの話</li>
<li>・「こんな場所で役に立つ!」Perlで取得した技術</li>
<li>・Perlと出会った事で広がった技術やコミュニティの話</li>
</ul><br />
</div>
<p>といった内容を皆様にお届けできるよう、様々な企画・トークを準備してお待ちしております！<br />皆さま、こぞってご参加ください！</p>
<p>☆ ゲストスピーカー・トークスケジュール等はWebページ・Facebookにてお知らせいたします。併せてご覧ください。<br />☆ 前夜祭、懇親会についても開催を予定しております。詳細が決まり次第、順次お知らせいたします。</p>
</div>
<dl>
<dt>日時</dt>
<dd><time datetime="2017-03-04T10:00:00+0900">2017/03/04 10:00</time> 〜 </dd>
</dl>
<dl>
<dt>会場</dt>
<dd><a href="#access">アクセス</a></dd>
</dl>
</div><!--  / .body /  -->
</div><!--  / .section /  -->
