<div class="section" id="access" data-aos="fade-up" data-aos-duration="2000">
<h3 class="title">Access</h3>
<div class="body">
<dl class="table row">
<dt class="col-md-2">会場名</dt>
<dd class="col-md-8">沖縄科学技術大学院大学 OIST</dd>
</dl>
<dl class="table row">
<dt class="col-md-2">会場URL</dt>
<dd class="col-md-8"><a href="https://www.oist.jp/ja" target="_blank">https://www.oist.jp/ja</a></dd>
</dl>
<dl class="table row">
<dt class="col-md-2">アクセス</dt>
<dd class="col-md-8">那覇空港、沖縄本島中南部、恩納村内ホテルから<br />バスを利用<br />・111番・117番高速バス下り<small>（石川ICまで約1時間、OISTまではシャトルバス・タクシー）</small><br />・空港リムジンバス<small>（那覇空港から近隣ホテルまで約90分）</small>
</dd>
</dl>
      {{#include-gmap}}
        {{> gmap}}
      {{/include-gmap}}
      
</div><!--  / .body /  -->
</div><!--  / .section /  -->