<div class="section" id="button" data-aos="fade-down" data-aos-duration="2000">
<div class="button">
<ul>
    {{#buttons}}
        <li><a href="{{url}}" class="btn btn-{{type}} btn-lg" {{#blank}} target="_blank"{{/blank}}>{{label}}</a></li>
    {{/buttons}}
</ul>
</div><!--  / .button /  -->
</div><!--  / .section /  -->