<div class="section" id="guest-speakers" data-aos="fade-up" data-aos-duration="2000">
<h3 class="title">Guest Speakers</h3>
<div class="body">
    <div class="row" id="guest-yappo">
        <div class="col-md-3"><img src="./assets/images/guests/yappo.jpg" class="img-circle"/></div>
        <div class="col-md-9">
        <h4>大沢 和宏 <a href="https://twitter.com/yappo" target="_blank">@yappo</a></h4>
        <p>広告代理店、モバイルポータル運営会社、受託開発会社などに勤務したのち、LINE株式会社にてサービス開発を行っている。 <br />
        入社後はPerlを用いて位置情報サービスやLINEのBot関連の開発などを行い、現在はLINE LIVEのサービス開発を担当している。<br />
        また、技術評論社が発行するWEB+DB PRESSのPerl連載枠であるPerl Hackers Hubの企画立ち上げも行っている。<br />
        好きなPerl functionはdo。
        </p>
        </div>
    </div>
    <div class="row" id="guest-charsbar">
        <div class="col-md-3"><img src="./assets/images/guests/charsbar.jpg" class="img-circle"/></div>
        <div class="col-md-9">
        <h4>石垣 憲一 <a href="https://twitter.com/charsbar" target="_blank">@charsbar</a></h4>
        <p>
        フリーのプログラマ兼翻訳家。Perlの歴史ネタ担当。 <br />
        当時一世を風靡していたPlaggerをWindowsでも簡単にインストールできるようにとPPMリポジトリを用意したのをきっかけにPerlのツールチェーンまわりに深入りするようになり、2012年からは毎年ヨーロッパで開催される関係者向けイベントに参加して、CPANTSやPAUSEのメンテナンスをしている。
        </p>
        </div>
    </div>
    <div class="row" id="guest-sinya8282">
        <div class="col-md-3"><img src="./assets/images/guests/sinya8282.jpg" class="img-circle"/></div>
        <div class="col-md-9">
        <h4>新屋 良磨 <a href="https://twitter.com/sinya8282" target="_blank">@sinya8282</a></h4>
        <p>
        1988年沖縄生まれ。本籍はうるま市宮城島。 <br />
        琉球大学工学部情報工学科2011年学部卒。<br />
        今は秋田大学理工学部助教授。 <br />
        専門は形式言語・オートマトン理論。著書「<a href="http://gihyo.jp/book/2015/978-4-7741-7270-5" target="_blank">正規表現技術入門</a>」
        </p>
        </div>
    </div>
</div><!--  / .body /  -->
</div><!--  / .section /  -->
