<div class="section" id="special-session" data-aos="fade-up" data-aos-duration="2000">
  <h3 class="title">Special Session</h3>
  <div class="body">
    <div class="row">
      <article class="description">
        <h4 class="title">本編スペシャルセッション: 企業内でのPerl</h4>
        <p>表立った話題にはなることは少ない (外部からは見えにくい) けれど、その役割をしっかりとこなしている企業の中での「Perlのお仕事」の「今」を広く共有していただくスペシャルセッションです。</p>
        <p>往時に比べれば、あれもこれもといった処理をやたらと担うことは少なくなっているPerlですが、「それでも」とPerlが採用されている仕事があるのなら、そこにはきっとPerlならではの何かがあるに違いなし！</p>
        <p>厳選された 4 社のセッション。お聞き逃しなく！</p>
      </article>
    </div>
    <div class="row">
      <h4 class="title">登壇者(登壇順、敬称略)</h4>
    </div>

    <div class="row">
      <div class="col-md-3"><img src="./assets/images/guests/nipotan.png" class="img-circle" /></div>
      <div class="col-md-9">
        <div class="col-header">
          <h4>LINE株式会社</h4>
          <h4>谷口 公一 <a href="https://twitter.com/nipotan" target="_blank">@nipotan</a></h4>
        </div>
        <div class="col-body">
          <p>LINE が提供する LINE NEWS というニュースサービスの裏側は、実は Perl で開発された Web アプリケーションが中枢を担っています。Perl で実装された Web アプリケーションとしては、利用者数やトラフィックという点において、国内有数の規模になってきました。</p>
          <p>「企業内での Perl」の一例として「LINE NEWS を支える Perl」というテーマで</p>
          <ul class="guest-list">
            <li>LINE NEWS 開始から今日までの沿革と、システムという側面から見た沿革</li>
            <li>livedoor 時代から培われた Perl 開発の経験と実績</li>
            <li>ORM の今と昔</li>
            <li>サービス特性に起因する問題点と高可用性の実現</li>
            <li>高速を求めた一つの形</li>
            <li>Perl とそれ以外のシステムの共存</li>
            <li>LINE NEWS のこれから</li>
          </ul>
          <br />
          <p>について、事例を交えてご紹介します。</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3"><img src="./assets/images/guests/kazeburo.jpg" class="img-circle" /></div>
      <div class="col-md-9">
        <div class="col-header">
          <h4>株式会社メルカリ</h4>
          <h4>長野 雅広 <a href="https://twitter.com/kazeburo" target="_blank">@kazeburo</a></h4>
        </div>
        <div class="col-body">
          <p>メルカリではサーバ側の開発言語としてPHP、Go言語を、また機械学習ではPythonなどを利用しています。Perlはというと残念ながら表立ってサービスを構築する言語として活躍する機会はありません。しかしながらPerlで作られた小さなスクリプトがサービスの安定稼働を支え、また裏方として大規模なトラフィック・データを処理するミドルウェアとしても利用されています。</p>
          <p>このトークでは、そんな大小のPerlの事例や、なぜPerlなのか、今後どうなっていくのかについて紹介したいと思います。</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3"><img src="./assets/images/guests/n0442.png" class="img-circle" /></div>
      <div class="col-md-9">
        <div class="col-header">
          <h4>S2ファクトリー株式会社</h4>
          <h4>吉津 卓保 <a href="https://twitter.com/n0442" target="_blank">@n0442</a></h4>
        </div>
        <div class="col-body">
          <p>TBD</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3"><img src="./assets/images/guests/hiratara.png" class="img-circle" /></div>
      <div class="col-md-9">
        <div class="col-header">
          <h4>株式会社フリークアウト</h4>
          <h4>本間 雅洋 <a href="https://twitter.com/hiratara" target="_blank">@hiratara</a></h4>
        </div>
        <div class="col-body">
          <p>国内初のDSPであるフリークアウトのシステムは大部分がPerlで書かれています。</p>
          <p>DSPの心臓部とも言えるbidderもPerlで書かれており、現在も弊社ビジネスの中心をなすシステムとして稼働しています。</p>
          <p>Perlで書かれた弊社の様々なサービスを通して、Perlを使った開発の実用性に触れると共に、プロダクトを取り巻くIT環境のこの7年での変化や、弊社プロダクトの開発に携わるエンジニア像、そして、Perl以外でどのような言語やミドルウェアの力を借りているか、など、エンジニアの立場から現在のPerlを使った開発の生の現場を、20分間で話せる範囲で紹介します。</p>
        </div>
      </div>
    </div>
    
  </div><!--  / .body /  -->
</div><!--  / .section /  -->
