<div class="section" id="sponsors" data-aos="fade-up" data-aos-duration="2000">
<h3 class="title">Sponsors</h3>
<div class="body">
<div class="class">
<h4>主催</h4>
<div class="block">
<ul>
<li class="large"><a href="" target="_blank"><img src="http://dummyimage.com/500x500/ffffff/cccccc&text=++++500+x+500++++"/></a></li>
</ul>
</div>
</div>
<div class="class">
<h4>クラス1</h4>
<div class="block">
<ul>
<li class="large"><a href="" target="_blank"><img src="http://dummyimage.com/500x500/ffffff/cccccc&text=++++500+x+500++++"/></a></li>
<li class="large"><a href="" target="_blank"><img src="http://dummyimage.com/500x500/ffffff/cccccc&text=++++500+x+500++++"/></a></li>
<li class="large"><a href="" target="_blank"><img src="http://dummyimage.com/500x500/ffffff/cccccc&text=++++500+x+500++++"/></a></li>
<li class="large"><a href="" target="_blank"><img src="http://dummyimage.com/500x500/ffffff/cccccc&text=++++500+x+500++++"/></a></li>
<li class="large"><a href="" target="_blank"><img src="http://dummyimage.com/500x500/ffffff/cccccc&text=++++500+x+500++++"/></a></li>
</ul>
</div>
</div>
<div class="class">
<h4>クラス2</h4>
<div class="block">
<ul>
<li class="medium"><a href="" target="_blank"><img src="http://dummyimage.com/500x500/ffffff/cccccc&text=++++500+x+500++++"/></a></li>
<li class="medium"><a href="" target="_blank"><img src="http://dummyimage.com/500x500/ffffff/cccccc&text=++++500+x+500++++"/></a></li>
<li class="medium"><a href="" target="_blank"><img src="http://dummyimage.com/500x500/ffffff/cccccc&text=++++500+x+500++++"/></a></li>
<li class="medium"><a href="" target="_blank"><img src="http://dummyimage.com/500x500/ffffff/cccccc&text=++++500+x+500++++"/></a></li>
<li class="medium"><a href="" target="_blank"><img src="http://dummyimage.com/500x500/ffffff/cccccc&text=++++500+x+500++++"/></a></li>
<li class="medium"><a href="" target="_blank"><img src="http://dummyimage.com/500x500/ffffff/cccccc&text=++++500+x+500++++"/></a></li>
</ul>
</div>
</div>
<div class="class">
<h4>クラス3</h4>
<div class="block">
<ul>
<li class="small"><a href="" target="_blank"><img src="http://dummyimage.com/500x500/ffffff/cccccc&text=++++500+x+500++++"/></a></li>
<li class="small"><a href="" target="_blank"><img src="http://dummyimage.com/500x500/ffffff/cccccc&text=++++500+x+500++++"/></a></li>
<li class="small"><a href="" target="_blank"><img src="http://dummyimage.com/500x500/ffffff/cccccc&text=++++500+x+500++++"/></a></li>
<li class="small"><a href="" target="_blank"><img src="http://dummyimage.com/500x500/ffffff/cccccc&text=++++500+x+500++++"/></a></li>
<li class="small"><a href="" target="_blank"><img src="http://dummyimage.com/500x500/ffffff/cccccc&text=++++500+x+500++++"/></a></li>
</ul>
</div>
</div>
</div><!--  / .body /  -->
</div><!--  / .section /  -->

