<h3 class="title">{{page-title}}</h3>

<br /><br />
{{#corestaff@size}}
<h3 class="title">CoreStaff</h3>
<div id="core-staff" class="section">
  <div class="body">
    <ul class="staff-list">
      {{#corestaff}}
        <li class="corestaff">
          <div class="img-box">
            <a href="{{site}}" target="_blank"><img src="assets/images/staff/{{asset}}"/></a>
          </div>
          {{#twitter}}
            <a href="{{twitter}}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          {{/twitter}}
          {{#github}}
            <a href="{{github}}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
          {{/github}}
          {{#facebook}}
            <a href="{{facebook}}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          {{/facebook}}
        </li>
      {{/corestaff}}
    </ul>
  </div>
</div>
{{/corestaff@size}}

{{#volunteers@size}}
<h3 class="title">VolunteerStaff</h3>
<div id="volunteer-staff" class="section">
  <div class="body">
    <ul class="staff-list">
      {{#volunteers}}
        <li class="corestaff">
          <div class="img-box">
            <a href="{{site}}" target="_blank"><img src="assets/images/staff/{{asset}}"/></a>
          </div>
          {{#twitter}}
            <a href="{{twitter}}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          {{/twitter}}
          {{#github}}
            <a href="{{github}}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
          {{/github}}
          {{#facebook}}
            <a href="{{facebook}}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          {{/facebook}}
        </li>
      {{/volunteers}}

    </ul>
  </div>
</div>
{{/volunteers@size}}

